@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
background-color: #556B2F;
font-family: 'Lobster', serif;
line-height:1.75;
min-height: 100%;
width: 95%;
color: #333;
margin: 1em;
}
h2 {
margin-left: 0.2em;
}
h2 a {
text-decoration: none;
}
#links {
color: #000;
margin-left: 0.2em;
font-family: 'Open Sans', serif;
text-shadow: 0px 1px 1px #bbb;
}
#links ul li span {
font-size: 0.5em;
margin-left: 0.5em;
}
#links ul li {
list-style-type:georgian;
background-color: #feb369;
padding: 0 10px;
margin: .5em;
}
#links ul li a {
padding: 2px;
padding-right: 6px;
}
