<html>
  <head>
  <title>amyhref.com</title>
    <link rel="shortcut icon" href="/images/amyhref.ico" /> 
    <link href="/css/amyhref.css" media="screen" rel="stylesheet" type="text/css" /> 
  </head>
  <body>
    <h1>Amy Href's Links of the Day</h1>
    <h2 id='date'>todo</h2>
    <div id='links'>
    </div>
  </body>
</html>
