- content_for :javascript_for_footer do
  javascript:
    $(function(){
      setTimeout(function(){
        $.scrollIt({
          upKey: 75,
          downKey: 74,
          scrollTime: 200,          // how long (in ms) the animation takes
          topOffset: -7,
        });
      }, 5000);
    });
