<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Tuesday, Feb 23 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="22610" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://99u.com/articles/52687/the-most-defensible-thing-you-can-do-for-your-career-build-an-audience?utm_source=99U&amp;utm_campaign=75b6a87ef6-Weekly_2_22_2016&amp;utm_medium=email&amp;utm_term=0_bdabfaef00-75b6a87ef6-155416537">The Most Defensible Thing You Can Do for Your Career  Build an Audience   99u</a><p id="break" data-id="22610"></p>
<a id="22770" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://micdotcom.tumblr.com/?utm_source=Mic+Check&amp;utm_campaign=4bb36b3769-Monday_February_222_22_2016&amp;utm_medium=email&amp;utm_term=0_51f2320b33-4bb36b3769-286993097">Mic</a><p id="break" data-id="22770"></p>
<a id="22340" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.npr.org/2016/02/21/467269601/it-changes-you-forever-lady-gaga-on-david-bowie-and-being-brave?curator=MusicREDEF"> It Changes You Forever   Lady Gaga On David Bowie And Being Brave   NPR</a><p id="break" data-id="22340"></p>
<a id="22304" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://espn.go.com/espn/feature/story/_/id/14799377/who-calling-old-40-athletes-40-jaromir-jagr-defied-father?utm_source=Casual+Spectator&amp;utm_campaign=026f8983f4-Campaign_001_02_01_2016&amp;utm_medium=email&amp;utm_term=0_2e9018b243-026f8983f4-279242985">Who you calling old  These 40 athletes over 40  like Jaromir Jagr  defied Father Time</a><p id="break" data-id="22304"></p>
<a id="22712" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.tickettext.co.uk/aeoud/an-evening-of-unnecessary-detail-23022016/">An Evening Of Unnecessary Detail at Backyard Comedy Club</a><p id="break" data-id="22712"></p>
<a id="22413" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.papermag.com/emma-watson-bell-hooks-conversation-1609893784.html">Emma Watson and bell hooks Talk Feminism  Confidence and the Importance of Reading</a><p id="break" data-id="22413"></p>
<a id="22740" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.newyorker.com/business/currency/the-madness-of-airline-elite-status?utm_source=nextdraft&amp;utm_medium=email">The Madness of Airline  lite Status   The New Yorker</a><p id="break" data-id="22740"></p>
<a id="22686" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.learnassembly.com/Ateliers/Business/Comment-creer-juridiquement-son-entreprise/Le-lundi-22-fevrier-2016-a-19-30-00">Comment cr er juridiquement son entreprise     LearnAssembly</a><p id="break" data-id="22686"></p>
<a id="22372" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailyrally.com/email/great-american-finish/?ref=viewonweb&amp;utm_source=The+Daily+Rally&amp;utm_campaign=8019647101-The_Daily_Rally_20150222&amp;utm_medium=email&amp;utm_term=0_8529cab2df-8019647101-229603221">TDR  The Great American Finish</a><p id="break" data-id="22372"></p>
<a id="22640" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://bitly.com/1TxMTDz+">Bitly  The power of the link </a><p id="break" data-id="22640"></p>
<a id="22637" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.web-crunch.com/why-you-should-target-your-audience-by-branding-your-content/">Why you should target your audience by branding your content   Web Crunch</a><p id="break" data-id="22637"></p>
<a id="22369" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mlb.nbcsports.com/2016/02/20/micah-johnson-needed-stitches-after-avocado-incident/?utm_source=The+Daily+Rally&amp;utm_campaign=8019647101-The_Daily_Rally_20150222&amp;utm_medium=email&amp;utm_term=0_8529cab2df-8019647101-229603221">Micah Johnson needed stitches after avocado incident   HardballTalk</a><p id="break" data-id="22369"></p>
<a id="22285" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://eev.ee/blog/2016/02/10/we-have-always-been-at-war-with-ui/">We have always been at war with UI   fuzzy notepad</a><p id="break" data-id="22285"></p>
<a id="22382" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://hbr.org/2015/12/when-youre-worried-about-a-colleagues-mental-health?cm_mmc=email-_-newsletter-_-management_tip-_-tip_date&amp;referral=00203&amp;utm_source=newsletter_management_tip&amp;utm_medium=email&amp;utm_campaign=tip_date">When You re Worried About a Colleague s Mental Health</a><p id="break" data-id="22382"></p>
<a id="22295" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/2/22/11087890/mark-zuckerberg-mwc-picture-future-samsung">This image of Mark Zuckerberg says so much about our future   The Verge</a><p id="break" data-id="22295"></p>
<a id="22324" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/mix/fashion-mix-1456124929523">February 22  2016   Daily Fashion Mix   Jason Hirschhorn s REDEF</a><p id="break" data-id="22324"></p>
<a id="22544" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.atlasobscura.com/articles/obscura-day-2016-is-coming?utm_source=Atlas+Obscura&amp;utm_campaign=e11fc3cf97-Newsletter_2_22_20162_19_2016&amp;utm_medium=email&amp;utm_term=0_62ba9246c0-e11fc3cf97-61391109&amp;ct=t(Newsletter_2_22_20162_19_2016)&amp;mc_cid=e11fc3cf97&amp;mc_eid=6ac52795e5">Obscura Day 2016 is Coming    Atlas Obscura</a><p id="break" data-id="22544"></p>
<a id="22305" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://screengrabber.deadspin.com/heres-how-fox-deportes-announcers-called-the-closest-da-1760457129?utm_source=Casual+Spectator&amp;utm_campaign=026f8983f4-Campaign_001_02_01_2016&amp;utm_medium=email&amp;utm_term=0_2e9018b243-026f8983f4-279242985">Here s How Fox Deportes Announcers Called The Closest Daytona 500 Finish In History</a><p id="break" data-id="22305"></p>
<a id="22414" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://link.fortune.com/manage/4sl/oc?message_id=6152213.00012406&amp;hash=a8dae431">Fortune</a><p id="break" data-id="22414"></p>
</div>
  <p class="archive"><a href="/index-2016-02-22">Yesterday</a></p>
<p>
</p>
</body>
</html>
