<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Mar 06 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="27746" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://motto.time.com/4241071/working-mom-impact-kids/?xid=newsletter-brief">Working Moms  Do Working Moms Negatively Impact Kids    Motto</a><p id="break" data-id="27746"></p>
<a id="27748" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nymag.com/thecut/2016/02/conrad-roy-michelle-carter-c-v-r.html?utm_medium=email&amp;utm_source=digg">Does Encouraging Suicide Make You a Killer     The Cut</a><p id="break" data-id="27748"></p>
<a id="27741" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.tastingtable.com/dine/national/ham-thief-spain-police-los-caracoles?utm_medium=email&amp;utm_source=TT&amp;utm_campaign=Weekend&amp;utm_content=Editorial">Spanish Thief Steals  900 of Ham  Leaves Trail of Fat Behind</a><p id="break" data-id="27741"></p>
<a id="27739" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://longform.org/posts/longform-podcast-182-heather-havrilesky">Longform Podcast  182  Heather Havrilesky</a><p id="break" data-id="27739"></p>
<a id="27696" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/annehelenpetersen/the-down-and-dirty-history-of-tmz?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%20March%204%2C%202016&amp;utm_term=Vox%20Newsletter%20All#.irNNyx4oq">The Down And Dirty History Of TMZ   BuzzFeed NewsBuzzfeed</a><p id="break" data-id="27696"></p>
<a id="27731" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/03/06/magazine/the-plot-to-take-down-a-fox-news-analyst.html?_r=1&amp;mtrref=undefined&amp;gwh=EB58FCDC2BBBE0750286C4C37F0E924D&amp;gwt=pay">The Plot to Take Down a Fox News Analyst   The New York Times</a><p id="break" data-id="27731"></p>
<a id="27672" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://family-studies.org/baby-steps-toward-paid-maternity-leave/">Baby Steps Toward Paid Maternity Leave   Family Studies</a><p id="break" data-id="27672"></p>
<a id="27738" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/local/social-issues/the-mystery-of-why-the-best-african-american-figure-skater-in-history-went-bankrupt-and-lives-in-a-trailer/2016/02/25/a191972c-ce99-11e5-abc9-ea152f0b9561_story.html?tid=sm_fb">The best African American figure skater in history is now bankrupt and living in a trailer   The Washington Post</a><p id="break" data-id="27738"></p>
<a id="27670" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/628331/the-idea-that-mozart-makes-babies-smarter-is-one-of-parentings-most-bizarre-myths/">The idea that Mozart makes your baby smarter is one of parenting s most persistent myths   Quartz</a><p id="break" data-id="27670"></p>
</div>
  <p class="archive"><a href="/index-2016-03-05">Yesterday</a></p>
<p>
</p>
</body>
</html>
