<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Tuesday, Feb 02 2016 😎</h1>
  <div id="links">
  <a id="15229" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/01/26/business-more-successful/">5 Ways to Make Your Business More Successful   Fortune</a><p id="break" data-id="15229"></p>
<a id="15645" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://bucharest.techhub.com/events/open-hours-on-email-marketing-with-rares-banescu">TechHub</a><p id="break" data-id="15645"></p>
<a id="14568" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thenordicweb.com/">The Nordic Web</a><p id="break" data-id="14568"></p>
<a id="15248" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/01/31/fashion/pronoun-confusion-sexual-fluidity.html?_r=0">She  Ze  They  What s In a Gender Pronoun   The New York Times</a><p id="break" data-id="15248"></p>
<a id="15432" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/link-about-it/link-about-it-299?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-01+CH+Daily+for+01+February+2016">Link About It  This Week s Picks   Cool Hunting</a><p id="break" data-id="15432"></p>
<a id="15109" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thehill.com/blogs/ballot-box/presidential-races/267670-report-sanders-raised-20-million-in-january">Sanders raised  20 million in January   TheHill</a><p id="break" data-id="15109"></p>
<a id="14291" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vulture.com/2016/01/shonda-rhimes-on-pga-award-i-deserve-this.html?mid=twitter_cut#">Shonda Rhimes on PGA Award   I Deserve This     Vulture</a><p id="break" data-id="14291"></p>
<a id="15112" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.hollywoodreporter.com/news/sag-awards-diversity-reigns-a-860852">SAG Awards  Diversity Reigns in a Rebuke to  OscarsSoWhite   Hollywood Reporter</a><p id="break" data-id="15112"></p>
<a id="15311" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://pubads.g.doubleclick.net/gampad/jump?iu=/4160/man.fas.newsletters/coexistdaily&amp;sz=728x90&amp;tile=1&amp;c=1454336187332">Fast Company US Subscription</a><p id="break" data-id="15311"></p>
<a id="15695" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/01/trump-self-funding-most-of-his-campaign.html">Trump Self Funding Most of His Campaign   The Daily Beast</a><p id="break" data-id="15695"></p>
<a id="15527" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://chrisguillebeau.com/envelope-stuffing-update">Adventures in Envelope Stuffing Update  There s Still Time to Earn 9 Free Hotel Nights   The Art of Non Conformity</a><p id="break" data-id="15527"></p>
<a id="14660" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.amazon.co.uk/Duri-Rejuvacote-Cures-Split-Cracked/dp/B000G33KEO">Duri Rejuvacote Heal and Cures Split Cracked Nails 14 ml  Amazon co uk  Beauty</a><p id="break" data-id="14660"></p>
<a id="15411" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://accounts.google.com/ServiceLogin?service=oz&amp;passive=1209600&amp;continue=https://plus.google.com/share?url%3Dhttp://www.thedailybeast.com/articles/2016/02/01/grease-live-was-a-sexy-pelvic-thrusting-triumph.html%26via%3Dnewsletter%26source%3DCSAMedition%26gpsrc%3Dgplp0&amp;btmpl=popup#identifier">Google </a><p id="break" data-id="15411"></p>
<a id="15482" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.armanassadi.com/online-businesses-solopreneurs">Top 15 Online Businesses for Aspiring Solopreneurs</a><p id="break" data-id="15482"></p>
<a id="15657" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://accounts.google.com/ServiceLogin?service=oz&amp;passive=1209600&amp;continue=https://plus.google.com/share?url%3Dhttp://eepurl.com/bOFROj%26gpsrc%3Dgplp0&amp;btmpl=popup#identifier">Google </a><p id="break" data-id="15657"></p>
<a id="14288" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.mcsweeneys.net/articles/alternatives-to-resting-bitch-face">McSweeney s Internet Tendency   List  Alternatives to Resting Bitch Face </a><p id="break" data-id="14288"></p>
<a id="15704" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.rollingstone.com/movies/news/leonardo-dicaprios-crusade-inside-the-new-issue-20160112?utm_source=thedailybeast&amp;utm_medium=email&amp;utm_campaign=partner&amp;via=newsletter&amp;source=DDMorning">Leonardo DiCaprio s Crusade  Inside the New Issue   Rolling Stone</a><p id="break" data-id="15704"></p>
<a id="15065" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedailyrally.com/?utm_source=The+Daily+Rally&amp;utm_campaign=8bdd0ccdda-The_Daily_Rally_20150201&amp;utm_medium=email&amp;utm_term=0_8529cab2df-8bdd0ccdda-229603221">The Daily Rally   Get up and Rally </a><p id="break" data-id="15065"></p>
<a id="14294" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thoughtcatalog.com/jessica-winters/2016/01/going-to-extremes-for-love-the-12-most-romantic-gestures-ever/?utm_content=buffer2999a&amp;utm_medium=social&amp;utm_source=twitter.com&amp;utm_campaign=buffer">12 Of The Most Romantic Gestures From History That Put Modern Romance To Shame   Thought Catalog</a><p id="break" data-id="14294"></p>
<a id="15451" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.visualnews.com/?utm_source=VisualNews&amp;utm_campaign=b2ca38ce26-RSS_EMAIL&amp;utm_medium=email&amp;utm_term=0_1756fd36de-b2ca38ce26-297472585">Front Page New   Visual News</a><p id="break" data-id="15451"></p>
</div>
</body>
</html>
