<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Friday, Feb 05 2016 😎</h1>
  <div id="links">
  <a id="16637" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/michael-moore-s-casual-chauvinism.html?via=newsletter&amp;source=politics">Michael Moore s Casual Chauvinism   The Daily Beast</a><p id="break" data-id="16637"></p>
<p>via emails@thedailybeast.com</p>
<a id="16725" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/01/cops-blame-aclu-for-murder-rate-spike.html?via=newsletter&amp;source=CSPMedition">Cops Blame ACLU for Murder Rate Spike   The Daily Beast</a><p id="break" data-id="16725"></p>
<p>via emails@thedailybeast.com</p>
<a id="16669" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/feel-great-gained-weight?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-02_mails_daily_new_header">How to Feel Great Even Though You ve Gained Weight   Greatist</a><p id="break" data-id="16669"></p>
<p>via daily@greatist.com</p>
<a id="16580" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/03/hillary-clinton-can-t-go-nuclear-on-bernie-sanders-yet.html?via=newsletter&amp;source=CSAMedition">Hillary Clinton Can t Go Nuclear on Bernie Sanders Yet   The Daily Beast</a><p id="break" data-id="16580"></p>
<p>via emails@thedailybeast.com</p>
<a id="16592" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/04/north-korea-preparing-missile-launch.html?via=newsletter&amp;source=CSAMedition">North Korea Preparing Missile Launch   The Daily Beast</a><p id="break" data-id="16592"></p>
<p>via emails@thedailybeast.com</p>
<a id="16553" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://the-talks.com/interviews/iris-apfel/?curator=FashionREDEF">Iris Apfel Interview   The Talks</a><p id="break" data-id="16553"></p>
<p>via mediaredef-newsletter@mediaredefined.com</p>
<a id="16552" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/04/fashion/fashion-magazines-look-to-familiar-faces-for-cover-models.html?curator=FashionREDEF&amp;_r=0&amp;mtrref=undefined&amp;gwh=2DE8D5E696D58DBE3391077865E4CA9A&amp;gwt=pay">Fashion Magazines Look to Familiar Faces for Cover Models   The New York Times</a><p id="break" data-id="16552"></p>
<p>via mediaredef-newsletter@mediaredefined.com</p>
<a id="16554" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/d-n-nay/">D N Nay   Now I Know</a><p id="break" data-id="16554"></p>
<p>via dan@nowiknow.com</p>
<a id="16551" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nymag.com/thecut/2016/02/fashion-unfiltered-katharine-zarrella-interview.html?curator=FashionREDEF">Fashion Criticism Gets an Independent New Voice    The Cut</a><p id="break" data-id="16551"></p>
<p>via mediaredef-newsletter@mediaredefined.com</p>
<a id="16723" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/01/15/penn-on-el-chapo-my-article-failed.html?via=newsletter&amp;source=CSPMedition">Penn on El Chapo   My Article Failed    The Daily Beast</a><p id="break" data-id="16723"></p>
<p>via emails@thedailybeast.com</p>
<a id="16631" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://muckrack.com/daily/email:360">Muck Rack Daily   a digest of journalism on Twitter  written by journalists  delivered to your inbox daily</a><p id="break" data-id="16631"></p>
<p>via hello@muckrack.com</p>
<a id="16546" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@carl.whalley/the-reactive-revolution-rxandroid-and-how-it-finally-clicked-for-me-part-1-of-2-a35122a6091e#.wgvpgfonz">The Reactive Revolution  RxAndroid and how it finally clicked for me  part 1 of 2    Medium</a><p id="break" data-id="16546"></p>
<p>via goredani@gmail.com</p>
<a id="16593" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.huffingtonpost.com/entry/racist-roots-of-flints-water-crisis_us_56b12953e4b04f9b57d7b118?utm_hp_ref=politics?utm_hp_ref%3Dpolitics?via%3Ddailybeast&amp;via=newsletter&amp;source=CSAMedition">The Racist Roots Of Flint s Water Crisis</a><p id="break" data-id="16593"></p>
<p>via emails@thedailybeast.com</p>
<a id="16694" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/ted-cruz-s-big-data-meetup-in-trumpland.html?via=newsletter&amp;source=DDAfternoon">Ted Cruz s Sugar Daddy Has a  2 Million Toy Railroad   The Daily Beast</a><p id="break" data-id="16694"></p>
<p>via emails@thedailybeast.com</p>
<a id="16579" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/02/zika-virus-is-confusing-the-hell-out-of-everyone.html?via=newsletter&amp;source=CSAMedition">The More We Know About the Zika Virus  the More Confusing It Gets   The Daily Beast</a><p id="break" data-id="16579"></p>
<p>via emails@thedailybeast.com</p>
<a id="16670" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/how-quickly-get-over-breakup?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-02_mails_daily_new_header">How You Describe Yourself Predicts How Fast You ll Get Over Your Ex   Greatist</a><p id="break" data-id="16670"></p>
<p>via daily@greatist.com</p>
<a id="16666" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/fitness/full-body-dynamic-warm-up?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-02_mails_daily_new_header">Dynamic Stretching  The Full Body Dynamic Warm Up to Prep for Any Workout   Greatist</a><p id="break" data-id="16666"></p>
<p>via daily@greatist.com</p>
<a id="16692" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/exclusive-inside-archer-season-7-from-a-list-guest-stars-to-l-a-mysteries.html?via=newsletter&amp;source=DDAfternoon">Exclusive  Inside  Archer  Season 7  from A List Guest Stars to L A  Mysteries   The Daily Beast</a><p id="break" data-id="16692"></p>
<p>via emails@thedailybeast.com</p>
<a id="16681" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedesignfiles.net/2016/02/louise-kyriakou/">Louise Kyriakou   The Design Files   Australia s most popular design blog </a><p id="break" data-id="16681"></p>
<p>via noreply@thedesignfiles.net</p>
<a id="16697" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/04/christie-won-t-release-bridgegate-emails.html?via=newsletter&amp;source=DDAfternoon">Christie Won t Release Bridgegate Emails   The Daily Beast</a><p id="break" data-id="16697"></p>
<p>via emails@thedailybeast.com</p>
<a id="16683" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://player.vimeo.com/video/61645611?byline=0&amp;portrait=0&amp;color=ffffff:1">FACE O MAT   Your Face in 3 Minutes  from Tobias Gutmann on Vimeo</a><p id="break" data-id="16683"></p>
<p>via noreply@thedesignfiles.net</p>
</div>
</body>
</html>
