<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Thursday, Mar 03 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="25924" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://en.wikipedia.org/wiki/Transcranial_direct-current_stimulation">Transcranial direct current stimulation   Wikipedia  the free encyclopedia</a><p id="break" data-id="25924"></p>
<a id="26424" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/nasa-begins-work-build-quieter-supersonic-passenger-jet/">NASA is Making a New Supersonic  Super Quiet Jet</a><p id="break" data-id="26424"></p>
<a id="26352" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://w3c.github.io/webappsec-credential-management/?utm_source=html5weekly&amp;utm_medium=email">Credential Management Level 1</a><p id="break" data-id="26352"></p>
<a id="26148" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://play.spotify.com/user/113101784/playlist/4ssnXs1CBd9nnxPxHb4upK?ct=t(The_political_selfie2_28_2016)&amp;mc_cid=729466f753&amp;mc_eid=e0c3427e10">Spotify</a><p id="break" data-id="26148"></p>
<a id="25920" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.themuse.com/advice/7-signs-youre-fast-approaching-a-breakdown-at-work-and-how-to-slam-on-the-brakes">7 Signs You re Fast Approaching a Breakdown at Work  and How to Slam on the Brakes </a><p id="break" data-id="25920"></p>
<a id="25931" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://medicalxpress.com/news/2016-02-vigorous-boosts-critical-neurotransmitters-mental.html">Vigorous exercise boosts critical neurotransmitters  may help restore mental health</a><p id="break" data-id="25931"></p>
<a id="26393" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/tariniparti/establishment-republicans-are-furious-with-john-kasich#.hcRng1k45">Establishment Republicans Are Furious With John Kasich   BuzzFeed NewsBuzzfeed</a><p id="break" data-id="26393"></p>
<a id="25994" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://sebastien-gabriel.com/designers-guide-to-dpi/">Designer s guide to DPI</a><p id="break" data-id="25994"></p>
<a id="26382" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/blogs/compost/wp/2016/03/02/chris-christies-wordless-screaming/">Chris Christie s wordless screaming   The Washington Post</a><p id="break" data-id="26382"></p>
<a id="26031" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.tastingtable.com/entertain/national/editors-picks-march-2016-new-products-bobs-burger-book-chris-shepherd-apron?utm_medium=email&amp;utm_source=TT&amp;utm_campaign=Daily&amp;utm_content=Editorial">March 2016 Editors  Picks   Insatiable   XO Sauce</a><p id="break" data-id="26031"></p>
<a id="26211" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://data.triplebyte.com/fixing-the-inequity-of-startup-equity-469793baad1e?gi=57ecde80f90f">Fixing the Inequity of Startup Equity   Triplebyte Blog   Medium</a><p id="break" data-id="26211"></p>
<a id="25935" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://hbr.org/2016/03/what-startup-accelerators-really-do?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26828360&amp;_hsenc=p2ANqtz-9hdW0ROLPxIL39ILSsyqk4O_oF8UWKx-ppJeHZRi-uXmd7MYIvtG3NPMZ_UtZTGm0EVpw5uDKaJdXm5Sw2OgTcXASo9A&amp;_hsmi=26828360">What Startup Accelerators Really Do</a><p id="break" data-id="25935"></p>
<a id="26147" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nymag.com/thecut/2016/02/mastercard-will-soon-accept-selfies-as-passwords.html?om_rid=AAV1DF&amp;om_mid=_BWzhUjB9LDvpGt&amp;ct=t(The_political_selfie2_28_2016)&amp;mc_cid=729466f753&amp;mc_eid=e0c3427e10">MasterCard Will Soon Accept Selfies As Passwords    The Cut</a><p id="break" data-id="26147"></p>
<a id="26405" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.latimes.com/politics/la-na-democrats-super-tuesday-20160301-story.html">Hillary Clinton looks to start sewing up the Democratic nomination on Super Tuesday   LA Times</a><p id="break" data-id="26405"></p>
<a id="26092" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://99percentinvisible.org/episode/mojave-phone-booth/?utm_source=99%25+Invisible&amp;utm_medium=email&amp;utm_campaign=5e5fd29016-RSS_EMAIL_CAMPAIGN&amp;utm_term=0_f773924a7f-5e5fd29016-96510209">Mojave Phone Booth   99  Invisible</a><p id="break" data-id="26092"></p>
<a id="26101" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcodesign.com/3057060/how-a-designers-3-year-old-daughter-is-humanizing-google?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=codesign-daily&amp;position=2&amp;partner=newsletter&amp;campaign_date=03022016">How A Designer s 3 Year Old Daughter Is Humanizing Google   Co Design   business   design</a><p id="break" data-id="26101"></p>
<a id="26212" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://sumome.com/stories/0-10k-nat-eliason">Growing a Site from 0 to 10k Visitors a Month  Nat Eliason Edition   SumoMe</a><p id="break" data-id="26212"></p>
<a id="25985" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.scientificamerican.com/article/nature-versus-nurture-versus-nasa/?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%203/1/16&amp;utm_term=Vox%20Newsletter%20All">Nature versus Nurture versus NASA   Scientific American</a><p id="break" data-id="25985"></p>
<a id="26182" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcocreate.com/3057337/adidas-drops-trailer-for-its-first-ever-full-length-skateboarding-film?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=fast-company-daily-cocreate&amp;position=1&amp;partner=newsletter&amp;campaign_date=03022016">Adidas Drops Trailer For Its First Ever Full Length Skateboarding Film   Co Create   creativity   culture   commerce</a><p id="break" data-id="26182"></p>
<a id="25949" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.cleanshelf.com/blog/feeltheburn-strategies-to-control-costs-in-the-current-startup?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26828360&amp;_hsenc=p2ANqtz-_n5Y-R7d9DPW7hOJgs2bI9jOkXdXbC72ol6ajECpnw9sVixomZJTNP36SwSdTfNlRFP1-1bjUtmI23I1E9f__zMKNA1Q&amp;_hsmi=26828360"> FeelTheBurn  Strategies to control costs in the current startup environment</a><p id="break" data-id="25949"></p>
<a id="26467" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.good.is/features/captain-planet-and-the-planeteers?utm_source=thedailygood&amp;utm_medium=email&amp;utm_campaign=dailygood">Designing a World Where Environmentalists Win   GOOD</a><p id="break" data-id="26467"></p>
<a id="26391" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.politico.com/2016-election/results/delegate-count-tracker">2016 Delegate Count Tracker  2016 Election    POLITICO</a><p id="break" data-id="26391"></p>
</div>
  <p class="archive"><a href="/index-2016-03-02">Yesterday</a></p>
<p>
</p>
</body>
</html>
