<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Friday, Mar 04 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="26626" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sxsw.com/news/2016/sxsw-announces-president-barack-obama-and-first-lady-michelle-obama">President Barack Obama and First Lady Michelle Obama Announced as SXSW Keynotes</a><p id="break" data-id="26626"></p>
<a id="26618" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.gq.com/story/school-of-seven-bells-alejandra-deheza-interview?curator=MusicREDEF">How the Last Member of School of Seven Bells Carries On Her Late Bandmate s Legacy   GQ</a><p id="break" data-id="26618"></p>
<a id="26588" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/mix/fashion-mix-1456980474113">March 3  2016   Daily Fashion Mix   Jason Hirschhorn s REDEF</a><p id="break" data-id="26588"></p>
<a id="26582" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/03/02/i-m-a-model-this-is-why-the-law-needs-to-protect-me.html?curator=FashionREDEF">I m a Model  This Is Why the Law Needs to Protect Me    The Daily Beast</a><p id="break" data-id="26582"></p>
<a id="26948" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/discover/well-kept-wipes?utm_source=Sailthru&amp;utm_medium=email&amp;utm_content=story8_title&amp;utm_campaign=daily_newsletter_2016-03-02_mails_daily_new_header">Well Kept Wipes  The Best Cell Phone Screen Cleaner   Greatist</a><p id="break" data-id="26948"></p>
<a id="26784" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcodesign.com/3057403/analyzing-the-ux-of-the-presidential-candidates-websites?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=codesign-daily&amp;position=4&amp;partner=newsletter&amp;campaign_date=03032016">A UX Designer Explains Which Presidential Candidate Has The Best  And Worst  Website   Co Design   business   design</a><p id="break" data-id="26784"></p>
<a id="26546" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thefader.com/2016/03/01/mitski-puberty-2">Mitski Details Puberty 2  Shares Tour Dates   The FADER</a><p id="break" data-id="26546"></p>
<a id="26607" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.mtv.com/news/2748232/macklemore-fights-white-privilege-and-loses/?curator=MusicREDEF">Macklemore Fights White Privilege  And Loses    MTV</a><p id="break" data-id="26607"></p>
<a id="26519" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/03/02/upshot/donald-drumpf-is-beating-rubio-and-cruz-for-second-in-web-searches.html?_r=0&amp;mtrref=undefined&amp;gwh=AF7F474FB4C8930A69331BC708F90677&amp;gwt=pay"> Donald Drumpf  Is Beating Rubio and Cruz for Second in Google Searches   The New York Times</a><p id="break" data-id="26519"></p>
<a id="26507" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/katienotopoulos/proof-disney-is-actually-marketing-zootopia-to-furries?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%203/2/16&amp;utm_term=Vox%20Newsletter%20All#.sivnqxO0B">Proof Disney Is Actually Marketing  Zootopia  To Furries   BuzzFeed NewsBuzzfeed</a><p id="break" data-id="26507"></p>
<a id="26726" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcompany.com/3057292/the-future-of-work/the-surprising-one-size-fits-all-solution-to-the-gender-leadership-gap?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=colead-daily-newsletter-featured&amp;position=3&amp;partner=newsletter&amp;campaign_date=03032016">The Surprising  One Size Fits All Solution To The Gender Leadership Gap   Fast Company   Business   Innovation</a><p id="break" data-id="26726"></p>
<a id="26807" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.atlasobscura.com/articles/the-worlds-first-global-dance-critic-was-a-victorian-aerobics-teacher?utm_source=Atlas+Obscura&amp;utm_campaign=8ffaca8167-Newsletter_3_3_20163_2_2016&amp;utm_medium=email&amp;utm_term=0_62ba9246c0-8ffaca8167-61391109&amp;ct=t(Newsletter_3_3_20163_2_2016)&amp;mc_cid=8ffaca8167&amp;mc_eid=6ac52795e5">The World s First Global Dance Critic Was a Victorian Aerobics Teacher   Atlas Obscura</a><p id="break" data-id="26807"></p>
<a id="26530" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.hollywoodreporter.com/lists/best-movie-quotes-hollywoods-top-867142/item/you-know-how-whistle-dont-866915?utm_source=nextdraft&amp;utm_medium=email">Best Movie Quotes  Hollywood s Top 100 Lines   Hollywood Reporter</a><p id="break" data-id="26530"></p>
<a id="26901" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://firstround.com/review/transform-employee-equity-compensation-in-two-steps-heres-how/?ct=t(How_Does_Your_Leadership_Team_Rate_12_3_2015)">Transform Employee Equity Compensation in Two Steps   Here s How   First Round Review</a><p id="break" data-id="26901"></p>
<a id="26662" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.elle.com/fashion/shopping/news/a34525/ashley-graham-dressbarn-collection/">Model Ashley Graham Is Now a Designer  Too   Beyond by Ashley Graham for Dressbar at Dressbarnlogologologo</a><p id="break" data-id="26662"></p>
<a id="26583" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/629448/once-a-fading-couture-house-valentino-is-now-a-1-billion-brand-and-a-street-style-phenomenon/?curator=FashionREDEF">Once a fading couture house  Valentino is now a  1 billion brand and a street style phenomenon   Quartz</a><p id="break" data-id="26583"></p>
<a id="26657" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/03/03/women-digitally-fluent/">Women s Digital Fluency Is the Key to Closing the Gender Gap   Fortune</a><p id="break" data-id="26657"></p>
<a id="26485" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bothsidesofthetable.com/2016/03/01/what-do-lps-think-about-what-is-going-on-in-the-venture-capital-markets/?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26876474&amp;_hsenc=p2ANqtz-8i8TV5yjIPr6oHAAUarV9Oxoc9LuWHiP1Ivn3VQC8MQqkxmY91__4N-6km5Y5jq7WEpaul8D5RpxyOQeTJzoMZI2EmaA&amp;_hsmi=26876474">What Do LPs Think of the Venture Capital Markets for 2016    Bothsides of the Table</a><p id="break" data-id="26485"></p>
<a id="26608" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.billboard.com/articles/columns/pop/6889497/rihanna-work-dancehall-essay?curator=MusicREDEF">Rihanna Puts Dancehall Back on Top with  Work    Billboard</a><p id="break" data-id="26608"></p>
<a id="26641" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/they-blue-it/">They Blue It   Now I Know</a><p id="break" data-id="26641"></p>
<a id="26527" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theguardian.com/technology/2016/feb/28/what-happened-after-ashley-madison-was-hacked?utm_source=nextdraft&amp;utm_medium=email">Life after the Ashley Madison affair   Technology   The Guardian</a><p id="break" data-id="26527"></p>
<a id="26996" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcocreate.com/3057393/not-all-olympians-are-millionaires-in-new-dicks-sporting-goods-campaign?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=cocreate-daily&amp;position=1&amp;partner=newsletter&amp;campaign_date=03032016">Not All Olympians Are Millionaires In New Dick s Sporting Goods Campaign   Co Create   creativity   culture   commerce</a><p id="break" data-id="26996"></p>
</div>
  <p class="archive"><a href="/index-2016-03-03">Yesterday</a></p>
<p>
</p>
</body>
</html>
