<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Monday, Feb 15 2016 😎</h1>
  <div id="links">
  <a id="17720" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://alistapart.com/article/finessing-fecolormatrix">Finessing  feColorMatrix    An A List Apart Article</a><p id="break" data-id="17720"></p>
<a id="18070" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.youtube.com/watch?v=zfi9uzQ_fSA">Van Liempt Live  Rutte in Silicon Valley   VAN LIEMPT LIVE   YouTube</a><p id="break" data-id="18070"></p>
<a id="17537" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.newyorker.com/humor/daily-shouts/a-letter-to-my-creative-writing-class?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/12/16&amp;utm_term=Vox%20Newsletter%20All">A Letter to My Creative Writing Class   The New Yorker</a><p id="break" data-id="17537"></p>
<a id="18037" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://londonist.yplanapp.com/london/documentary-shorts-telling-big-stories-in-short-format-46995/?utm_source=londonist&amp;utm_medium=affiliate&amp;utm_campaign=article&amp;utm_content=things_to_do_today">Documentary Shorts  Telling Big Stories in Short Format Tickets   London   YPlan</a><p id="break" data-id="18037"></p>
<a id="17946" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/original/letter-to-the-publisher-digital-magazines-arent-working">Letter to the Publisher  Digital Magazines aren t Working    Original   REDEF</a><p id="break" data-id="17946"></p>
<a id="17570" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.designernews.co/stories/63745-ama-elliot-jay-stocks-cofounder-of-lagom-magazine-founder-of-8-faces-magazine-former-creative-director-of-adobe-typekit">AMA  Elliot Jay Stocks  co founder of Lagom magazine  founder of 8 Faces magazine  former Creative Director of Adobe Typekit   Designer News</a><p id="break" data-id="17570"></p>
<a id="17786" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://insurancethoughtleadership.com/zenefits-compliance-saga-takes-a-turn/">Zenefits Compliance Saga Takes a Turn   Insurance Thought Leadership</a><p id="break" data-id="17786"></p>
<a id="17694" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://generalassemb.ly/win/big-austin-tech-fest-2016?promo_id=4d28eeb8-d4de-4b53-afbb-2bf279e891c6&amp;campaign_id=112&amp;utm_source=email&amp;utm_medium=partner%7Cemail&amp;utm_campaign=ct%3Dsweepstake%7Cpo%3Dsavoteur%7Cme%3Dglobal%7Ccd%3Dglobal">General AssemblyWin a Trip to that Big Tech Festival in Austin  TX</a><p id="break" data-id="17694"></p>
<a id="17612" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.tastingtable.com/dine/national/beyonce-formation-red-lobster-hot-sauce?utm_medium=email&amp;utm_source=TT&amp;utm_campaign=Weekend&amp;utm_content=Editorial">Beyonce s Red Lobster Name Drop Sent Droves to the Chain</a><p id="break" data-id="17612"></p>
<a id="17719" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.emblemetric.com/2016/02/10/heart-rate-rising/">Heart Rate Rising   Emblemetric</a><p id="break" data-id="17719"></p>
<a id="17571" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/613700/its-here-quartzs-first-news-app-for-iphone/">It s here  Quartz s first news app for iPhone   Quartz</a><p id="break" data-id="17571"></p>
<a id="17800" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.mckinsey.com/global-themes/leadership/getting-beyond-the-bs-of-leadership-literature">Getting beyond the BS of leadership literature   McKinsey   Company</a><p id="break" data-id="17800"></p>
<a id="18039" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://thebookclub.eventcube.io/events/2961/herstory-evening">The Book Club</a><p id="break" data-id="18039"></p>
<a id="18026" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://helloblockchain.ideofutures.com/index.html">The Future of Trust  Transactions  and Reputation</a><p id="break" data-id="18026"></p>
<a id="17932" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wired.com/2016/02/silicon-valley-wants-to-disrupt-orgasms-with-science/?curator=MediaREDEF">Silicon Valley Wants to Disrupt Orgasms With Science    WIRED</a><p id="break" data-id="17932"></p>
<a id="18042" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bushhallmusic.co.uk/whats-on/events/15-feb-16-passport-to-brits-week---bloc-party-bush-hall/">PASSPORT TO BRITs WEEK   BLOC PARTY   Bush Hall  Shepherds Bush   Bush Hall Music</a><p id="break" data-id="18042"></p>
<a id="17581" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://europe.newsweek.com/russia-syria-intervention-cease-fire-425991?utm_source=email&amp;utm_medium=email&amp;utm_campaign=rss">Checkmate in Syria  How Russia Mastered the Board</a><p id="break" data-id="17581"></p>
<a id="18058" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedesignfiles.net/2016/02/ann-sherry-and-michael-hogan/#comments">Ann Sherry and Michael Hogan   The Design Files   Australia s most popular design blog </a><p id="break" data-id="18058"></p>
<a id="17358" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/nitashatiku/india-ruling-trai-free-basics#.xywO7wP64">India Just Banned Facebook s Controversial Free Internet Plan   BuzzFeed NewsBuzzfeed</a><p id="break" data-id="17358"></p>
<a id="17729" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nautil.us/issue/33/attraction/shell-text-me-shell-text-me-not">Formula for Love  How Long Should You Wait to Text Back </a><p id="break" data-id="17729"></p>
<a id="17561" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.vice.com/read/why-theres-no-uber-for-sex-work-304">Why There s No Uber for Sex Work   VICE   United States</a><p id="break" data-id="17561"></p>
</div>
</body>
</html>
