<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Monday, Feb 29 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="25664" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theatlantic.com/author/ingrid-burrington/">Ingrid Burrington   The Atlantic</a><p id="break" data-id="25664"></p>
<a id="25727" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://vinepair.com/good-wine-reviews/review-qupe-central-coast-syrah/?utm_source=The+Drop+by+VinePair&amp;utm_campaign=2172818377-Feb_28_2016&amp;utm_medium=email&amp;utm_term=0_b653fb8c99-2172818377-45343489">Review  Qup  Central Coast Syrah   VinePair</a><p id="break" data-id="25727"></p>
<a id="25624" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fusion.net/series/all-def-movie-awards/?utm_source=admaded&amp;utm_medium=email&amp;utm_campaign=20160228">All Def Movie Awards Feb 28th Presented by Fusion   News  Pop Culture  Satire    Fusion</a><p id="break" data-id="25624"></p>
<a id="25707" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.flickr.com/photos/scottrsmith/4815441718/in/photolist-8kwp4d-8iNf3e-8DpFv5-f8JZEa-fDMeax-ct6a4E-9dBeKm-nUH3s1-Gnf6T-4SiRw6-oucUQB-aAf28B-8BSGXv-8BSGUn-9N7sYG-xaRxM-8UAJuC-7Remoo-pTmZ59-9pyoHg-8DKGAj-brwRtR-nw3Dj9-e1bkhH-DTjq-966uBF-ecQcR9-aND6rv-oc8Fx3-qMyPd-8UsqTb-AwaN7y-oEcCAD-5cBm2C-9GxAii-bYZWV-a3YfVX-9xdfVU-aLFp5D-99uQ4i-hCzLsy-4SbhfP-61msC-owF8j1-bDntzB-pr2K73-71gpUg-9vKchU-btFhic-x9YCZC">The Wizarding World of Harry Potter  This Way To Hogwarts   Flickr   Photo Sharing 3d pan white</a><p id="break" data-id="25707"></p>
<a id="25647" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.elle.com/author/5145/mattie-kahn/">Mattie Kahn   ELLElogologologo</a><p id="break" data-id="25647"></p>
<a id="25570" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/624065/a-tip-to-americans-from-an-italian-who-saw-berlusconi-get-elected-again-and-again-and-again/">Donald Trump is not a joke  A warning to Americans from an Italian who survived Berlusconi   Quartz</a><p id="break" data-id="25570"></p>
<a id="25507" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.worldcat.org/title/complete-poetry-and-collected-prose/oclc/8034382&amp;referer=brief_results?mc_cid=4559a30cf8&amp;mc_eid=a5e09646c7">Complete poetry and collected prose  Book  1982   WorldCat org </a><p id="break" data-id="25507"></p>
<a id="25653" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fivethirtyeight.com/features/lebrons-3-point-shot-has-abandoned-him/">LeBron s 3 Point Shot Has Abandoned Him   FiveThirtyEight</a><p id="break" data-id="25653"></p>
<a id="25629" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.manrepeller.com/2016/02/kesha-mr-round-table.html">MR Round Table  Kesha   and Women Like Her   Need Our Support  So What Do We Do    Man Repeller</a><p id="break" data-id="25629"></p>
<a id="25599" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/28/magazine/the-robots-are-coming-for-wall-street.html?_r=2&amp;mtrref=undefined">The Robots Are Coming for Wall Street   The New York Times</a><p id="break" data-id="25599"></p>
<a id="25626" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://motto.time.com/4232268/3-ways-better-leader/?xid=newsletter-brief">How to Become a Better Leader   Motto</a><p id="break" data-id="25626"></p>
<a id="25606" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theguardian.com/business/2016/feb/23/london-stock-exchange-in-merger-talks-with-deutsche-borse">London Stock Exchange in merger talks with Deutsche B rse   Business   The Guardian</a><p id="break" data-id="25606"></p>
<a id="25578" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://aeon.co/essays/could-machines-have-become-self-aware-without-our-knowing-it">Could machines have become self aware without our kn   </a><p id="break" data-id="25578"></p>
<a id="25783" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bothsidesofthetable.com/2016/02/18/the-full-dataset-on-what-vcs-are-thinking-about-funding-in-2016/?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26726983&amp;_hsenc=p2ANqtz-9lzVUkCQw-VWEasQL9j7XZMbWPeDpunBRzAY5wSI4GtW4gHXd_JcMnxeN2om3gzM-z6-Pn-qzYcpP8hg_Ihc4RnOIrRQ&amp;_hsmi=26726983">The Full Dataset on What VCs are Thinking About Funding in 2016   Bothsides of the Table</a><p id="break" data-id="25783"></p>
<a id="25616" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wired.com/2016/02/ibm-and-microsoft-will-let-you-roll-your-own-blockchain/">IBM and Microsoft Will Let You Roll Your Own Blockchain   WIRED</a><p id="break" data-id="25616"></p>
<a id="25569" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bbc.co.uk/news/magazine-35560458">The man who made  the worst video game in history    BBC NewsBBC News</a><p id="break" data-id="25569"></p>
<a id="25573" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mobile.nytimes.com/2016/01/17/opinion/sunday/why-i-taught-myself-to-procrastinate.html?_r=0">Why I Taught Myself to Procrastinate   NYTimes com</a><p id="break" data-id="25573"></p>
<a id="25607" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bloomberg.com/news/articles/2016-02-23/oscar-said-to-be-valued-at-2-7-billion-in-fidelity-led-round">Oscar Said to Be Valued at  2 7 Billion in Fidelity Led Round   Bloomberg Business</a><p id="break" data-id="25607"></p>
<a id="25789" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcodesign.com/3054433/design-moves/the-most-important-design-jobs-of-the-future?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=codesign-daily-expert&amp;position=1&amp;partner=newsletter&amp;campaign_date=02282016">The Most Important Design Jobs Of The Future   Co Design   business   design</a><p id="break" data-id="25789"></p>
<a id="25582" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://europe.newsweek.com/discordia-moises-saman-arab-spring-interview-431012?utm_source=email&amp;utm_medium=email&amp;utm_campaign=rss">In Conversation  Photographer Moises Saman On His Journey Documenting the Arab Spring</a><p id="break" data-id="25582"></p>
<a id="25699" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://queen-of-hoxton.eventcube.io/events/2941/hoxton-ukulele-hootenanny">Queen of Hoxton</a><p id="break" data-id="25699"></p>
<a id="25508" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.brainpickings.org/2016/02/23/w-e-b-du-bois-yolande-letter/?mc_cid=4559a30cf8&amp;mc_eid=a5e09646c7">W E B  Dubois on Earning One s Privilege  His Magnificent Letter of Advice to His Teenage Daughter   Brain Pickings</a><p id="break" data-id="25508"></p>
</div>
  <p class="archive"><a href="/index-2016-02-28">Yesterday</a></p>
<p>
</p>
</body>
</html>
