<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Feb 28 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="25380" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/25/fashion/tattoo-regret-a-painful-if-improved-reversal-awaits.html?curator=FashionREDEF&amp;_r=0&amp;mtrref=undefined&amp;gwh=12DDD390CE353E3FDE05A52801D113AE&amp;gwt=pay">Tattoo Removal Takes Tiny Steps Forward   The New York Times</a><p id="break" data-id="25380"></p>
<a id="25367" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/23/here-s-how-michael-bloomberg-becomes-president.html">Here s How Michael Bloomberg Becomes President   The Daily Beast</a><p id="break" data-id="25367"></p>
<a id="25465" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vanityfair.com/culture/2016/02/american-girls-social-media-excerpt">Selfies  Dating  and the American 14 Year Old   Vanity Fair</a><p id="break" data-id="25465"></p>
<a id="25413" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/darrensands/jim-clyburn-endorses-hillary-clinton-in-a-room-full-of-berni?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=New%20Campaign&amp;utm_term=Vox%20Newsletter%20All#.bx4mD6AXqz">Jim Clyburn Endorses Hillary Clinton   In A Room Full Of Bernie Supporters   BuzzFeed NewsBuzzfeed</a><p id="break" data-id="25413"></p>
<a id="25468" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.gq.com/story/germanwings-flight-9525-final-moments">The Real Story of Germanwings Flight 9525   GQ</a><p id="break" data-id="25468"></p>
<a id="25495" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.niemanlab.org/2015/08/the-new-york-times-built-a-slack-bot-to-help-decide-which-stories-to-post-to-social-media/">The New York Times built a Slack bot to help decide which stories to post to social media   Nieman Journalism Lab</a><p id="break" data-id="25495"></p>
<a id="25434" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://europe.newsweek.com/can-mark-zuckerberg-really-change-nappy-20-seconds-430721?utm_source=email&amp;utm_medium=email&amp;utm_campaign=rss">Can Mark Zuckerberg Really Change a Nappy in 20 Seconds </a><p id="break" data-id="25434"></p>
<a id="25457" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fusion.net/video/271750/real-future-episode-8-hack-attack/">Video  I Dared Two Elite Hackers to Ruin My Life   Fusion</a><p id="break" data-id="25457"></p>
<a id="25381" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nymag.com/thecut/2016/02/adele-makeup-artist-michael-ashton-beauty-products.html?curator=FashionREDEF">Meet the Artist Behind Adele s Perfect Eyeliner    The Cut</a><p id="break" data-id="25381"></p>
<a id="25464" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.riverfronttimes.com/stlouis/juan-thompson-landed-a-dream-job-writing-about-st-louis-for-the-national-media-but-was-any-of-it-true/Content?oid=3060756&amp;showFullText=true">Juan Thompson Wrote About St  Louis for the National Media  But Were Any of His Stories True    Feature   St  Louis News and Events   Riverfront Times</a><p id="break" data-id="25464"></p>
<a id="25363" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bloomberg.com/news/articles/2016-02-23/why-sony-music-can-t-easily-cancel-kesha-s-contract?curator=MediaREDEF">Why Sony Music Can t Easily Cancel Kesha s Contract   Bloomberg Business</a><p id="break" data-id="25363"></p>
<a id="25443" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wired.com/2016/02/facebook-reactions-totally-redesigned-like-button/">Facebook Reactions  the Totally Redesigned Like Button  Is Here   WIRED</a><p id="break" data-id="25443"></p>
<a id="25366" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/mix/media-mix-1456301954677">February 24  2016   Daily Media Mix   Jason Hirschhorn s REDEF</a><p id="break" data-id="25366"></p>
<a id="25364" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://espn.go.com/espn/feature/story/_/id/14767250/the-exclusive-story-how-feds-took-fifa?curator=MediaREDEF">The exclusive story of how the feds took down FIFA</a><p id="break" data-id="25364"></p>
<a id="25462" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://longform.org/posts/longform-podcast-181-wesley-yang">Longform Podcast  181  Wesley Yang</a><p id="break" data-id="25462"></p>
<a id="25379" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wsj.com/articles/nordstroms-high-cost-for-online-sales-1456174730?curator=FashionREDEF">Nordstrom s High Cost for Online Sales   WSJ</a><p id="break" data-id="25379"></p>
<a id="25378" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.inc.com/magazine/201603/leigh-buchanan/rebel-athletic-custom-cheerleading-uniforms-startup.html?curator=FashionREDEF">Meet Rebel Athletic  the  20 Million Custom Cheerleading Uniform Startup Living Up to Its Name   Inc com</a><p id="break" data-id="25378"></p>
<a id="25377" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mic.com/articles/135822/why-makeup-for-transgender-people-matters-and-how-the-internet-is-helping?curator=FashionREDEF">Why Makeup Matters to Transgender People   and How the Internet Is Helping   Mic</a><p id="break" data-id="25377"></p>
<a id="25499" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/552549/wechat-and-western-union-strike-deal-for-global-money-transfers/">WeChat and Western Union strike deal for global money transfers   Quartz</a><p id="break" data-id="25499"></p>
</div>
  <p class="archive"><a href="/index-2016-02-27">Yesterday</a></p>
<p>
</p>
</body>
</html>
