<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Thursday, Feb 11 2016 😎</h1>
  <div id="links">
  <a id="17084" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/02/09/adidas-women-subscription/">Adidas Debuts Subscription Box Service For Women   Fortune</a><p id="break" data-id="17084"></p>
<a id="17025" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/2/9/10950270/obama-budget-wage-insurance/in/10703369?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/9/16&amp;utm_term=Vox%20Newsletter%20All">President Obama s budget calls for a new wage insurance program  Here s what that means    Vox</a><p id="break" data-id="17025"></p>
<a id="17108" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/turns-earth-isnt-habitable-think/">Turns out  Earth Isn t as Habitable as We Think</a><p id="break" data-id="17108"></p>
<a id="17103" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/science-and-health/2016/2/8/10925098/animals-have-empathy?utm_source=nextdraft&amp;utm_medium=email">Do animals feel empathy  Inside the decades long quest for an answer    Vox</a><p id="break" data-id="17103"></p>
<a id="17113" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/2/10/10956978/donald-trump-terrifying">The rise of Donald Trump is a terrifying moment in American politics   Vox</a><p id="break" data-id="17113"></p>
<a id="17062" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.slow-journalism.com/infographic-revisionist-history?utm_source=The+Slow+Post&amp;utm_campaign=0b73087e87-SlowPost_160210&amp;utm_medium=email&amp;utm_term=0_373f3f2f3c-0b73087e87-339295585">Infographic  Revisionist history   The Slow Journalism Magazine</a><p id="break" data-id="17062"></p>
<a id="17021" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/policy-and-politics/2016/2/9/10951090/rachel-maddow-ezra-klein?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/9/16&amp;utm_term=Vox%20Newsletter%20All">Rachel Maddow on skinhead protests  AIDS activism  and why she skips the op ed page   Vox</a><p id="break" data-id="17021"></p>
<a id="17057" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/listen/tyler-the-creator-perfect-featuring-kali-uchis-austin-feinstein?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-10+CH+Daily+for+10+February+2016">Tyler  The Creator feat  Kali Uchis   Austin Feinstein  Perfect   Cool Hunting</a><p id="break" data-id="17057"></p>
<a id="17038" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@anchorfm/introducing-anchor-the-first-true-public-radio-9d4c98c0a495?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26091387&amp;_hsenc=p2ANqtz-_0N99N-fmwmVV0C17UZmnlrjxajeld9QMtDCk-B1nvu8hQbi0WiSK1tRtAvKt-yIBg_ifrK-otqMoNEA_SsLkE09Wcrw&amp;_hsmi=26091387#.szo6fh9tn">Introducing Anchor  the first true public radio   Medium</a><p id="break" data-id="17038"></p>
<a id="17098" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedesignfiles.net/2016/02/nikki-to/#comments">Nikki To   The Design Files   Australia s most popular design blog </a><p id="break" data-id="17098"></p>
<a id="17106" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/images/want-to-be-a-robotics-engineer-heres-what-youll-need/?src=home">Want to be a Robotics Engineer  Here s What You ll Need</a><p id="break" data-id="17106"></p>
<a id="17097" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.red-gate.com/products/dotnet-development/ants-performance-profiler/entrypage/52-dotnet-performance-tips?utm_expid=108631182-31.5Eb-R6z-QHKLTyXdLA-2og.1&amp;utm_source=html5weekly&amp;utm_medium=displayemail&amp;utm_content=52_net_tips&amp;utm_campaign=antsperformanceprofiler&amp;utm_term=email-24694">Free eBook with 52  NET Performance Tips   Redgate</a><p id="break" data-id="17097"></p>
<a id="17069" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/eat/negative-food-messages-make-us-eat-more?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-09_mails_daily_new_header">Negative Food Messages Make Us Eat More   Greatist</a><p id="break" data-id="17069"></p>
<a id="17030" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/elections/2016/primaries/new-hampshire?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/9/16&amp;utm_term=Vox%20Newsletter%20All">New Hampshire Primary Results   Election 2016   NYTimes com</a><p id="break" data-id="17030"></p>
<a id="17024" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/2/9/10941690/campaign-finance-left?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/9/16&amp;utm_term=Vox%20Newsletter%20All">The great money in politics myth   Vox</a><p id="break" data-id="17024"></p>
<a id="17096" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://css-tricks.com/the-backgound-clip-property-and-use-cases/?utm_source=html5weekly&amp;utm_medium=email">The  background clip  Property and its Use Cases   CSS Tricks</a><p id="break" data-id="17096"></p>
<a id="17099" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedesignfiles.net/2016/02/nikki-to/">Nikki To   The Design Files   Australia s most popular design blog </a><p id="break" data-id="17099"></p>
<a id="17061" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.slow-journalism.com/in-pictures-the-dg-infographics-tour?utm_source=The+Slow+Post&amp;utm_campaign=0b73087e87-SlowPost_160210&amp;utm_medium=email&amp;utm_term=0_373f3f2f3c-0b73087e87-339295585">In pictures  the DG infographics tour   The Slow Journalism Magazine</a><p id="break" data-id="17061"></p>
<a id="17093" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/2/4/10915930/mozilla-firefox-os-internet-of-things?utm_source=html5weekly&amp;utm_medium=email">Mozilla outlines the end of Firefox OS on phones and looks to IoT future   The Verge</a><p id="break" data-id="17093"></p>
<a id="17095" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@_jh3y/how-to-pure-css-masonry-layouts-a8ede07ba31a?utm_source=html5weekly&amp;utm_medium=email">HOW TO  Pure CSS masonry layouts   Medium</a><p id="break" data-id="17095"></p>
<a id="17081" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/09/science/new-ways-into-the-brains-music-room.html?curator=MediaREDEF&amp;_r=0&amp;mtrref=undefined&amp;gwh=DEEDF4B68585E2A013EA76C99732B4EF&amp;gwt=pay">New Ways Into the Brain s  Music Room    The New York Times</a><p id="break" data-id="17081"></p>
</div>
</body>
</html>
