<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Monday, Feb 01 2016 😎</h1>
  <div id="links">
  <a id="14179" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://link.greatist.com/manage/35b/oc?message_id=56ae7308e9328b5434d16a56&amp;hash=83336b5a">Email Settings for amyhref@gmail.com</a><p id="break"></p>
<a id="13967" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56ae332ddb1f9a3a71d162a0?action=twitter&amp;curator=MediaREDEF">Post a Tweet on Twitter</a><p id="break"></p>
<a id="13980" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/item/56adb9013b73bffd49f3b4f1?curator=MediaREDEF&amp;sid=5699385dfc23830a688b49a9&amp;date=01/31/16">The Story and Nightmare Emails Behind One Elite Silver Lake Preschool's Turmoil</a><p id="break"></p>
<a id="13951" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56add4113b73bffd49f3b582?action=twitter&amp;curator=MediaREDEF">Post a Tweet on Twitter</a><p id="break"></p>
<a id="14107" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://shift.com/">Shift | The completely reimagined way to buy or sell a used car</a><p id="break"></p>
<a id="13908" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56ad6640db1f9a3a71d15f26?action=facebook&amp;curator=MediaREDEF">Facebook</a><p id="break"></p>
<a id="13710" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://designation.io/chromantics/">Chromantics: the psychology of color</a><p id="break"></p>
<a id="13688" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.ft.com/cms/s/0%2Fd50ad5f4-c125-11e5-9fdb-87b8d15baec2.html">Google strikes £130m back tax deal - FT.com</a><p id="break"></p>
<a id="13904" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56ad65ac3b73bffd49f3b3cd?action=facebook&amp;curator=MediaREDEF">Facebook</a><p id="break"></p>
<a id="13713" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.cbsnews.com/news/donald-trump-beating-ted-cruz-in-iowa-because-of-canada-citizenship-woes-2016/">Donald Trump: I'm beating Ted Cruz in Iowa because of citizenship woes - CBS News</a><p id="break"></p>
<a id="13990" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/item/56ae332ddb1f9a3a71d162a0?curator=MediaREDEF&amp;sid=5699385dfc23830a688b49a9&amp;date=01/31/16">Cheap cab ride? You must have missed Uber’s true cost | Evgeny Morozov | Opinion | The Guardian</a><p id="break"></p>
<a id="13901" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56ad6450db1f9a3a71d15f0f?action=instapaper&amp;curator=MediaREDEF">Instapaper</a><p id="break"></p>
<a id="14208" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.pinterest.com/vinepair/?utm_source=The+Drop+by+VinePair&amp;utm_campaign=c2f80a35a9-Welcome_To_VinePair_09_2015&amp;utm_medium=email&amp;utm_term=0_b653fb8c99-c2f80a35a9-45343489">VinePair on Pinterest</a><p id="break"></p>
<a id="13910" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56ad6640db1f9a3a71d15f26?action=pocket&amp;curator=MediaREDEF">Pocket: Log In</a><p id="break"></p>
<a id="13960" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56add2dd33db061f62835c99?action=facebook&amp;curator=MediaREDEF">Facebook</a><p id="break"></p>
<a id="13949" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56adce393b73bffd49f3b547?action=instapaper&amp;curator=MediaREDEF">Instapaper</a><p id="break"></p>
<a id="13903" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/articleshare/56ad65ac3b73bffd49f3b3cd?action=twitter&amp;curator=MediaREDEF">Post a Tweet on Twitter</a><p id="break"></p>
<a id="14118" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.lennyletter.com/about/terms-of-use">Terms of Uselogologologo</a><p id="break"></p>
</div>
</body>
</html>
