<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Tuesday, Mar 01 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="25860" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.slideshare.net/skysoclear/10-ux-design-hacks">10 UX Design Hacks</a><p id="break" data-id="25860"></p>
<a id="25799" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mic.com/articles/136489/this-oscars-montage-just-skewered-the-hell-out-of-the-oscars-all-white-acting-nominees?utm_source=Mic+Check+Daily+Oscars+Edition&amp;utm_campaign=895bbf62dc-Sunday_February_28_OSCARS_2_28_2016&amp;utm_medium=email&amp;utm_term=0_8fa5c5e653-895bbf62dc-287848229#.lAT2OziwZ">This Oscars Montage Just Skewered the Hell Out of the Oscars  All White Acting Nominees   Mic</a><p id="break" data-id="25799"></p>
<a id="25865" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://outside.hotjar.com/2016/02/15/case-study-how-an-ecommerce-site-used-hotjar-to-increase-online-sales-by-30/">How an eCommerce Site used Hotjar to Increase Online Sales By 30 </a><p id="break" data-id="25865"></p>
<a id="25863" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.themediaflow.com/blog/digital-hampshire-roundup">Digital Hampshire Roundup by theMediaFlow</a><p id="break" data-id="25863"></p>
<a id="25868" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/621385/bill-gates-predicts-a-clean-energy-breakthrough-within-15-years-will-save-the-planet/">Bill Gates predicts a clean energy breakthrough within 15 years will save the planet   Quartz</a><p id="break" data-id="25868"></p>
</div>
  <p class="archive"><a href="/index-2016-02-29">Yesterday</a></p>
<p>
</p>
</body>
</html>
