<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Tuesday, Feb 09 2016 😎</h1>
  <div id="links">
  <a id="16833" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/07/arts/music/beyonce-formation-super-bowl-video.html?_r=0&amp;mtrref=undefined&amp;gwh=60F0F86269E6460AE5DC55DAC8DB5D00&amp;gwt=pay">Beyonc  in  Formation   Entertainer  Activist  Both    The New York Times</a><p id="break" data-id="16833"></p>
<a id="16860" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/barbie-new-body-image?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-08_mails_daily_new_header">Curvy Barbie Looks Realistic  Could Impact Our Body Image   Greatist</a><p id="break" data-id="16860"></p>
<a id="16824" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/05/magazine/bow-in-the-presence-of-greatnesson-kanye-wests-twitter.html?curator=MusicREDEF&amp;_r=0&amp;mtrref=undefined&amp;gwh=E14181F81411F2D05D810C5613C3C382&amp;gwt=pay">Bow in the Presence of Greatness  On Kanye West s Twitter   The New York Times</a><p id="break" data-id="16824"></p>
<a id="16822" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@pmoe/this-is-how-you-raise-a-seed-round-in-2016-c2b7c4c1beb6?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=25998795&amp;_hsenc=p2ANqtz-_6HQ4OzJ8wBCTCPgdCeFsVMLlnnT8EPPNoObfrVDXpcR0WUsEYiGtulSflcoSQie0DmMiJt2sGUW0tVIqDCDdnMurl6g&amp;_hsmi=25998795#.igotspy9n">This is how you raise a seed round in 2016    Hacker Daily   Medium</a><p id="break" data-id="16822"></p>
<a id="16845" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/link-about-it/link-about-it-300?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-08+CH+Daily+for+08+February+2016">Link About It  This Week s Picks   Cool Hunting</a><p id="break" data-id="16845"></p>
<a id="16880" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/2/8/10934804/tim-cook-blurry-super-bowl-photo?utm_medium=email&amp;utm_campaign=NAT_SUPERBOWL_TECH&amp;utm_source=wakefield%20daily&amp;utm_term=national">People are being super mean to Tim Cook about his blurry Super Bowl photo   The Verge</a><p id="break" data-id="16880"></p>
<a id="16874" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.usatoday.com/story/money/columnist/abrams/2016/02/05/strategies-year-monkey-brings-success-small-business/79785926/?utm_medium=email&amp;utm_campaign=NY_BIZ_2/8/16&amp;utm_source=wakefield%20daily&amp;utm_term=ny">Strategies  Year of the Monkey brings success to small business</a><p id="break" data-id="16874"></p>
<a id="16843" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/food-drink/not-your-fathers-root-beer-ginger-ale?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-08+CH+Daily+for+08+February+2016">Not Your Father s Ginger Ale   Cool Hunting</a><p id="break" data-id="16843"></p>
<a id="16849" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/tech/teenage-engineering-new-pocket-operators-synths-robot-arcade-office?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-08+CH+Daily+for+08+February+2016">Teenage Engineering s New Pocket Operators   Cool Hunting</a><p id="break" data-id="16849"></p>
<a id="16857" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/all-natural-sleep-tips-video?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-08_mails_daily_new_header">Can t Sleep  How to Fall Asleep Faster Without Pills   Greatist</a><p id="break" data-id="16857"></p>
<a id="16862" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/healthy-hair-tips?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-08_mails_daily_new_header">Healthy Hair Tips  13 Common Mistakes to Avoid   Greatist</a><p id="break" data-id="16862"></p>
<a id="16838" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/08/sports/football/jerricho-cotchery-darian-stewart.html?_r=0&amp;mtrref=undefined&amp;gwh=8F4E2B19D6D0A272C4016C1052691994&amp;gwt=pay">Once Again  Fuzzy N F L  Catch Rule Impacts Outcome   The New York Times</a><p id="break" data-id="16838"></p>
<a id="16878" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://disrupt-africa.com/2016/02/sliide-airtime-to-launch-lock-screen-content-platform-in-nigeria/">Sliide Airtime to launch lock screen content platform in Nigeria</a><p id="break" data-id="16878"></p>
<a id="16842" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/listen/moderat-reminder?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-08+CH+Daily+for+08+February+2016">Moderat  Reminder   Cool Hunting</a><p id="break" data-id="16842"></p>
<a id="16816" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@pejmannozad/tech-s-most-unlikely-venture-capitalist-bb002488f297?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=25998795&amp;_hsenc=p2ANqtz-_O0G4f7TcKDST9h1Ay5pHzOXonm5wBmxGnuasRFnZfijw9e0MEz1FUli6FIpr06_PutXnpGBBaUWbUZXXVQLI2psh-2A&amp;_hsmi=25998795#.duqr12wmv">Tech s Most Unlikely Venture Capitalist   Medium</a><p id="break" data-id="16816"></p>
<a id="16855" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/nsfw-peta-video-vegans-last-longer?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-08_mails_daily_new_header">PETA Ad Makes False Claims About Vegans and Sex   Greatist</a><p id="break" data-id="16855"></p>
<a id="16817" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@destroysultan/500-week-1-2-first-impression-f9eccb2d77c8?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=25998795&amp;_hsenc=p2ANqtz-9aaYXXwxhJ-hDbzxSRjALD1sgYgmLZfowbiBd962b-XHnv0ufML4Cvj1iqexZ0-MMeGvNTDnq2IEnT0uQ31q5V0YHABg&amp;_hsmi=25998795#.wctd98ge6"> 500  Week 1   2  First Impression   Medium</a><p id="break" data-id="16817"></p>
<a id="16881" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/01/10/opinion/sunday/you-dont-need-more-free-time.html?_r=3&amp;utm_campaign=Remotive%2B-%2BProductive%2BRemote%2BWorkers&amp;utm_medium=email&amp;utm_source=Remotive_-_Productive_Remote_Workers_55">You Don t Need More Free Time   The New York Times</a><p id="break" data-id="16881"></p>
<a id="16879" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/2/7/10933844/super-bowl-2016-cbs-sports-app-outage-apple-tv?utm_medium=email&amp;utm_campaign=NAT_SUPERBOWL_TECH&amp;utm_source=wakefield%20daily&amp;utm_term=national">CBS Sports app suffers Super Bowl outage on Apple TV   The Verge</a><p id="break" data-id="16879"></p>
<a id="16875" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/08/world/asia/china-performing-monkeys.html?_r=1&amp;utm_medium=email&amp;utm_campaign=NY_BIZ_2/8/16&amp;utm_source=wakefield%20daily&amp;utm_term=ny">Chinese Animal Trainers Looking for Respect in the Year of the Monkey   The New York Times</a><p id="break" data-id="16875"></p>
<a id="16882" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://sethgodin.typepad.com/seths_blog/2016/01/deconstructing-urgent-vs-important.html?utm_campaign=Remotive%2B-%2BProductive%2BRemote%2BWorkers&amp;utm_medium=email&amp;utm_source=Remotive_-_Productive_Remote_Workers_55">Seth s Blog  Deconstructing urgent vs  important</a><p id="break" data-id="16882"></p>
<a id="16830" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/08/sports/football/jerricho-cotchery-darian-stewart.html?_r=0&amp;mtrref=undefined&amp;gwh=DF45DC43F7BB38141D6BA1DB626E7A1F&amp;gwt=pay">Once Again  Fuzzy N F L  Catch Rule Impacts Outcome   The New York Times</a><p id="break" data-id="16830"></p>
</div>
</body>
</html>
