<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Jan 31 2016 😎</h1>
  <div id="links">
  <a id="13509" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://elpais.com/elpais/2016/01/19/inenglish/1453208692_424660.html?id_externo_rsoc=TW_CM">Interview:  Zygmunt Bauman: “Social media are a trap” | In English | EL PAÍS</a><p id="break"></p>
<a id="13625" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312225-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=the-heretics-guide-to-global-finance-hacking-the-future-of-money</a><p id="break"></p>
<a id="13620" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312205-www.bobsguide.com/guide/news/2016/jan/26/citi-and-imperial-college-london-launch-latest-digital-money-report.html?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://www.bobsguide.com/guide/news/2016/Jan/26/citi-and-imperial-college-london-launch-latest-digital-money-report.html</a><p id="break"></p>
<a id="13618" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312197-www.pymnts.com/news/payment-methods/2016/how-many-consumers-pay-with-amazon/?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://www.pymnts.com/news/payment-methods/2016/how-many-consumers-pay-with-amazon/</a><p id="break"></p>
<a id="13662" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://en.wikipedia.org/wiki/Decoding_Reality">Decoding Reality - Wikipedia, the free encyclopedia</a><p id="break"></p>
<a id="13704" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://techcrunch.com/2016/01/27/facebook-grows/">Facebook Hits 100M Hours Of Video Watched A Day, 1B Users On Groups, 80M On Fb Lite  |  TechCrunch</a><p id="break"></p>
<a id="13499" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.yahoo.com/parenting/meet-the-family-who-adopts-babies-they-know-will-225514881.html">Meet the Family Who Adopt Babies They Know Will Die</a><p id="break"></p>
<a id="13669" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theguardian.com/commentisfree/2016/jan/28/britain-war-yemen-saudi-arabia-military-advisers">Britain is at war with Yemen. So why does nobody know about it? | Owen Jones | Opinion | The Guardian</a><p id="break"></p>
<a id="13637" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312273-www.linkedin.com/groups/8250731?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to https://www.linkedin.com/groups/8250731</a><p id="break"></p>
<a id="13491" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4193343/barbie-i-dont-have-to-avoid-her-any-more/?xid=newsletter-parents">Barbie: At Last, My Long Parental Nightmare is Over</a><p id="break"></p>
<a id="13495" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4199721/why-do-we-have-the-breastfeeding-wars-two-words-maternity-leave/?xid=newsletter-politics?xid=newsletter-parents">Breastfeeding: Why is the War Still On?</a><p id="break"></p>
<a id="13705" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bloomberg.com/news/articles/2016-01-22/google-paid-apple-1-billion-to-keep-search-bar-on-iphone">Google Paid Apple $1 Billion to Keep Search Bar on iPhone - Bloomberg Business</a><p id="break"></p>
<a id="13612" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312173-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=developing-a-fintech-ecosystem-in-the-gcc-let%E2%80%99s-get-ready-for-take-off</a><p id="break"></p>
<a id="13638" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312277-thefintechsociety.com/?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/</a><p id="break"></p>
<a id="13507" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.forbes.stfi.re/sites/falgunidesai/2016/01/27/startup-ecosystem-begins-to-question-the-effectiveness-of-accelerators/?sf=ryjnwo#7c625ac32ef5">Startup Ecosystem Begins To Question The Effectiveness Of Accelerators</a><p id="break"></p>
<a id="13698" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bloomberg.com/news/articles/2016-01-21/google-s-android-generates-31-billion-revenue-oracle-says-ijor8hvt">Google's Android Generates $31 Billion Revenue, Oracle Says - Bloomberg Business</a><p id="break"></p>
<a id="13684" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wired.com/2016/01/facebook-zuckerberg-internet-org/">Inside Facebook's Ambitious Plan to Connect the Whole World | WIRED</a><p id="break"></p>
<a id="13617" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312193-www.finextra.com/news/fullstory.aspx?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://www.finextra.com/news/fullstory.aspx?newsitemid=28383</a><p id="break"></p>
<a id="13666" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.independent.co.uk/news/world/modern-art-was-cia-weapon-1578808.html">Modern art was CIA 'weapon' | World | News | The Independent</a><p id="break"></p>
<a id="13490" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4195647/three-reasons-why-time-outs-may-be-damaging-your-child/?xid=newsletter-politics?xid=newsletter-parents">3 Reasons Why Time-Outs May Be Damaging Your Child</a><p id="break"></p>
<a id="13498" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.huffingtonpost.com/2014/10/23/madonna-badger-oprah-lesson_n_6029986.html">The Heartbreaking Lesson Madonna Badger Learned After Losing Her 3 Daughters In Christmas Fire (VIDEO)</a><p id="break"></p>
<a id="13665" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://arablit.org/2014/02/03/ganzeer-on-the-visual-language-of-the-apartment-in-bab-el-louk/">Ganzeer on the Visual Language of ‘The Apartment in Bab El-Louk’ – Arabic Literature (in English)</a><p id="break"></p>
<a id="13494" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://subscription.time.com/storefront/subscribe-to-time/site/td-2offersfamily0722.html?link=1024998&amp;fpa_oc=Chop+216+3+Offers+TIME+for+Family+Order+Form">Time Magazine Subscription Offer</a><p id="break"></p>
<a id="13702" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://techcrunch.com/2016/01/28/facebook-shutters-its-parse-developer-platform/">Facebook Shutters Its Parse Developer Platform  |  TechCrunch</a><p id="break"></p>
</div>
</body>
</html>
