<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Wednesday, Feb 24 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="23005" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/tim-cook-apple-q-and-a/?curator=MediaREDEF">Exclusive Q A  Apple CEO Tim Cook   Fortune</a><p id="break" data-id="23005"></p>
<a id="23008" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.laphamsquarterly.org/spies/open-inspection?curator=MediaREDEF">Open to Inspection   Lapham s Quarterly</a><p id="break" data-id="23008"></p>
<a id="23422" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theatlantic.com/politics/archive/2016/02/obama-guantanamo-congress/470535/?utm_source=nextdraft&amp;utm_medium=email">Obama s Last Pitch to Congress for Closing Guantanamo Bay   The Atlantic</a><p id="break" data-id="23422"></p>
<a id="22917" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.startupgrind.com/events/details/startup-grind-dublin-presents-claire-mchugh-axonista-1#/">Claire McHugh  Axonista    Startup Grind</a><p id="break" data-id="22917"></p>
<a id="22974" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://motherboard.vice.com/read/half-the-planet-is-going-to-need-glasses-by-2050?utm_source=mbtwitter">Half the Planet Is Going to Need Glasses by 2050   Motherboard</a><p id="break" data-id="22974"></p>
<a id="22982" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.businessoffashion.com/articles/india-inc/india-fashion-world-manufacturing-powerhouse-garment-textile-industry?curator=FashionREDEF">India  the Fashion World s Next Manufacturing Powerhouse    Global Currents  India Inc   BoF</a><p id="break" data-id="22982"></p>
<a id="22949" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://rhrealitycheck.org/article/2013/06/04/norristown-ordinance-and-impact-on-domestic-violence-victims-2/">How Domestic Violence Survivors Get Evicted From Their Homes After Calling the Police How Domestic Violence Survivors Get Evicted From Their Homes After Calling the Police</a><p id="break" data-id="22949"></p>
<a id="23321" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedoschool.org/blog/do-school-news/campus-opening/">Campus Opening   The DO School</a><p id="break" data-id="23321"></p>
<a id="23062" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://screamer.deadspin.com/shut-up-we-can-do-this-1760531578?utm_campaign=socialflow_deadspin_twitter&amp;utm_source=deadspin_twitter&amp;utm_medium=socialflow&amp;utm_source=The+Daily+Rally&amp;utm_campaign=d0791c5149-The_Daily_Rally_20150223&amp;utm_medium=email&amp;utm_term=0_8529cab2df-d0791c5149-229603221">Shut Up  We Can Do This</a><p id="break" data-id="23062"></p>
<a id="23022" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://artsbeat.blogs.nytimes.com/2016/02/22/adele-is-back-on-top-but-kanye-wests-album-doesnt-make-chart/?_r=0">Adele Is Back on Top  but Kanye West s Album Doesn t Make Chart   The New York Times</a><p id="break" data-id="23022"></p>
<a id="22987" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/original/costuming-the-tipping-point-with-mad-max-fury-roads-jenny-beavan?curator=FashionREDEF">Costuming the Tipping Point With Mad Max  Fury Road s Jenny Beavan   Original   REDEF</a><p id="break" data-id="22987"></p>
<a id="22793" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sitepoint.com/remote-debugging-for-front-end-developers/">Remote Debugging for Front End Developers</a><p id="break" data-id="22793"></p>
<a id="23125" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://newrepublic.com/article/130144/forgotten-feminism-lola-ridge">The Forgotten Feminism of Lola Ridge   New Republic</a><p id="break" data-id="23125"></p>
<a id="23113" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://recode.net/2016/02/22/twitter-hires-former-apple-exec-natalie-kerris-as-vp-of-communications/">Twitter Hires Natalie Kerris as VP of Communictaions   Re code</a><p id="break" data-id="23113"></p>
<a id="22932" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.irishtimes.com/business/innovation/innovation-awards-2016/registration">Innovation Awards 2016 Registration   The Irish Times</a><p id="break" data-id="22932"></p>
<a id="23116" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wsj.com/articles/older-women-reshape-u-s-job-market-1456192536">How Older Women Are Reshaping U S  Job Market   WSJ</a><p id="break" data-id="23116"></p>
<a id="23000" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://backchannel.com/when-comcast-s-business-as-usual-turns-out-to-limit-minority-access-180fe19a4e46?curator=MediaREDEF&amp;gi=650c2819a7c5">When Comcast s Business As Usual Turns Out to Limit Minority Access   Backchannel   Medium</a><p id="break" data-id="23000"></p>
<a id="22944" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://hbr.org/2015/12/commit-to-under-scheduling-in-2016?cm_mmc=email-_-newsletter-_-management_tip-_-tip_date&amp;referral=00203&amp;utm_source=newsletter_management_tip&amp;utm_medium=email&amp;utm_campaign=tip_date">Commit to Under Scheduling in 2016</a><p id="break" data-id="22944"></p>
<a id="23434" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://read.atavist.com/satchel-paige-and-the-championship-for-the-reelection-of-the-general?utm_source=nextdraft&amp;utm_medium=email">Satchel Paige and the Championship for the Reelection of the General   The Atavist Magazine</a><p id="break" data-id="23434"></p>
</div>
  <p class="archive"><a href="/index-2016-02-23">Yesterday</a></p>
<p>
</p>
</body>
</html>
