<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Wednesday, Feb 10 2016 😎</h1>
  <div id="links">
  <a id="16988" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedesignfiles.net/2016/02/veronica-kent-and-scott-tinkler/">Veronica Kent and Scott Tinkler   The Design Files   Australia s most popular design blog </a><p id="break" data-id="16988"></p>
<a id="16922" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/quizzes/name-the-countries-based-on-how-youd-spell-their-names-on-a-telephone/">Name the Countries Based on How You d Spell Their Names on a Telephone   Now I Know Quizzes</a><p id="break" data-id="16922"></p>
<a id="16949" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/can-minds-live-forever-new-experiments-aim-make-happen/">Can Our Minds Live Forever  New Experiments Aim to Make it Happen</a><p id="break" data-id="16949"></p>
<a id="16926" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/the-history-of-being-on-hold/">The History of Being on Hold   Now I Know</a><p id="break" data-id="16926"></p>
<a id="17014" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/eating-disorder-birthday?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-08_mails_daily_new_header">Eating Disorders  Why They re Never Really Over   Greatist</a><p id="break" data-id="17014"></p>
<a id="16896" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@alibhamed/coventure-2015-2016-letter-to-lp-s-919b1ee33df6?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26043812&amp;_hsenc=p2ANqtz-_3iEzYYYqYQmWrzBl9HzPsavxcKH2waqi351X3CD0ikAkIPW7dKs4k7tzhvhqqmYlN6tB0atrqxCySGHEADTvg0pqvGg&amp;_hsmi=26043812#.s7pyfqfpq">CoVenture 2015 2016 Letter to LP s   Medium</a><p id="break" data-id="16896"></p>
<a id="16892" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/08/opinion/the-zika-virus-and-brazilian-womens-right-to-choose.html?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202.8.16&amp;utm_term=Vox%20Newsletter%20All&amp;_r=0&amp;mtrref=undefined&amp;gwh=C9470DE17330B87BC2784FFC844E7EEC&amp;gwt=pay&amp;assetType=opinion">The Zika Virus and Brazilian Women s Right to Choose   The New York Times</a><p id="break" data-id="16892"></p>
<a id="16957" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/miniature-optical-switch-uses-single-atom-send-data-lightspeed/">Meet the Optical Switch That is Just a Single Atom Thick</a><p id="break" data-id="16957"></p>
<a id="17002" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/mckaycoppins/the-anxiety-of-marco-rubio#.bsX09E3a9">The Anxiety Of Being Marco Rubio   BuzzFeed NewsBuzzfeed</a><p id="break" data-id="17002"></p>
<a id="16924" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.amazon.com/Now-Know-2016-Daily-Calendar/dp/1440588643">Now I Know 2016 Daily Calendar  Revealing Stories Behind the World s Most Interesting Facts  Dan Lewis  9781440588648  Amazon com  Books</a><p id="break" data-id="16924"></p>
<a id="16927" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/enjoy-the-silence/">Enjoy the Silence   Now I Know</a><p id="break" data-id="16927"></p>
<a id="16983" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/cuepoint/what-s-in-a-song-7690324e4a5?curator=MusicREDEF">What s in a Song    Cuepoint   Medium</a><p id="break" data-id="16983"></p>
<a id="16883" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/2/8/10913398/free-basics-india-regulator-ruling?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202.8.16&amp;utm_term=Vox%20Newsletter%20All">Facebook s Free Basics service has been banned in India   The Verge</a><p id="break" data-id="16883"></p>
<a id="16929" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/the-sound-of-silence/">The Sound of Silence   Now I Know</a><p id="break" data-id="16929"></p>
<a id="17018" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/what-nails-reveal-about-health?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-08_mails_daily_new_header">What Do Nail Problems Mean for Your Health    Greatist</a><p id="break" data-id="17018"></p>
<a id="16901" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/02/08/exclusive-accenture-is-the-first-big-consulting-firm-to-publish-race-and-gender-stats/">Exclusive  Accenture Is the First Big Consulting Firm to Publish Race and Gender Stats   Fortune</a><p id="break" data-id="16901"></p>
<a id="16990" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/09/sports/super-bowl-carolina-panthers-cam-newton.html?_r=0">Cam Newton  Sacked Six Times  Brings Himself Down   The New York Times</a><p id="break" data-id="16990"></p>
<a id="16898" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/07/travel/tokyo-architecture-design.html?mtrref=undefined&amp;_r=1&amp;mtrref=undefined&amp;gwh=0C13A4F24841B3E9162B8DF812B80F4C&amp;gwt=pay">In Tokyo  Brand Name Stores by Brand Name Architects   The New York Times</a><p id="break" data-id="16898"></p>
<a id="16989" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.usatoday.com/story/sports/columnist/brennan/2016/02/07/super-bowl-50-christine-brennan-imagining-nfl-50-years-now/79970430/?curator=SportsREDEF">Brennan  Imagining the NFL 50 years from now</a><p id="break" data-id="16989"></p>
<a id="17010" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/eat/creative-chickpea-recipes?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-08_mails_daily_new_header">Chickpea Recipes  32 Brilliant Ways to Use Chickpeas  That Aren t Hummus    Greatist</a><p id="break" data-id="17010"></p>
<a id="16946" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/gravitational-wave-rumors-may-confirmed-not/">Gravitational Wave Rumors May Be Confirmed  or not  </a><p id="break" data-id="16946"></p>
</div>
</body>
</html>
