<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Friday, Feb 26 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="24301" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theguardian.com/music/musicblog/2016/feb/24/brit-awards-2016-theres-no-fun-in-being-told-what-you-already-know?curator=MusicREDEF">Brit awards 2016  there s no fun in being told what you already know   Music   The Guardian</a><p id="break" data-id="24301"></p>
<a id="24375" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fusion.net/video/271750/real-future-episode-8-hack-attack/?curator=MediaREDEF">Video  I Dared Two Elite Hackers to Ruin My Life   Fusion</a><p id="break" data-id="24375"></p>
<a id="24508" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcodesign.com/3057012/is-virtual-reality-sexist?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=fast-company-daily-codesign&amp;position=1&amp;partner=newsletter&amp;campaign_date=02252016">Is Virtual Reality Sexist     Co Design   business   design</a><p id="break" data-id="24508"></p>
<a id="24238" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.huffingtonpost.com/victoria-silchenko/theres-a-newold-sheriff-i_b_9295908.html?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26624145&amp;_hsenc=p2ANqtz-9YCRaKaFDqjTd7q_7OpJYI3sWXQZQrUc4h_-uYtca6Fqr8S9QEUHQAuslRcP9OIYDfxGgndqbA7jLVqsKMlQ0JWSGzUw&amp;_hsmi=26624145">There s a New Old Sheriff in Town  Royalty Financing for Young Ventures</a><p id="break" data-id="24238"></p>
<a id="24873" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/85-jobs-threatened-automation-spell-doom/">Reports Reveal Millions of Jobs are Threatened by Automation  Does This Spell Doom </a><p id="break" data-id="24873"></p>
<a id="24444" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailyrally.com/email/upset-special/?ref=viewonweb&amp;utm_source=The+Daily+Rally&amp;utm_campaign=db2af4ca89-The_Daily_Rally_20150225&amp;utm_medium=email&amp;utm_term=0_8529cab2df-db2af4ca89-229603221">TDR  Upset Special</a><p id="break" data-id="24444"></p>
<a id="24495" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/buy/dwell-studio-farrah-dining-chair?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-25+CH+Daily+for+25+February+2016">Farrah Dining Chair   Cool Hunting</a><p id="break" data-id="24495"></p>
<a id="24397" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://europe.newsweek.com/millennials-saving-generation-k-finance-noreena-hertz-430225?utm_source=email&amp;utm_medium=email&amp;utm_campaign=rss">Generation K  Why Today s Teens are More Careful With Their Money</a><p id="break" data-id="24397"></p>
<a id="24845" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://daringfireball.net/linked/2016/02/24/iphone-impregnability?utm_source=nextdraft&amp;utm_medium=email">Daring Fireball  The Next Step in iPhone Impregnability</a><p id="break" data-id="24845"></p>
<a id="24265" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://mubi.com/films/the-birth-of-a-nation?utm_campaign=weekly_newsletter&amp;utm_source=newsletter&amp;utm_medium=email">The Birth of a Nation  1915    MUBI</a><p id="break" data-id="24265"></p>
<a id="24313" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/24/lorde-delivers-powerful-david-bowie-tribute-at-brit-awards.html">Lorde Delivers Powerful David Bowie Tribute at BRIT Awards   The Daily Beast</a><p id="break" data-id="24313"></p>
<a id="24700" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/eat/food-experts-biggest-kitchen-wastes?utm_source=Sailthru&amp;utm_medium=email&amp;utm_content=story8_title&amp;utm_campaign=daily_newsletter_2016-02-23_mails_daily_new_header">19 Food Experts Reveal the Biggest Waste of Money in Their Kitchen   Greatist</a><p id="break" data-id="24700"></p>
<a id="24300" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.billboard.com/articles/columns/hip-hop/6889442/kanye-west-twitter-life-pablo-essay?curator=MusicREDEF">Kanye West  Why Making Sense of His Twitter   His Mad Genius Is Impossible   Billboard</a><p id="break" data-id="24300"></p>
<a id="24790" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedesignfiles.net/2016/02/andrea-shaw-2/">Andrea Shaw   The Design Files   Australia s most popular design blog </a><p id="break" data-id="24790"></p>
<a id="24699" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://firstround.com/review/the-adaptable-leader-is-the-new-holy-grail-become-one-hire-one/?ct=t(How_Does_Your_Leadership_Team_Rate_12_3_2015)">The  Adaptable Leader  is the New Holy Grail   Become One  Hire One   First Round Review</a><p id="break" data-id="24699"></p>
<a id="24271" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nymag.com/tags/fashion-feelings/">Fashion Feelings News   New York Magazine</a><p id="break" data-id="24271"></p>
<a id="24485" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcoexist.com/3057089/our-disposable-culture-means-we-toss-relationships-as-quickly-as-we-throw-away-objects?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=coexist-daily&amp;position=3&amp;partner=newsletter&amp;campaign_date=02252016">Our Disposable Culture Means We Toss Relationships As Quickly As We Throw Away Objects   Co Exist   ideas   impact</a><p id="break" data-id="24485"></p>
<a id="24691" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.slow-journalism.com/and-the-winner-is?utm_source=The+Slow+Post&amp;utm_campaign=2e386d51b9-SlowPost_160225&amp;utm_medium=email&amp;utm_term=0_373f3f2f3c-2e386d51b9-339295585">And the winner is    The Slow Journalism Magazine</a><p id="break" data-id="24691"></p>
<a id="24422" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.flickr.com/photos/quinndombrowski/5200218267/in/photolist-8VwtHD-cjNRK9-fhcBt-2aK8qD-ejtKe2-9ngeX2-ed6zUX-oddpGc-5BAVk6-9ous4q-pE48UW-z9yamK-9ZYh9F-6QNmnr-5BUY7a-7SaxCz-fea96C-5YMPCn-5ALSck-oKsJQf-4E6bgT-cxdeWA-AykQEk-4qV2ze-bWXfCV-5dug58-8pYxP2-9kWMxV-nHHNG3-dZ6B5A-wDorR-nT79Wh-qdPaqi-5xoWP8-bTesRX-6bFvrH-bSv3Kc-oNNrzC-6MZ9UU-edkdhZ-C6ovR-rEMN3T-nLr8y9-eTXqTU-CKWSuQ-FqwyT-6euF2q-auifFF-aqudxZ-8aZzXo">Beer sampler   Flickr   Photo Sharing 3d pan white</a><p id="break" data-id="24422"></p>
<a id="24468" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcompany.com/3057117/the-future-of-work/hr-managers-admit-theres-a-wage-gap-in-their-companies?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=colead-daily-newsletter&amp;position=2&amp;partner=newsletter&amp;campaign_date=02252016">HR Managers Admit There s A Wage Gap In Their Companies   Fast Company   Business   Innovation</a><p id="break" data-id="24468"></p>
<a id="24842" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://aeon.co/essays/when-did-the-self-help-movement-lose-its-ethical-seriousness?utm_source=nextdraft&amp;utm_medium=email">When did the self help movement lose its ethical ser   </a><p id="break" data-id="24842"></p>
</div>
  <p class="archive"><a href="/index-2016-02-25">Yesterday</a></p>
<p>
</p>
</body>
</html>
