<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Thursday, Feb 25 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="23608" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/news/arts-and-entertainment/wp/2016/02/23/farrakhan-beyonce-doesnt-need-police-protection-nation-of-islam-has-her-back/">Farrakhan  Beyonc  doesn t need police protection  Nation of Islam has her back    The Washington Post</a><p id="break" data-id="23608"></p>
<a id="23625" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sbnation.com/nfl/2016/2/23/11098754/nfl-salary-cap-increase-owners-hid-120-million-players-association?utm_source=The+Daily+Rally&amp;utm_campaign=6af18706a8-The_Daily_Rally_20150224&amp;utm_medium=email&amp;utm_term=0_8529cab2df-6af18706a8-229603221">The NFL salary cap is going up because owners hid over  100 million from players   SBNation com</a><p id="break" data-id="23625"></p>
<a id="23604" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.npr.org/2016/02/08/466033317/car-seat-headrest-tiny-desk-concert">Car Seat Headrest  Tiny Desk Concert   NPR</a><p id="break" data-id="23604"></p>
<a id="23658" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://motto.time.com/4232633/tommy-hilfiger-adaptive-clothing-runway-of-dreams/">Tommy Hilfiger Clothing Line for People with Disabilities   Motto</a><p id="break" data-id="23658"></p>
<a id="23465" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.inc.com/thomas-koulopoulos/this-30-day-plan-is-the-secret-to-disrupting-yourself.html">This 30 Day Plan Is the Secret to Disrupting Yourself   Inc com</a><p id="break" data-id="23465"></p>
<a id="23830" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/tech/eero-wifi-that-works?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-24+CH+Daily+for+24+February+2016">eero  No More Internet Dead Zones   Cool Hunting</a><p id="break" data-id="23830"></p>
<a id="23614" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.newyorker.com/business/currency/the-madness-of-airline-elite-status?curator=MediaREDEF">The Madness of Airline  lite Status   The New Yorker</a><p id="break" data-id="23614"></p>
<a id="23574" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theguardian.com/news/series/the-guardian-documentary?mc_cid=cf37ba2ec8&amp;mc_eid=e3bbcc06da">The Guardian documentary   News   The Guardian</a><p id="break" data-id="23574"></p>
<a id="23473" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcompany.com/3056722/how-to-be-a-success-at-everything/how-to-turn-your-current-job-into-your-dream-job">How To Turn Your Current Job Into Your Dream Job   Fast Company   Business   Innovation</a><p id="break" data-id="23473"></p>
<a id="24194" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theatlantic.com/health/archive/2016/02/disposable-friendships-in-a-mobile-world/470718/?utm_source=Mic+Check&amp;utm_campaign=1eb69ee887-Wednesday_February_242_24_2016&amp;utm_medium=email&amp;utm_term=0_51f2320b33-1eb69ee887-286993097">Study  How Moving Is Linked to Losing Friends   The Atlantic</a><p id="break" data-id="24194"></p>
<a id="23940" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://play.spotify.com/user/113101784/playlist/4ssnXs1CBd9nnxPxHb4upK?ct=t(Period_underwear_yeah_I_said_it_2_22_2016)&amp;mc_cid=a0c319c87a&amp;mc_eid=e0c3427e10">Spotify</a><p id="break" data-id="23940"></p>
<a id="24146" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/2/24/11100702/bill-gates-energy?utm_source=nextdraft&amp;utm_medium=email">Bill Gates  the energy breakthrough that will  save our planet  is less than 15 years away   Vox</a><p id="break" data-id="24146"></p>
<a id="24142" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wired.com/2016/02/boston-dynamics-new-robot-wicked-good-getting-bullied/?utm_source=nextdraft&amp;utm_medium=email">Boston Dynamics  New Robot Is Wicked Good at Standing Up to Bullies   WIRED</a><p id="break" data-id="24142"></p>
<a id="23569" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.huffingtonpost.com/rafael-fernandez-de-castro-m/cartel-land-matthew-heineman-gringo-understands-mexico-drug-war_b_9294426.html?mc_cid=cf37ba2ec8&amp;mc_eid=e3bbcc06da">The Gringo Who Understands Mexico s Drug War</a><p id="break" data-id="23569"></p>
<a id="23568" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bbc.co.uk/iplayer/episode/b05zlk3w/daft-punk-unchained?mc_cid=cf37ba2ec8&amp;mc_eid=e3bbcc06da">BBC iPlayer    Daft Punk Unchained</a><p id="break" data-id="23568"></p>
<a id="24116" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.flickr.com/photos/david-bank/6912283355/in/photolist-bwPg2e-wnFVTT-dh3wtj-fbggLt-dBY4ik-54gzfG-zibbay-ndo7Jt-pcozoo-ADuBh6-c6yHMU-dGtpyk-dNM5H5-nTzDsn-54w3BZ-7oHobT-iQwdpj-aXReYK-igcW4C-fbfA7V-dErxyq-c6yLT7-bmG6TF-qNy8DM-8C19eN-odRgZa-dC4rHQ-pRV9PH-8WLoqf-c9hBab-8baXWk-rYaqfw-nATFLq-p8ahX6-aTEnQP-89H7i9-nG6of3-h2fx7m-aXVpKi-apVjd7-kKZUQk-6EUHUU-d4TrL3-d4To2Y-zQUqJz-9aRUUn-pvZ4HX-aFwCCD-sPPQcJ-rZ7eYv">Royal Albert Hall   Flickr   Photo Sharing 3d pan white</a><p id="break" data-id="24116"></p>
<a id="23828" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://99percentinvisible.org/article/little-green-men-iconic-pedestrian-lights-signal-change/?utm_source=99%25+Invisible&amp;utm_medium=email&amp;utm_campaign=c3c8211a42-RSS_EMAIL_CAMPAIGN&amp;utm_term=0_f773924a7f-c3c8211a42-96510209">Little Green Men  Iconic Pedestrian Lights Signal More Than Change   99  Invisible</a><p id="break" data-id="23828"></p>
<a id="23620" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wsj.com/articles/how-economists-would-wage-the-war-on-drugs-1455895053?curator=MediaREDEF">How Economists Would Wage the War on Drugs   WSJ</a><p id="break" data-id="23620"></p>
<a id="24178" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedesignfiles.net/2016/02/habbot-x-emma-lipscombe/">Habbot x Emma Lipscombe   The Design Files   Australia s most popular design blog </a><p id="break" data-id="24178"></p>
<a id="23671" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://newrepublic.com/article/130352/differences-men-womens-brains">The Differences Between Men and Women s Brains   New Republic</a><p id="break" data-id="23671"></p>
</div>
  <p class="archive"><a href="/index-2016-02-24">Yesterday</a></p>
<p>
</p>
</body>
</html>
