<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Jan 31 2016 😎</h1>
  <div id="links">
  <a id="13705" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bloomberg.com/news/articles/2016-01-22/google-paid-apple-1-billion-to-keep-search-bar-on-iphone">Google Paid Apple $1 Billion to Keep Search Bar on iPhone - Bloomberg Business</a><p id="break"></p>
<a id="13492" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.youtube.com/watch?v=8hSEus9jvHc">Interview With A Toddler - YouTube</a><p id="break"></p>
<a id="13490" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4195647/three-reasons-why-time-outs-may-be-damaging-your-child/?xid=newsletter-politics?xid=newsletter-parents">3 Reasons Why Time-Outs May Be Damaging Your Child</a><p id="break"></p>
<a id="13707" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/1/26/10835678/apple-q2-2016-revenue-prediction-decline">Have we reached peak iPhone? It’s complicated | The Verge</a><p id="break"></p>
<a id="13688" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.ft.com/cms/s/0%2Fd50ad5f4-c125-11e5-9fdb-87b8d15baec2.html">Google strikes £130m back tax deal - FT.com</a><p id="break"></p>
<a id="13667" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.youtube.com/watch?v=bbdHe45M99s">Ramy Essam &amp; Augustifamiljen – This land is your land (På Spåret) - YouTube</a><p id="break"></p>
<a id="13500" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://pages.email.time.com/page.aspx?qs=38dfbe491fab00ea6e368be74ee8a07ddd34edabe87970407a36fe8e1c423aed13ac7337f7f36d65e2ea172723523ce08d5af1d7b1db3fce8037f8a9fdc39fc7f7fb23fd10de4fb31f41610026678dd7">TIME Newsletter - Update Email Address</a><p id="break"></p>
<a id="13681" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.offscreenmag.com/">Offscreen Magazine — A magazine about the people behind bits and pixels.</a><p id="break"></p>
<a id="13496" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.newyorker.com/magazine/2016/02/01/baby-doe">Why Can’t We Stop Child Abuse? - The New Yorker</a><p id="break"></p>
<a id="13508" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theequitykicker.stfi.re/2016/01/27/corporate-innovation-will-harness-the-power-of-entrepreneurs/?sf=ryjngo"> Corporate innovation will harness the power of entrepreneurs |  THE EQUITY KICKER</a><p id="break"></p>
<a id="13489" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4194269/women-not-objects-advertising-video/?xid=newsletter-politics?xid=newsletter-parents">WomenNotObjects Campaign Video Fights Sexism</a><p id="break"></p>
<a id="13694" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/1/28/10864034/windows-phone-is-dead">Windows Phone is dead | The Verge</a><p id="break"></p>
<a id="13686" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.dnainfo.com/chicago/20160127/archer-heights/whats-behind-no-sound-syndrome-on-chicago-police-dashcams">Chicago Police Hid Mics, Destroyed Dashcams To Block Audio, Records Show  - Archer Heights - DNAinfo.com Chicago</a><p id="break"></p>
<a id="13662" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://en.wikipedia.org/wiki/Decoding_Reality">Decoding Reality - Wikipedia, the free encyclopedia</a><p id="break"></p>
<a id="13696" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://blog.mozilla.org/blog/2016/01/25/firefox-can-now-get-push-notifications-from-your-favorite-sites/">Firefox Can Now Get Push Notifications From Your Favorite Sites | The Mozilla Blog</a><p id="break"></p>
<a id="13494" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://subscription.time.com/storefront/subscribe-to-time/site/td-2offersfamily0722.html?link=1024998&amp;fpa_oc=Chop+216+3+Offers+TIME+for+Family+Order+Form">Time Magazine Subscription Offer</a><p id="break"></p>
<a id="13493" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4195141/daughters-of-interracial-couples-are-more-likely-to-say-they-are-multiracial/?xid=newsletter-politics?xid=newsletter-parents">Young Women Are More Likely To Say They are Multiracial</a><p id="break"></p>
<a id="13666" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.independent.co.uk/news/world/modern-art-was-cia-weapon-1578808.html">Modern art was CIA 'weapon' | World | News | The Independent</a><p id="break"></p>
<a id="13503" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://next.amsterdam/blog/why-we-are-next/">Why we are NEXT</a><p id="break"></p>
<a id="13683" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://twitter.com/dhof/status/692855799631065088">Twitter</a><p id="break"></p>
<a id="13691" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://twitter.com/shanselman/status/693358154084589568">Twitter</a><p id="break"></p>
<a id="13687" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/1/27/10840614/beats-by-dre-headphones-bass">Embrace the bass: Beats headphones are popular for a reason | The Verge</a><p id="break"></p>
<a id="13499" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.yahoo.com/parenting/meet-the-family-who-adopts-babies-they-know-will-225514881.html">Meet the Family Who Adopt Babies They Know Will Die</a><p id="break"></p>
<a id="13495" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4199721/why-do-we-have-the-breastfeeding-wars-two-words-maternity-leave/?xid=newsletter-politics?xid=newsletter-parents">Breastfeeding: Why is the War Still On?</a><p id="break"></p>
</div>
</body>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</html>
