<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Saturday, Mar 05 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="27447" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.moethennessy-selection.co.uk/en-GB/moet-academy-1/">Moet   Chandon   Moet Academy</a><p id="break" data-id="27447"></p>
<a id="27258" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.npr.org/sections/goatsandsoda/2016/03/03/468955265/toms-shoes-is-a-hit-at-oscars-but-does-its-shoe-giveaway-hit-the-mark?curator=FashionREDEF">Toms Shoes Is A Hit At The Oscars But Does Its Shoe Giveaway To Poor Countries Hit The Mark    Goats and Soda   NPR</a><p id="break" data-id="27258"></p>
<a id="27249" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://i-d.vice.com/en_us/article/meet-the-assistants-the-behind-the-scenes-wheels-who-keep-the-fashion-world-moving?curator=FashionREDEF">meet the assistants  the behind the scenes wheels who keep the fashion world moving   read   i D</a><p id="break" data-id="27249"></p>
<a id="27332" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://gizmodo.com/sonys-sharing-its-early-prototypes-with-the-world-like-1762835936">Sony s Sharing Its Early Prototypes With the World Like This Weird Audio Necklace</a><p id="break" data-id="27332"></p>
<a id="27275" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://thump.vice.com/en_us/article/hardstyles-biggest-attempt-to-take-america-by-storm-ended-with-a-whimper?curator=MusicREDEF">Hardstyle s Biggest Attempt to Take America By Storm Ended With a Whimper    Thump</a><p id="break" data-id="27275"></p>
<a id="27330" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.newyorker.com/news/news-desk/is-the-islamic-state-hurting-the-presidents-point-man-on-isis-speaks-out?curator=MediaREDEF">Is the Islamic State Hurting  The President s Point Man on ISIS Speaks Out   The New Yorker</a><p id="break" data-id="27330"></p>
<a id="27312" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/27/netflix-s-cooked-michael-pollan-takes-on-vegetarians-and-the-gluten-free-movement.html?curator=MediaREDEF">Netflix s  Cooked   Michael Pollan Takes on Vegetarians and the Gluten Free Movement   The Daily Beast</a><p id="break" data-id="27312"></p>
<a id="27251" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sz-mag.com/news/2016/03/sebastian-meunier-to-be-myself/?curator=FashionREDEF">Sebastian Meunier  To Be Myself   StyleZeitgeist Magazine</a><p id="break" data-id="27251"></p>
<a id="27542" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/eat/flexitarian-diet?utm_source=Sailthru&amp;utm_medium=email&amp;utm_content=story9_cta&amp;utm_campaign=daily_newsletter_2016-03-03_mails_daily_new_header">WTF Is the Flexitarian Diet  And Should You Try It     Greatist</a><p id="break" data-id="27542"></p>
<a id="27272" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.vice.com/video/autobiographies-asap-ferg-009?curator=MusicREDEF">A AP Ferg Talks About Being Born into the Hip Hop Game in This Episode of  Autobiographies    VICE   United States</a><p id="break" data-id="27272"></p>
<a id="27329" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bbc.co.uk/news/magazine-35106294?curator=MediaREDEF">The schoolboy wrongly accused of two murders   BBC NewsBBC News</a><p id="break" data-id="27329"></p>
<a id="27234" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wired.com/2016/02/the-case-for-making-self-driving-cars-think-like-humans/">The Case for Making Self Driving Cars Think Like Humans   WIRED</a><p id="break" data-id="27234"></p>
<a id="27401" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://googleblog.blogspot.co.uk/2015/09/what-makes-us-human.html">Official Google Blog  What makes us Human </a><p id="break" data-id="27401"></p>
<a id="27331" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wsj.com/articles/the-rise-of-cons-1457036227?curator=MediaREDEF">The Rise of Cons   WSJ</a><p id="break" data-id="27331"></p>
<a id="27158" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theguardian.com/education/2016/mar/02/cult-of-memory-when-history-does-more-harm-than-good">The cult of memory  when history does more harm than good   David Rieff   Education   The Guardian</a><p id="break" data-id="27158"></p>
<a id="27357" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sbnation.com/college-basketball/2016/3/2/11146580/2016-college-basketball-championship-week-preview-conference-tournament-schedule-bracket-dates?utm_source=The+Daily+Rally&amp;utm_campaign=793bc6fa77-The_Daily_Rally_20150304&amp;utm_medium=email&amp;utm_term=0_8529cab2df-793bc6fa77-229603221">College basketball s Championship Week is America s only perfect sports tradition   SBNation com</a><p id="break" data-id="27357"></p>
<a id="27614" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fusion.net/story/276781/dolce-and-gabbana-slave-sandal/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=fusion8&amp;utm_content=8&amp;utm_term=fusion-newsletter-276795">Dolce   Gabbana sandal is almost as ugly as it is racist   Fusion</a><p id="break" data-id="27614"></p>
<a id="27436" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://europe.newsweek.com/eu-greece-register-migrants-may-face-more-border-controls-433224?utm_source=email&amp;utm_medium=email&amp;utm_campaign=rss">EU to Greece  Register All Migrants by May or Face More Border Controls</a><p id="break" data-id="27436"></p>
<a id="27325" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thefader.com/2016/03/03/kesha-dr-luke-case-reporting-on-rape?curator=MediaREDEF">The Real Cost Of How We Talk About Rape   The FADER</a><p id="break" data-id="27325"></p>
<a id="27280" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.mtv.com/news/2748235/video-voyeurism-rihanna-ciara-and-madonna-dance-4-u/?curator=MusicREDEF">Video Voyeurism  Rihanna  Ciara  And Madonna Dance 4 U   MTV</a><p id="break" data-id="27280"></p>
<a id="27505" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://vinepair.com/wine-blog/gifs-the-12-stages-of-a-boozy-sunday-brunch/?utm_source=The+Drop+by+VinePair&amp;utm_campaign=3e2dc49380-Mar_4_2016&amp;utm_medium=email&amp;utm_term=0_b653fb8c99-3e2dc49380-45343489">GIFs  The 12 Stages Of A Boozy Sunday Brunch   VinePair</a><p id="break" data-id="27505"></p>
</div>
  <p class="archive"><a href="/index-2016-03-04">Yesterday</a></p>
<p>
</p>
</body>
</html>
