<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Jan 31 2016&amp;nbsp;&amp;nbsp; 😎</h1>
  <div id="links">
  <a id="13618" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312197-www.pymnts.com/news/payment-methods/2016/how-many-consumers-pay-with-amazon/?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://www.pymnts.com/news/payment-methods/2016/how-many-consumers-pay-with-amazon/</a><p id="break"></p>
<a id="13659" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://ganzeer.us12.list-manage.com/about?u=49246621e030e8700a06727d8&amp;id=08a396c8c4&amp;e=1f80909f92&amp;c=ed88c1f28c">Ganzeer's Restricted Frequency</a><p id="break"></p>
<a id="13597" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4201087/serena-williams-angelique-kerber-australian-open-upset/?xid=newsletter-brief">Serena Williams Loses Australian Open to Angelique Kerber</a><p id="break"></p>
<a id="13499" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.yahoo.com/parenting/meet-the-family-who-adopts-babies-they-know-will-225514881.html">Meet the Family Who Adopt Babies They Know Will Die</a><p id="break"></p>
<a id="13607" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://link.digg.com/manage/2ib/oc?message_id=6010906.00000046&amp;hash=15465fb1&amp;email_type=digg_debrief_long_reads"></a><p id="break"></p>
<a id="13559" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcoexist.com/3056026/al-gore-is-feeling-hopeful-for-the-future-of-the-planet?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=fast-company-daily-coexist&amp;position=1&amp;partner=newsletter&amp;campaign_date=01302016">Al Gore Is Feeling Hopeful For The Future Of The Planet</a><p id="break"></p>
<a id="13584" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4200555/marco-rubio-ted-cruz-iowa/?xid=newsletter-politics">Marco Rubio Team Denies Iowa Surprise After Ted Cruz Shift</a><p id="break"></p>
<a id="13608" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312157-www.facebook.com/groups/thefintechsociety/?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to https://www.facebook.com/groups/thefintechsociety/</a><p id="break"></p>
<a id="13695" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@Heydon/developer-fallacies-70a381fb493c#.8cpbw95o0">Developer Fallacies — Medium</a><p id="break"></p>
<a id="13694" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/1/28/10864034/windows-phone-is-dead">Windows Phone is dead | The Verge</a><p id="break"></p>
<a id="13569" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcompany.com/3056128/health-insurer-orders-theranos-to-stop-drawing-patients-blood?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=fast-company-daily-newsletter&amp;position=5&amp;partner=newsletter&amp;campaign_date=01302016">Health Insurer Orders Theranos To Stop Drawing Patients' Blood </a><p id="break"></p>
<a id="13627" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312233-www.bloomberg.com/news/articles/2016-01-21/chinese-central-bank-studies-prospect-of-own-digital-currency?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://www.bloomberg.com/news/articles/2016-01-21/chinese-central-bank-studies-prospect-of-own-digital-currency</a><p id="break"></p>
<a id="13696" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://blog.mozilla.org/blog/2016/01/25/firefox-can-now-get-push-notifications-from-your-favorite-sites/">Firefox Can Now Get Push Notifications From Your Favorite Sites | The Mozilla Blog</a><p id="break"></p>
<a id="13491" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4193343/barbie-i-dont-have-to-avoid-her-any-more/?xid=newsletter-parents">Barbie: At Last, My Long Parental Nightmare is Over</a><p id="break"></p>
<a id="13684" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wired.com/2016/01/facebook-zuckerberg-internet-org/">Inside Facebook's Ambitious Plan to Connect the Whole World | WIRED</a><p id="break"></p>
<a id="13693" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.eff.org/cases/oracle-v-google">Oracle v. Google | Electronic Frontier Foundation</a><p id="break"></p>
<a id="13699" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://char.us8.list-manage.com/unsubscribe?u=7ba9643cb80dac69c6818848c&amp;id=b3e3d83a25&amp;e=778d38553f&amp;c=5b66306367">Unsubscribe from Charged</a><p id="break"></p>
<a id="13580" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4200379/donald-trump-ted-cruz-anchor-baby/?xid=newsletter-politics">Donald Trump Calls Ted Cruz An 'Anchor Baby in Canada'</a><p id="break"></p>
<a id="13522" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theatlantic.com/technology/archive/2016/01/things-you-cant-talk-about-in-a-coca-cola-ad/431628/">Things You Can’t Talk About in a Coca-Cola Ad - The Atlantic</a><p id="break"></p>
<a id="13535" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.useronboard.com/how-kimoji-onboards-new-users/">
	  How Kimoji Onboards New Users | User Onboarding  </a><p id="break"></p>
<a id="13658" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.aweber.com/z/r/?zKyMrBysTLSMTMysbOyMbGyctEa0zAxsHKxM7Iw=">Subscribe/Unsubscribe/Change Options</a><p id="break"></p>
<a id="13653" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.themiddlefingerproject.org/category/i-hate-monday/">I Hate Monday Archives - The Middle Finger Project</a><p id="break"></p>
<a id="13488" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/barbie-new-body-cover-story/?xid=newsletter-parents">Barbie Has a New Body Cover Story</a><p id="break"></p>
<a id="13486" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://content.time.com/time/rss/?xid=newsletter-parents">Connect with TIME - TIME.com</a><p id="break"></p>
</div>
</body>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</html>
