<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Feb 07 2016 😎</h1>
  <div id="links">
  <a id="16766" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/06/the-yakuza-are-running-japan-s-hollywood.html?curator=MediaREDEF">The Yakuza Are Running Japan s Hollywood   The Daily Beast</a><p id="break" data-id="16766"></p>
<a id="16765" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/07/business/cover-crops-a-farming-revolution-with-deep-roots-in-the-past.html?curator=MediaREDEF&amp;_r=0">Cover Crops  a Farming Revolution With Deep Roots in the Past   The New York Times</a><p id="break" data-id="16765"></p>
</div>
</body>
</html>
