<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Jan 31 2016 😎</h1>
  <div id="links">
  <a id="13569" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcompany.com/3056128/health-insurer-orders-theranos-to-stop-drawing-patients-blood?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=fast-company-daily-newsletter&amp;position=5&amp;partner=newsletter&amp;campaign_date=01302016">Health Insurer Orders Theranos To Stop Drawing Patients' Blood </a><p id="break"></p>
<a id="13614" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312181-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=the-b2b-foundation-of-a-b2c-payments-startup</a><p id="break"></p>
<a id="13612" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312173-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=developing-a-fintech-ecosystem-in-the-gcc-let%E2%80%99s-get-ready-for-take-off</a><p id="break"></p>
<a id="13556" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://us2.forward-to-friend2.com/forward?u=7e7f5c9060be0fa4c269f97d9&amp;id=f6ce867639&amp;e=212cd1d864">Newsletter Subscriptions</a><p id="break"></p>
<a id="13528" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/minitheory-design/what-s-new-in-sketch-3-5-668d9e872199#.vb494sk8o">What’s New in Sketch 3.5? — Minitheory Design — Medium</a><p id="break"></p>
<a id="13503" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://next.amsterdam/blog/why-we-are-next/">Why we are NEXT</a><p id="break"></p>
<a id="13597" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4201087/serena-williams-angelique-kerber-australian-open-upset/?xid=newsletter-brief">Serena Williams Loses Australian Open to Angelique Kerber</a><p id="break"></p>
<a id="13619" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312201-www.pymnts.com/news/mobile-commerce/2016/the-six-things-that-will-define-payments-in-2016/?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://www.pymnts.com/news/mobile-commerce/2016/the-six-things-that-will-define-payments-in-2016/</a><p id="break"></p>
<a id="13607" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://link.digg.com/manage/2ib/oc?message_id=6010906.00000046&amp;hash=15465fb1&amp;email_type=digg_debrief_long_reads"></a><p id="break"></p>
<a id="13616" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312189-www.finextra.com/news/fullstory.aspx?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://www.finextra.com/news/fullstory.aspx?newsitemid=28386&amp;utm_medium=TheFintechSociety&amp;utm_source=2016-1-26</a><p id="break"></p>
<a id="13672" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://theartnewspaper.com/news/news/ai-weiwei-cancels-two-shows-in-copenhagen-in-protest-over-new-asylum-seeker-law-/">Ai Weiwei cancels two shows in Denmark in protest over new asylum seeker law </a><p id="break"></p>
<a id="13520" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.changeist.com/">Changeist: Futures, Innovation, Strategic Design</a><p id="break"></p>
<a id="13605" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wired.com/2016/01/phil-kennedy-mind-control-computer/?utm_medium=email&amp;utm_source=digg">The Neurologist Who Hacked His Brain—And Almost Lost His Mind | WIRED</a><p id="break"></p>
<a id="13484" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://content.time.com/time/mobile/?xid=newsletter-parents">Breaking News, Analysis, Politics, Blogs, News Photos, Video, Tech Reviews - TIME.com</a><p id="break"></p>
<a id="13700" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://blog.parse.com/announcements/introducing-parse-server-and-the-database-migration-tool/">Introducing Parse Server and the Database Migration Tool</a><p id="break"></p>
<a id="13636" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312269-twitter.com/fintechsociety?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to https://twitter.com/fintechsociety</a><p id="break"></p>
<a id="13591" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4199814/south-africa-legal-rhino-horn-market/?xid=newsletter-brief">The Growing Debate Over Legalizing the Rhino Horn Market</a><p id="break"></p>
<a id="13609" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312161-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=citi-is-working-on-%E2%80%98citicoin%E2%80%99-for-cross-border-payments</a><p id="break"></p>
<a id="13681" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.offscreenmag.com/">Offscreen Magazine — A magazine about the people behind bits and pixels.</a><p id="break"></p>
<a id="13631" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312249-www.finextra.com/video/video.aspx?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://www.finextra.com/video/video.aspx?videoid=1127</a><p id="break"></p>
<a id="13707" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/1/26/10835678/apple-q2-2016-revenue-prediction-decline">Have we reached peak iPhone? It’s complicated | The Verge</a><p id="break"></p>
<a id="13537" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://us2.campaign-archive2.com/?u=b5af47765edbd2fc173dbf27a&amp;id=f7d7e669e6&amp;e=549afcff35">Learning to See, Sketch 3.5, Kimoji Onboarding, Design Rules, Any Research</a><p id="break"></p>
<a id="13532" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fsidebar.io&amp;text=Learning%20to%20See%3A%20Visual%20Inspirations%20and%20Data%20Visualization&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2Fmedium.com%2Faccurat-studio%2Flearning-to-see-visual-inspirations-and-data-visualization-ce9107349a%23.dgskrg9v4&amp;via=SidebarIO&amp;related=SachaGreif">Share a link on Twitter</a><p id="break"></p>
<a id="13670" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://powerofmyth.livejournal.com/22508.html">Alan Moore, Gods &amp; Ideaspace: powerofmyth</a><p id="break"></p>
</div>
</body>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</html>
