<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Friday, Feb 05 2016 😎</h1>
  <div id="links">
  <a id="16645" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/my-husband-was-violently-vomiting-california-gas-leak-is-sickening-residents.html?via=newsletter&amp;source=DDMorning"> My Husband Was Violently Vomiting   California Gas Leak Is Sickening Residents   The Daily Beast</a><p id="break" data-id="16645"></p>
<a id="16686" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/martin-shkreli-finally-shuts-up-in-front-of-congress.html?via=newsletter&amp;source=DDAfternoon">Pharmo Bro Martin Shkreli Finally Shuts Up In Front of Congress   The Daily Beast</a><p id="break" data-id="16686"></p>
<a id="16720" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2015/05/01/bridgegate-officials-will-be-charged.html?via=newsletter&amp;source=CSPMedition">Lawyer  Christie Knew About Bridgegate   The Daily Beast</a><p id="break" data-id="16720"></p>
<a id="16578" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/the-coen-brothers-the-oscars-are-not-that-important.html?via=newsletter&amp;source=CSAMedition">The Coen Brothers   The Oscars Are Not That Important    The Daily Beast</a><p id="break" data-id="16578"></p>
<a id="16576" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/ted-cruz-s-big-data-meetup-in-trumpland.html?via=newsletter&amp;source=CSAMedition">Ted Cruz s Sugar Daddy Has a  2 Million Toy Railroad   The Daily Beast</a><p id="break" data-id="16576"></p>
<a id="16675" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/scientists-discover-human-brain-folds/">Scientists Discover How the Human Brain Folds</a><p id="break" data-id="16675"></p>
<a id="16710" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2014/06/18/bill-o-reilly-disses-his-fellow-fox-newsers.html?via=newsletter&amp;source=CSPMedition">Bill O Reilly Disses His Fellow Fox Newsers   The Daily Beast</a><p id="break" data-id="16710"></p>
<a id="16572" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2015/04/02/congressman-who-oversees-secret-service-was-rejected-by-secret-service.html?via=newsletter&amp;source=CSAMedition">Congressman Who Oversees Secret Service Was Rejected by Secret Service   The Daily Beast</a><p id="break" data-id="16572"></p>
<a id="16692" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/exclusive-inside-archer-season-7-from-a-list-guest-stars-to-l-a-mysteries.html?via=newsletter&amp;source=DDAfternoon">Exclusive  Inside  Archer  Season 7  from A List Guest Stars to L A  Mysteries   The Daily Beast</a><p id="break" data-id="16692"></p>
<a id="16641" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/ted-cruz-will-get-crushed-in-new-hampshire.html?via=newsletter&amp;source=politics">Ted Cruz Will Get Crushed in New Hampshire   The Daily Beast</a><p id="break" data-id="16641"></p>
<a id="16600" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/buy/verner-gray-marl-bomber-jacket?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-04+CH+Daily+for+04+February+2016">Wood Grain Bomber Jacket    Cool Hunting</a><p id="break" data-id="16600"></p>
<a id="16553" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://the-talks.com/interviews/iris-apfel/?curator=FashionREDEF">Iris Apfel Interview   The Talks</a><p id="break" data-id="16553"></p>
<a id="16677" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/scientists-fire-stellarator-quest-nuclear-fusion-power/">Wendelstein 7 X Fusion Device Produces Its First Hydrogen Plasma</a><p id="break" data-id="16677"></p>
<a id="16540" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/hacker-daily/what-the-slack-platform-should-look-like-5d30e42a11be?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=25907956&amp;_hsenc=p2ANqtz-8R_0yuy_G0OsiH5FG-LE2E_mVCgodPdNpPo-ArnNACeFxr6G7ESBCw0WBugxwchqFiejOQx2L4GfRf1uhEN8if10Sqew&amp;_hsmi=25907956#.zmw3zsly0">What the Slack Platform Should Look Like   Hacker Daily   Medium</a><p id="break" data-id="16540"></p>
<a id="16717" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/04/ted-cruz-s-big-data-meetup-in-trumpland.html?via=newsletter&amp;source=CSPMedition">Ted Cruz s Sugar Daddy Has a  2 Million Toy Railroad   The Daily Beast</a><p id="break" data-id="16717"></p>
<a id="16655" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/04/carson-s-campaign-cuts-50-staffers.html">Carson s Campaign Cuts 50  Staffers   The Daily Beast</a><p id="break" data-id="16655"></p>
<a id="16557" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/quizzes/a-quiz-on-dna/">A Quiz on DNA   Now I Know Quizzes</a><p id="break" data-id="16557"></p>
<a id="16564" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/02/03/fashion-kim-kardashian-game/">Fashion Designers Are Betting On Kim Kardashian s Game   Fortune</a><p id="break" data-id="16564"></p>
<a id="16671" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/move/hiit-kettlebell-workout?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-02_mails_daily_new_header">Kettlebell Workout  The 15 Minute Total Body Kettlebell Workout   Greatist</a><p id="break" data-id="16671"></p>
<a id="16566" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/02/03/polyvore-menswear/">Will Polyvore s Millions of Female Users Embrace Menswear    Fortune</a><p id="break" data-id="16566"></p>
</div>
</body>
</html>
