<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Feb 21 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="21842" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.tastingtable.com/cook/national/grated-cheese-parmesan-wood-pulp?utm_medium=email&amp;utm_source=TT&amp;utm_campaign=Weekend&amp;utm_content=Editorial">Your Grated Parmesan Cheese May Contain Wood Pulp</a><p id="break" data-id="21842"></p>
<a id="21878" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vice.com/read/raphael-mechulam-father-cannabis-discover-thc?curator=MediaREDEF">Meet the  Father of Cannabis   the Man Who Discovered Why Weed Makes You High   VICE   United States</a><p id="break" data-id="21878"></p>
<a id="21868" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.mountvernon.org/digital-encyclopedia/article/wooden-teeth-myth/">Wooden Teeth Myth   George Washington s Mount Vernon</a><p id="break" data-id="21868"></p>
<a id="21792" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/560329/for-chinas-upper-middle-class-driving-for-uber-is-a-cure-for-loneliness/">For China s upper middle class  driving for Uber is a cure for loneliness   Quartz</a><p id="break" data-id="21792"></p>
<a id="21812" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thenextweb.com/insider/2016/02/16/kanye-wests-life-of-pablo-already-pirated-500000-times/">Kanye West s  Life of Pablo  already pirated 500 000 times</a><p id="break" data-id="21812"></p>
<a id="21781" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@DoloresHuerta/on-immigration-bernie-sanders-is-not-who-he-says-he-is-b79980adff6a?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/19/16&amp;utm_term=Vox%20Newsletter%20All#.qvdjdo93m">On Immigration  Bernie Sanders is Not Who He Says He Is    Medium</a><p id="break" data-id="21781"></p>
<a id="21886" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/20/how-pentagon-geeks-russian-generals-plotted-in-secret-to-take-away-assad-s-wmd.html?curator=MediaREDEF">How Pentagon Geeks   Russian Generals Plotted in Secret to Take Away Assad s WMD   The Daily Beast</a><p id="break" data-id="21886"></p>
<a id="21828" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://daisy-foxes.tumblr.com/post/57607801317/pizza-pizza-and-chicken-wings-2-celebrate">pizza    pizza and chicken wings 2 celebrate   no birds in there</a><p id="break" data-id="21828"></p>
<a id="21827" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://tabletmag.atavist.com/my-last-jdate">My Last JDate</a><p id="break" data-id="21827"></p>
<a id="21887" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.zdnet.com/article/apple-iphone-fbi-backdoor-what-you-need-to-know-faq/?curator=MediaREDEF">Apple vs  FBI  Here s everything you need to know  FAQ    ZDNet</a><p id="break" data-id="21887"></p>
<a id="21794" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/2/17/11030406/neverware-google-chromebook-chromium-os-education-microsoft">Learning the Alphabet   The Verge</a><p id="break" data-id="21794"></p>
<a id="21811" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.polygon.com/2016/2/17/11037220/league-of-legends-was-too-slow-so-riot-built-a-private-internet-to">League of Legends was too slow  so Riot built a private internet to make it go faster   Polygon</a><p id="break" data-id="21811"></p>
<a id="21894" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sho.com/sho/reality-docs/titles/3430949/michael-jacksons-journey-from-motown-to-off-the-wall#/index">Showtime   Michael Jackson s Journey From Motown to Off the Wall</a><p id="break" data-id="21894"></p>
<a id="21830" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.newyorker.com/magazine/2016/02/22/inside-harvey-levins-tmz">The Digital Dirt   The New Yorker</a><p id="break" data-id="21830"></p>
<a id="21750" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/16/opinion/why-poor-children-cant-be-picky-eaters.html?_r=0&amp;mtrref=undefined&amp;gwh=94692179142032B8107C58AFE067A291&amp;gwt=pay&amp;assetType=opinion">A Hidden Cost to Giving Kids Their Vegetables    The New York Times</a><p id="break" data-id="21750"></p>
<a id="21796" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.youtube.com/watch?v=A7UVB_xf_oM">Adam Leibsohn at TNW Conference USA 2015   YouTube</a><p id="break" data-id="21796"></p>
<a id="21806" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.troyhunt.com/2016/02/everything-you-need-to-know-about-apple.html">Troy Hunt  Everything you need to know about the Apple versus FBI case</a><p id="break" data-id="21806"></p>
<a id="21834" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://longform.org/posts/longform-podcast-180-mishka-shubaly">Longform Podcast  180  Mishka Shubaly</a><p id="break" data-id="21834"></p>
<a id="21791" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://techcrunch.com/2016/02/18/facebook-messenger-ads/">Facebook Plans To Put Ads In Messenger     TechCrunch</a><p id="break" data-id="21791"></p>
</div>
  <p class="archive"><a href="/index-2016-02-20">Yesterday</a></p>
<p>
</p>
</body>
</html>
