<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Tuesday, Feb 02 2016 😎</h1>
  <div id="links">
  <a id="14990" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.instapaper.com/hello2?title=Embracing%20Your%20Community%20as%20a%20Strategy&amp;url=http%3A%2F%2Fwww.bothsidesofthetable.com%2F2016%2F01%2F30%2Fembracing-your-community-as-a-strategy%2F%3Fcurator%3DMediaredefREDEF">Instapaper</a><p id="break" data-id="14990"></p>
<a id="14769" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.facebook.com/login.php?skip_api_login=1&amp;api_key=966242223397117&amp;signed_next=1&amp;next=https%3A%2F%2Fwww.facebook.com%2Fv2.3%2Fdialog%2Fshare%3Fredirect_uri%3Dhttps%253A%252F%252Fwww.facebook.com%252Fdialog%252Freturn%252Fclose%26display%3Dpopup%26href%3Dhttp%253A%252F%252Fredef.com%252Fmix%252Ffashion-mix-1454316028882%26client_id%3D966242223397117%26ret%3Dlogin&amp;cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Freturn%2Fclose%3F%23_%3D_&amp;display=popup">Facebook</a><p id="break" data-id="14769"></p>
<a id="15225" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/newsletter/broadsheet/">BroadSheet   Newsletters     </a><p id="break" data-id="15225"></p>
<a id="15352" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/01/word-s-best-chef-kills-himself-aged-44.html?via=newsletter&amp;source=CSAMedition"> World s Best Chef  Found Dead at 44   The Daily Beast</a><p id="break" data-id="15352"></p>
<a id="14338" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.facebook.com/girllostinthecity/?ref=hl">Girl Lost in the City</a><p id="break" data-id="14338"></p>
<a id="15478" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@dustintimbrook/want-your-children-to-survive-the-future-send-them-to-art-school-c88600146606#.efnw8q8dk">Want Your Children to Survive The Future  Send Them to Art School   Medium</a><p id="break" data-id="15478"></p>
<a id="15484" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mindfulpixels.com/7-steps-transcend-creative-business/">7 Steps to Transcend Your Creative Business   Mindful Pixels</a><p id="break" data-id="15484"></p>
<a id="14423" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.themacro.com/articles/2016/01/interview-l-condoms-talia-frenkel/?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=25772371&amp;_hsenc=p2ANqtz-_yXHPTTeYQdezS3ajLVCbPXZTwHEmrRNm_e5eOJU_sTtM9J6j55Pf6i-XKRrQTV4YuFSqGAV8KI7BTUxF0llhtMLeHvA&amp;_hsmi=25772371">L  s Talia Frenkel on Turning a Concept Into a Company   The Macro</a><p id="break" data-id="14423"></p>
<a id="15273" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.tastingtable.com/drinks/national/healthy-drink-smoothie-ingredients-mix-amla-berries-maca-sea-buckthorn-yacon?utm_medium=email&amp;utm_source=TT&amp;utm_campaign=Daily&amp;utm_content=Editorial">Super Healthy  Possibly Life Extending Ingredients for Smoothies</a><p id="break" data-id="15273"></p>
<a id="15659" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://beyondmanaging.com/">Beyond Managing   A blog about management  productivity  science  computers  and more</a><p id="break" data-id="15659"></p>
<a id="15030" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vice.com/video/drinking-wine-and-playing-chess-at-martin-shkrelis-midtown-apartment?curator=MediaREDEF">Watch  Martin Shkreli on Drug Price Hikes and Playing the World s Villain   VICE   United States</a><p id="break" data-id="15030"></p>
<a id="14776" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://pro32.ap.org/winchesterstar/article/ap-survey-nfl-players-question-teams%E2%80%99-attitudes-health">AP Survey  NFL players question teams  attitudes on health   Pro32  Head to Head</a><p id="break" data-id="14776"></p>
<a id="14234" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://player.vimeo.com/video/69845720?title=0&amp;byline=0&amp;portrait=0&amp;color=00DCAC:1">Two Minutes With TGD  Are You Creatively Satisfied  from The Great Discontent on Vimeo</a><p id="break" data-id="14234"></p>
<a id="15209" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/1/26/10830280/periscope-twitter-integration">Periscope integrates with GoPro to bring live streaming to action cameras   The Verge</a><p id="break" data-id="15209"></p>
<a id="14658" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.etsy.com/uk/listing/226684757/britpop-pulp-different-class-penguin?utm_source=OpenGraph&amp;utm_medium=PageTools&amp;utm_campaign=Share">Britpop  Pulp  Different Class  Penguin by headfuzzbygrimboid</a><p id="break" data-id="14658"></p>
<a id="14976" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.facebook.com/login.php?skip_api_login=1&amp;api_key=966242223397117&amp;signed_next=1&amp;next=https%3A%2F%2Fwww.facebook.com%2Fv2.3%2Fdialog%2Fshare%3Fredirect_uri%3Dhttps%253A%252F%252Fwww.facebook.com%252Fdialog%252Freturn%252Fclose%26display%3Dpopup%26href%3Dhttp%253A%252F%252Fwww.ocregister.com%252Farticles%252Fdekraai-697917-salon-beach.html%253Fcurator%253DMediaredefREDEF%26client_id%3D966242223397117%26ret%3Dlogin&amp;cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Freturn%2Fclose%3F%23_%3D_&amp;display=popup">Facebook</a><p id="break" data-id="14976"></p>
<a id="15069" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://twitter.com/thedailyrally?utm_source=The+Daily+Rally&amp;utm_campaign=8bdd0ccdda-The_Daily_Rally_20150201&amp;utm_medium=email&amp;utm_term=0_8529cab2df-8bdd0ccdda-229603221">The Daily Rally   thedailyrally  on Twitter</a><p id="break" data-id="15069"></p>
<a id="14805" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.facebook.com/login.php?skip_api_login=1&amp;api_key=966242223397117&amp;signed_next=1&amp;next=https%3A%2F%2Fwww.facebook.com%2Fv2.3%2Fdialog%2Fshare%3Fredirect_uri%3Dhttps%253A%252F%252Fwww.facebook.com%252Fdialog%252Freturn%252Fclose%26display%3Dpopup%26href%3Dhttp%253A%252F%252Fpro32.ap.org%252Fwinchesterstar%252Farticle%252Fap-survey-nfl-players-question-teams%2525E2%252580%252599-attitudes-health%253Fcurator%253DSportsredefREDEF%26client_id%3D966242223397117%26ret%3Dlogin&amp;cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Freturn%2Fclose%3F%23_%3D_&amp;display=popup">Facebook</a><p id="break" data-id="14805"></p>
<a id="15966" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://twitter.com/intent/tweet?text=Cloud-based%20analytics%20demand%2C%20functionality%20to%20expand%20in%202016&amp;url=http%3A%2F%2Fsbne.ws%2Fr%2FtWBu&amp;original_referer=">Share a link on Twitter</a><p id="break" data-id="15966"></p>
<a id="14481" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mailchimp.com/monkey-rewards/?utm_source=freemium_newsletter&amp;utm_medium=email&amp;utm_campaign=monkey_rewards&amp;aid=a1937ddb99caf2cfe1aab0132&amp;afl=1">Send Better Email   MailChimp</a><p id="break" data-id="14481"></p>
<a id="15986" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/01/islamicide-how-the-mullah-mafia-is-destroying-pakistan.html?via=newsletter&amp;source=DDAfternoon">Islamicide  How the Mullah Mafia Is Destroying Pakistan   The Daily Beast</a><p id="break" data-id="15986"></p>
</div>
</body>
</html>
