<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Jan 31 2016 😎</h1>
  <div id="links">
  <a id="13485" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.newyorker.com/humor/daily-shouts/park-slope-parents-fight-club-a-friendly-reminder-of-the-rules">Park Slope Parents’ Fight Club: A Friendly Reminder of the Rules - The New Yorker</a><p id="break"></p>
<a id="13527" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/accurat-studio/learning-to-see-visual-inspirations-and-data-visualization-ce9107349a#.dgskrg9v4">Learning to See: Visual Inspirations and Data Visualization — Accurat studio — Medium</a><p id="break"></p>
<a id="13551" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://us1.campaign-archive1.com/?u=db8174fd575df4cb7bdc11580&amp;id=90136d0db2&amp;e=bb00daebd1">Pick of the Week: "The Wreck of Amtrak 188" Matthew Shaer</a><p id="break"></p>
<a id="13590" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4201051/jeb-bushs-family-name/?xid=newsletter-brief">Jeb Bush Iowa: Family History Helps</a><p id="break"></p>
<a id="13490" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4195647/three-reasons-why-time-outs-may-be-damaging-your-child/?xid=newsletter-politics?xid=newsletter-parents">3 Reasons Why Time-Outs May Be Damaging Your Child</a><p id="break"></p>
<a id="13569" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcompany.com/3056128/health-insurer-orders-theranos-to-stop-drawing-patients-blood?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=fast-company-daily-newsletter&amp;position=5&amp;partner=newsletter&amp;campaign_date=01302016">Health Insurer Orders Theranos To Stop Drawing Patients' Blood </a><p id="break"></p>
<a id="13493" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4195141/daughters-of-interracial-couples-are-more-likely-to-say-they-are-multiracial/?xid=newsletter-politics?xid=newsletter-parents">Young Women Are More Likely To Say They are Multiracial</a><p id="break"></p>
<a id="13635" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312265-fintechist.com/predicting-the-future-of-contactless-payments/?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://fintechist.com/predicting-the-future-of-contactless-payments/</a><p id="break"></p>
<a id="13634" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312261-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=transferwises-future-of-finance-report-shows-how-americans-incorporate-fintech-into-daily-life</a><p id="break"></p>
<a id="13623" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312217-cointelegraph.com/news/anticipated-bitcoin-projects?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://cointelegraph.com/news/anticipated-bitcoin-projects</a><p id="break"></p>
<a id="13670" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://powerofmyth.livejournal.com/22508.html">Alan Moore, Gods &amp; Ideaspace: powerofmyth</a><p id="break"></p>
<a id="13594" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://view.email.time.com/?j=ff041674776506&amp;m=fe9113727467037a76&amp;ls=fe5f167475610d787711&amp;l=ff9d1670&amp;s=fe7516747464057c7414&amp;jb=ff5f107871&amp;ju=fec01772706d0774&amp;r=0"></a><p id="break"></p>
<a id="13604" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://testkitchen.huffingtonpost.com/michaeljacksonsonic/?utm_medium=email&amp;utm_source=digg">The Michael Jackson Video Game Conspiracy</a><p id="break"></p>
<a id="13579" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/news/post-politics/wp/2016/01/29/the-state-department-concludes-there-is-top-secret-material-in-hillary-clintons-email-correspondence-from-her-time-as-secretary-of-state/"> The State Department: Hillary Clinton’s email correspondence contained ‘top secret’ material - The Washington Post</a><p id="break"></p>
<a id="13609" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312161-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=citi-is-working-on-%E2%80%98citicoin%E2%80%99-for-cross-border-payments</a><p id="break"></p>
<a id="13661" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.youtube.com/watch?v=ILSyt_Hhbjg">Water has Memory - YouTube</a><p id="break"></p>
<a id="13582" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4201045/hillary-clinton-emails-timing/?xid=newsletter-politics">Hillary Clinton Emails: Scandal's Bad Political Timing</a><p id="break"></p>
<a id="13614" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312181-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=the-b2b-foundation-of-a-b2c-payments-startup</a><p id="break"></p>
<a id="13491" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4193343/barbie-i-dont-have-to-avoid-her-any-more/?xid=newsletter-parents">Barbie: At Last, My Long Parental Nightmare is Over</a><p id="break"></p>
<a id="13592" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://time.com/4200172/ted-cruz-iowa-final-days/?xid=newsletter-brief">Ted Cruz Limps Toward the Finish Line in Iowa</a><p id="break"></p>
<a id="13540" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.tastingtable.com/dine/national/tastemakers-bobby-flay-food-network-star-celebrity-chef-cooking-channel-tv-gato-new-york?utm_medium=email&amp;utm_source=TT&amp;utm_campaign=Weekend&amp;utm_content=Editorial">Bobby Flay Shares His Favorite Meals and Advice for Young Chefs</a><p id="break"></p>
<a id="13636" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312269-twitter.com/fintechsociety?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to https://twitter.com/fintechsociety</a><p id="break"></p>
<a id="13677" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://theoccupiedtimes.org/">The Occupied Times of London</a><p id="break"></p>
<a id="13613" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mail01.tinyletterapp.com/thefintechsociety/fintech-best-of-the-week-the-first-issue/4312177-thefintechsociety.com/story.php?c=f3dcf884-7be1-495f-97db-1d340bad53ad">You're being redirected to http://thefintechsociety.com/story.php?title=the-uk-government-to-deliver-an-api-standard-in-uk-banking-</a><p id="break"></p>
</div>
</body>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</html>
