<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Wednesday, Feb 24 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="22888" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sictic.ch/#!startups/c10g1">SICTIC   Swiss ICT Investor Club</a><p id="break" data-id="22888"></p>
<a id="22776" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thejournal.email/?utm_source=syndicate&amp;utm_medium=post&amp;utm_campaign=TheModernDesk-Feb2016">The Journal</a><p id="break" data-id="22776"></p>
<a id="23031" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://motto.time.com/4212208/barbara-corcoran-shark-tank-women-office/?xid=newsletter-brief">Shark Tank s Barbara Corcoran On Being Liked   Motto</a><p id="break" data-id="23031"></p>
<a id="23363" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://harpers.org/blog/2016/02/weeklyreview2016-02-23/"> Weekly Review    February 23  2016  by Miranda Popkey   Harper s Magazine</a><p id="break" data-id="23363"></p>
<a id="22811" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/hyde-park-angels/how-to-seal-a-venture-debt-deal-45fae601d038?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26521651&amp;_hsenc=p2ANqtz-_si1iT6f5EmaRgKfEiOco-KXna-MXLqlZ1TnhqEXkDYHo6gBUBUft2KozcG1Ca7q_qYH7uMXVWcHc23erdlZcBfYwFWw&amp;_hsmi=26521651#.dqk41av5h">How to Seal a Venture Debt Deal   Hyde Park Angels   Medium</a><p id="break" data-id="22811"></p>
<a id="22808" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://medium.stfi.re/@cdixon/what-s-next-in-computing-e54b870b80cc?sf=yprxxv&amp;utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26521651&amp;_hsenc=p2ANqtz-_45fYz_BNi0UajgDM9oh3_Lertw2S-_N1sVtEXI5zO4l5Tjdc-o8BQ8tZ8Q7RnITisdfYVSaeKieRwFv-aG5X2quyQVA&amp;_hsmi=26521651#.klv7d5r80">What s Next in Computing    Medium</a><p id="break" data-id="22808"></p>
<a id="22800" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.fatherly.com/?ct=t(I_don_t_usually_write_you_at_night2_8_2016)&amp;mc_cid=4532229679&amp;mc_eid=e0c3427e10">Fatherly</a><p id="break" data-id="22800"></p>
<a id="23321" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thedoschool.org/blog/do-school-news/campus-opening/">Campus Opening   The DO School</a><p id="break" data-id="23321"></p>
<a id="22955" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/2/1/10888212/duvernay-test-movie-diversity">Want to measure a film s diversity  Try  the DuVernay test     Vox</a><p id="break" data-id="22955"></p>
<a id="22976" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/news/arts-and-entertainment/wp/2016/02/19/put-away-your-skinny-jeans-clothes-are-getting-big-again-and-its-about-time/?curator=FashionREDEF">Put away your skinny jeans  Clothes are getting big again   and it s about time    The Washington Post</a><p id="break" data-id="22976"></p>
<a id="22949" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://rhrealitycheck.org/article/2013/06/04/norristown-ordinance-and-impact-on-domestic-violence-victims-2/">How Domestic Violence Survivors Get Evicted From Their Homes After Calling the Police How Domestic Violence Survivors Get Evicted From Their Homes After Calling the Police</a><p id="break" data-id="22949"></p>
<a id="22984" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.lokidesign.net/journal/2016/2/22/the-propaganda-of-pantone-colour-and-subcultural-sublimation?curator=FashionREDEF">The Propaganda of Pantone  Colour and Subcultural Sublimation   LOKI</a><p id="break" data-id="22984"></p>
<a id="22944" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://hbr.org/2015/12/commit-to-under-scheduling-in-2016?cm_mmc=email-_-newsletter-_-management_tip-_-tip_date&amp;referral=00203&amp;utm_source=newsletter_management_tip&amp;utm_medium=email&amp;utm_campaign=tip_date">Commit to Under Scheduling in 2016</a><p id="break" data-id="22944"></p>
<a id="23020" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mic.com/articles/135940/dr-luke-breaks-silence-on-kesha-case-on-twitter#.egIZprFSM">Dr  Luke Breaks Silence on Kesha Case on Twitter   Mic</a><p id="break" data-id="23020"></p>
<a id="22994" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.youtube.com/watch?v=-hGFMXJuX5o">WILEY   AVALANCHE  DEVILS MIX    YouTube</a><p id="break" data-id="22994"></p>
<a id="23099" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.amazon.com/Dancing-Glory-Monsters-Collapse-Africa/dp/1610391071">Dancing in the Glory of Monsters  The Collapse of the Congo and the Great War of Africa  Jason Stearns  9781610391078  Amazon com  Books</a><p id="break" data-id="23099"></p>
<a id="22970" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.aclu.org/stop-domestic-violence-victims-losing-their-homes">Stop Domestic Violence Victims from Losing their Homes   American Civil Liberties Union</a><p id="break" data-id="22970"></p>
<a id="23003" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.houstonpress.com/arts/houstons-alt-model-and-sex-positive-podcaster-emily-snow-confronts-slut-shaming-head-on-nsfw-8169761?curator=MediaREDEF">Fetish Model Podcaster Emily Snow Is Fed Up With Slut Shaming   Houston Press</a><p id="break" data-id="23003"></p>
<a id="22902" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.eventbrite.it/e/biglietti-incontro-n-3-di-singularityu-milan-21479633161">Incontro n  3 di SingularityU Milan Biglietti  mar 15 mar 2016 alle 18 00   Eventbrite</a><p id="break" data-id="22902"></p>
<a id="23046" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vanityfair.com/hollywood/2016/02/kesha-dr-luke-lawsuit">What s Next for Kesha    Vanity Fair</a><p id="break" data-id="23046"></p>
<a id="23057" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sbnation.com/lookit/2016/2/21/11081642/float-boy-basketball-mystery-high-school?utm_source=The+Daily+Rally&amp;utm_campaign=d0791c5149-The_Daily_Rally_20150223&amp;utm_medium=email&amp;utm_term=0_8529cab2df-d0791c5149-229603221">Float Boy is basketball s latest mystery   SBNation com</a><p id="break" data-id="23057"></p>
</div>
  <p class="archive"><a href="/index-2016-02-23">Yesterday</a></p>
<p>
</p>
</body>
</html>
