<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Friday, Feb 12 2016 😎</h1>
  <div id="links">
  <a id="17116" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://the-toast.net/2016/02/09/reasons-i-would-not-have-been-burned-as-a-witch/?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/10/16&amp;utm_term=Vox%20Newsletter%20All">Reasons I Would Not Have Been Burned As A Witch   The Toast</a><p id="break" data-id="17116"></p>
<a id="17190" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2016/2/2/10900456/microsoft-swiftkey-acquisition-reported-250-million?utm_campaign=Artificial%2BIntelligence%2BWeekly&amp;utm_medium=email&amp;utm_source=Artificial_Intelligence_Weekly_33">Microsoft is reportedly buying SwiftKey for around  250 million   The Verge</a><p id="break" data-id="17190"></p>
<a id="17174" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/brushing-teeth-before-bed?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-09_mails_daily_new_header">How Bad Is It to Not Brush Your Teeth Before Bed    Greatist</a><p id="break" data-id="17174"></p>
<a id="17145" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/quizzes/mcdonalds-or-burger-king/">McDonald s or Burger King    Now I Know Quizzes</a><p id="break" data-id="17145"></p>
<a id="17150" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/11/technology/twitter-to-save-itself-must-scale-back-world-swallowing-ambitions.html?curator=MediaREDEF&amp;_r=0">Twitter  to Save Itself  Must Scale Back World Swallowing Ambitions   The New York Times</a><p id="break" data-id="17150"></p>
<a id="17156" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/02/10/ubs-review-gender-pay-gap/">Swiss Bank UBS Launches Pay Review to Close its Gender Pay Gap   Fortune</a><p id="break" data-id="17156"></p>
<a id="17152" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/02/11/jean-case-national-geographic/">Meet National Geographic s First Female Chairman Jean Case   Fortune</a><p id="break" data-id="17152"></p>
<a id="17115" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nymag.com/daily/intelligencer/2016/02/supreme-court-halts-obama-power-plan.html?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/10/16&amp;utm_term=Vox%20Newsletter%20All">Supreme Court Halts Obama Power Plan    NYMag</a><p id="break" data-id="17115"></p>
<a id="17186" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/11/north-korea-s-generals-could-turn-against-kim-jong-un.html?utm_source=nextdraft&amp;utm_medium=email">North Korea s Generals Could Turn Against Kim Jong Un   The Daily Beast</a><p id="break" data-id="17186"></p>
<a id="17147" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/kosher-cheeseburgers/">Kosher Cheeseburgers   Now I Know</a><p id="break" data-id="17147"></p>
<a id="17118" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/2/9/10956740/new-hampshire-primary-results-trump-sanders?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/10/16&amp;utm_term=Vox%20Newsletter%20All">The New Hampshire results should make both parties  establishments panic and despair   Vox</a><p id="break" data-id="17118"></p>
<a id="17127" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@kylesamani/the-deception-of-positive-and-negative-growth-percentages-a6f0641dce9b?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26138753&amp;_hsenc=p2ANqtz-88ztWzdd0nAmfu2OLuqKoRiz5wH5C59XAQysGSTUTNEMKaol5PcSXbd4NtFvncRJQ94ZNIq_9or7-WzWp78niy_WpwPw&amp;_hsmi=26138753#.oxi8072cy">The Deception of Positive and Negative Growth Percentages   Medium</a><p id="break" data-id="17127"></p>
<a id="17128" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/sapphire-ventures-perspectives/bridging-the-valuation-disequilibrium-3b24799ffb26?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26138753&amp;_hsenc=p2ANqtz-9GFlTYXrJN67ZO3R65nc6QVP19SwsHYuHoCVHPHUoaza8rryLWRhEyAS9Tva9i9w15_bz35mVe6GnBMrfNI_wm9nEUWg&amp;_hsmi=26138753#.gqyoj7q8w">Bridging The Valuation Disequilibrium   Sapphire Ventures Perspectives   Medium</a><p id="break" data-id="17128"></p>
<a id="17171" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/connect/how-letting-go-helped-me-live-healthier?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-09_mails_daily_new_header">The 5 Things My Illness Forced Me to Learn That Everyone Should Know   Greatist</a><p id="break" data-id="17171"></p>
<a id="17200" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/new-study-reveals-bacteria-can-see/">New Study Reveals that Bacteria Can  See </a><p id="break" data-id="17200"></p>
<a id="17148" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.amazon.com/Grinding-It-Out-Making-McDonalds/dp/0312929870">Grinding It Out  The Making Of McDonald s  Ray Kroc  9780312929879  Amazon com  Books</a><p id="break" data-id="17148"></p>
<a id="17137" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/11/fashion/fashion-week-vladimir-teriokhin-secret-knitwear-weapon.html?curator=FashionREDEF&amp;_r=0&amp;mtrref=undefined&amp;gwh=971BADD5951A434A0E464C9D48A3B4DA&amp;gwt=pay">Vladimir Teriokhin Is Designers  Secret Knitwear Weapon   The New York Times</a><p id="break" data-id="17137"></p>
<a id="17138" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/doree/head-over-heels?curator=FashionREDEF#.ux60WXxMM">The Biggest Name In Women s Shoes Is SteveBuzzfeed</a><p id="break" data-id="17138"></p>
<a id="17191" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/12/science/ligo-gravitational-waves-black-holes-einstein.html?_r=0&amp;mtrref=undefined&amp;gwh=BBB66F374FDE911947412F69814BB785&amp;gwt=pay">Gravitational Waves Detected  Confirming Einstein s Theory   The New York Times</a><p id="break" data-id="17191"></p>
<a id="17178" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/live/when-complaining-crosses-the-line?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-09_mails_daily_new_header">When Venting Goes from Helpful to Harmful   Greatist</a><p id="break" data-id="17178"></p>
<a id="17169" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://ruby-performance-book.com/blog/2016/02/is-ruby-2-3-faster-rails-erb-template-rendering-performance.html?utm_source=rubyweekly&amp;utm_medium=email">Is Ruby 2 3 Faster  Rails ERB Template Rendering Performance                                  Blog                    Ruby Performance Optimization Book</a><p id="break" data-id="17169"></p>
</div>
</body>
</html>
