<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Tuesday, Feb 02 2016 😎</h1>
  <div id="links">
  <a id="15843" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://digg.com/video/trained-eagle-drone?utm_medium=email&amp;utm_source=digg">Need To Take Down A Drone  This Trained Eagle Will Do It   Digg</a><p id="break" data-id="15843"></p>
<a id="14286" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.yellowkitebooks.co.uk/yellow-kite-online-festival/new-year-new-boyfriend/">New Year  New   Boyfriend    Yellow Kite</a><p id="break" data-id="14286"></p>
<a id="14751" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://om.co/2016/01/29/furiously-fast-fashion/?curator=FashionREDEF">Why Fast Fashion is like an addiction</a><p id="break" data-id="14751"></p>
<a id="15858" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://en.wikipedia.org/wiki/Slow-Carb_Diet">Slow Carb Diet   Wikipedia  the free encyclopedia</a><p id="break" data-id="15858"></p>
<a id="15566" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://link.netted.net/public/5999250">Netted   Oh wow  Guess what s two weeks away    Partner Tip</a><p id="break" data-id="15566"></p>
<a id="15229" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/01/26/business-more-successful/">5 Ways to Make Your Business More Successful   Fortune</a><p id="break" data-id="15229"></p>
<a id="14258" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://netted.net/contact-us/?utm_source=nettedbythewebbys&amp;utm_medium=newsletter&amp;utm_campaign=welcome">Contact us   Netted</a><p id="break" data-id="14258"></p>
<a id="14950" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theguardian.com/music/2016/jan/31/sia-everyone-in-entertainment-is-insecure-observer-music-interview?curator=MusicREDEF">Sia   Everyone in entertainment is insecure  We ve been dancing our entire lives for your approval    Music   The Guardian</a><p id="break" data-id="14950"></p>
<a id="15347" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/01/amtrak-may-have-been-struck-by-bullet.html">Amtrak Acela May Have Been Struck by Bullet   The Daily Beast</a><p id="break" data-id="15347"></p>
<a id="15312" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcoexist.com/">Co Exist   ideas   impact</a><p id="break" data-id="15312"></p>
<a id="15697" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/01/amtrak-may-have-been-struck-by-bullet.html?via=newsletter&amp;source=DDMorning">Amtrak Acela May Have Been Struck by Bullet   The Daily Beast</a><p id="break" data-id="15697"></p>
<a id="15983" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/01/31/virginia-tech-students-jailed-in-murder-of-13-year-old-girl.html?via=newsletter&amp;source=DDAfternoon">Virginia Tech Students Jailed in Murder of 13 Year Old Girl   The Daily Beast</a><p id="break" data-id="15983"></p>
<a id="14274" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.harpersbazaar.com.au/news/culture-club/2016/1/top-newsletters-to-subscribe-to/top-newsletters-to-subscribe-to-image-2/">Top Newsletters to Subscribe to   Image 2   Harper s BAZAAR</a><p id="break" data-id="14274"></p>
<a id="15132" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.sitepoint.com/introduction-to-jcanvas-jquery-meets-html5-canvas/?utm_source=SitePoint&amp;utm_medium=email&amp;utm_campaign=Versioning&amp;utm_medium=email&amp;utm_campaign=Versioning%20402&amp;utm_content=Versioning%20402+Version+A+CID_bebf8fc74d8ab1498097444028370a45&amp;utm_source=CampaignMonitor%20SitePoint&amp;utm_term=jCanvas%20-%20like%20jQuery%20crossed%20with%20HTML5s%20canvas">Introduction to jCanvas  jQuery Meets HTML5 Canvas</a><p id="break" data-id="15132"></p>
<a id="15812" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://abc.xyz/investor/founders-letters/2015/index.html?utm_medium=email&amp;utm_campaign=NY_BIZ_2/1/16&amp;utm_source=wakefield%20daily&amp;utm_term=ny">2015 Founders  Letter   Investor Relations   Alphabet</a><p id="break" data-id="15812"></p>
<a id="14631" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.eventbrite.fr/e/billets-hubday-future-of-retail-e-commerce-19360264071">HUBDAY Future of Retail   E commerce Billets  jeu le 4 f vr  2016  08 30   Eventbrite</a><p id="break" data-id="14631"></p>
<a id="14412" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcoexist.com/3040830/world-changing-ideas/can-treating-low-wage-workers-well-become-the-hot-new-business-strategy?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=coexist-daily-featured-bottom&amp;position=1&amp;partner=newsletter&amp;campaign_date=01312016">Can Treating Low Wage Workers Well Become The Hot New Business Strategy </a><p id="break" data-id="14412"></p>
<a id="14384" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.instagram.com/vinepair/?utm_source=The+Drop+by+VinePair&amp;utm_campaign=18e663cf4e-Jan_30_2016&amp;utm_medium=email&amp;utm_term=0_b653fb8c99-18e663cf4e-45343489">VinePair   vinepair    Instagram photos and videos</a><p id="break" data-id="14384"></p>
<a id="15351" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/01/31/malala-seeks-1-4b-to-educate-refugees.html?via=newsletter&amp;source=CSAMedition">Malala Seeks  1 4B to Educate Refugees   The Daily Beast</a><p id="break" data-id="15351"></p>
<a id="15188" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/quizzes/where-is-cocaine-use-most-common/">Where is Cocaine Use Most Common    Now I Know Quizzes</a><p id="break" data-id="15188"></p>
<a id="15356" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/01/chicago-cops-retire-to-avoid-discipline.html?via=newsletter&amp;source=CSAMedition">Chicago Cops Retire to Avoid Discipline   The Daily Beast</a><p id="break" data-id="15356"></p>
</div>
</body>
</html>
