<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Saturday, Feb 27 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="25133" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://soundcloud.com/nybooks/zadie-smith-speaking-in-tongues">Zadie Smith  Speaking in Tongues  2008  by New York Review of Books   Free Listening on SoundCloud</a><p id="break" data-id="25133"></p>
<a id="25103" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/624837/a-detergent-commercial-makes-a-simple-powerful-point-about-inequality/">A detergent ad with a powerful point about inequality gets high marks from Sheryl Sandberg   Quartz</a><p id="break" data-id="25103"></p>
<a id="25050" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bloomberg.com/news/features/2016-02-23/can-one-of-the-dirtiest-corners-of-global-soccer-clean-up-its-own-act?utm_source=Casual+Spectator&amp;utm_campaign=a2b87a3e6e-Campaign_001_02_01_2016&amp;utm_medium=email&amp;utm_term=0_2e9018b243-a2b87a3e6e-279242985">Can One of the Dirtiest Corners of Global Soccer Clean Up Its Own Act    Bloomberg Business</a><p id="break" data-id="25050"></p>
<a id="25134" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.brainpickings.org/2016/02/23/agnes-martin-inspiration/">Artist Agnes Martin on Inspiration  Interruptions  Cultivating a Creative Atmosphere  and the Only Type of Person You Should Allow Into Your Studio   Brain Pickings</a><p id="break" data-id="25134"></p>
<a id="25334" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcocreate.com/3057168/creation-stories/director-john-hillcoat-on-why-he-needed-an-epic-cast-to-pull-off-triple-9?utm_source=mailchimp&amp;utm_medium=email&amp;utm_campaign=cocreate-daily&amp;position=3&amp;partner=newsletter&amp;campaign_date=02262016">Director John Hillcoat On Why He Needed An Epic Ensemble Cast To Pull Off  Triple 9    Co Create   creativity   culture   commerce</a><p id="break" data-id="25334"></p>
<a id="25196" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.hollywoodreporter.com/features/thrs-tower-bar-oral-history-868009?curator=MediaREDEF">THR s Tower Bar Oral History  The Celebrity Soaked Eatery Turns 10   Hollywood Reporter</a><p id="break" data-id="25196"></p>
<a id="24990" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.billboard.com/articles/business/6890304/the-pipes-that-make-up-spotifys-circulatory-system-explained?curator=MusicREDEF">The Pipes That Make Up Spotify s  Circulatory System   Explained   Billboard</a><p id="break" data-id="24990"></p>
<a id="25355" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://eyeopen-nv.homerun.hr/medior-webdesigner">Webdesigner   eyeOpen N V </a><p id="break" data-id="25355"></p>
<a id="24987" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fusion.net/story/272526/kesha-producers-top-40/?curator=MusicREDEF">Only 4  of Top 40 Producers this week are women   Fusion</a><p id="break" data-id="24987"></p>
<a id="24986" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://observer.com/2016/02/why-vinyls-resurgence-wont-save-the-music-industry/?curator=MusicREDEF">Why Vinyl s Resurgence Won t Save the Music Industry      Observer</a><p id="break" data-id="24986"></p>
<a id="25105" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.aljazeera.com/indepth/features/2016/02/sos-woman-saving-syrian-refugees-sea-160214105818037.html"> Lady SOS   The woman saving Syrian refugees at sea   Al Jazeera English</a><p id="break" data-id="25105"></p>
<a id="25244" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.bbc.co.uk/news/magazine-35560458?utm_source=hackernewsletter&amp;utm_medium=email&amp;utm_term=fav">The man who made  the worst video game in history    BBC NewsBBC News</a><p id="break" data-id="25244"></p>
<a id="25000" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.npr.org/2016/02/25/468098214/what-musical-family-has-the-oscars-on-lock-hello-newmans?curator=MusicREDEF">What Musical Family Has The Oscars On Lock  Hello  Newmans    NPR</a><p id="break" data-id="25000"></p>
<a id="25007" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.latimes.com/entertainment/music/posts/la-et-ms-tweet-explains-hiatus-20160224-story.html">Tweet explains why it took her a decade to release a new album   LA Times</a><p id="break" data-id="25007"></p>
<a id="25204" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/culture/ted-2016-quotes?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-26+CH+Daily+for+26+February+2016">QuoTED 2016   Cool Hunting</a><p id="break" data-id="25204"></p>
<a id="25099" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fortune.com/2016/02/26/eventbrite-board/">Eventbrite Adds Seasoned Banker To Its Board   Fortune</a><p id="break" data-id="25099"></p>
<a id="25046" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/news/sports/wp/2016/02/23/the-biggest-and-possibly-insurmountable-obstacle-in-fixing-nfls-catch-rule/?utm_source=Casual+Spectator&amp;utm_campaign=a2b87a3e6e-Campaign_001_02_01_2016&amp;utm_medium=email&amp;utm_term=0_2e9018b243-a2b87a3e6e-279242985">The biggest  and possibly insurmountable  obstacle in fixing NFL s catch rule   The Washington Post</a><p id="break" data-id="25046"></p>
<a id="24960" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theatlantic.com/entertainment/archive/2016/02/our-swag-bags-ourselves/470796/?curator=FashionREDEF">Why 2016 s  Everybody Wins  Oscars Gift Bags Are the Subject of a Lawsuit   The Atlantic</a><p id="break" data-id="24960"></p>
<a id="25140" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.tastingtable.com/entertain/national/dinner-party-recipes-jon-shook-vinny-dotolo-jon-and-vinnys-animal-trois-mec-la?utm_medium=email&amp;utm_source=TT&amp;utm_campaign=Daily&amp;utm_content=Editorial">Italian American Dinner Party Menu from Jon   Vinny s</a><p id="break" data-id="25140"></p>
<a id="25096" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/the-weekender-february-26-2016/">The Weekender  February 26  2016   Now I Know</a><p id="break" data-id="25096"></p>
<a id="25031" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailyrally.com/email/jumpman-jumpman-jumpman-jumpman/?ref=viewonweb&amp;utm_source=The+Daily+Rally&amp;utm_campaign=6d2b972e8c-The_Daily_Rally_20150226&amp;utm_medium=email&amp;utm_term=0_8529cab2df-6d2b972e8c-229603221">TDR  Jumpman  Jumpman  Jumpman  Jumpman</a><p id="break" data-id="25031"></p>
</div>
  <p class="archive"><a href="/index-2016-02-26">Yesterday</a></p>
<p>
</p>
</body>
</html>
