<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Thursday, Feb 18 2016 😎</h1>
  <div id="links">
  <a id="19714" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://thump.vice.com/en_us/article/the-grammys-electronic-music-awards-came-so-close-to-being-great-this-yearwhat-happened">The Grammys  Electronic Music Awards Came So Close to Being Great this Year What Happened    Thump</a><p id="break" data-id="19714"></p>
<a id="19797" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.elle.com/culture/career-politics/a34158/meet-the-whistleblower-pediatrician-who-exposed-the-flint-water-crisis/">How One Pediatrician Stood up for Children in Flint   Meet Flint s Whistleblowerlogologologo</a><p id="break" data-id="19797"></p>
<a id="19559" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://player.vimeo.com/video/155441295?autoplay=1:1">These Drones Are the Next Generation of Wearable Tech from Futurism on Vimeo</a><p id="break" data-id="19559"></p>
<a id="20090" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://solveforinteresting.com/24h-in-vr-000-023-electric-monk/?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+SolveForInteresting+%28Solve+for+Interesting%29">24h in VR 0 00 0 23  Electric Monk   Solve for Interesting</a><p id="break" data-id="20090"></p>
<a id="19500" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/2/15/10998344/astronaut-ice-cream?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/16/16&amp;utm_term=Vox%20Newsletter%20All">Astronaut ice cream is a lie   Vox</a><p id="break" data-id="19500"></p>
<a id="19565" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://designmodo.com/slides/#overview">Slides Framework  Beautiful Website Builder   Designmodo</a><p id="break" data-id="19565"></p>
<a id="19539" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://blog.close.io/10-to-100-customers?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26319799&amp;_hsenc=p2ANqtz-_77hz69SEwsg05q2NwjPliEXiS_E2V-2rv0U5ngq8xskJWGo3-ajh6Y_2g3CA5rpfBBtPp9QicsgalTRc1pgqa2NqD0A&amp;_hsmi=26319799">Early B2B SaaS growth  How to go from 10 to 100 customers</a><p id="break" data-id="19539"></p>
<a id="19533" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/@thenickfrost/someone-asked-for-advice-about-getting-into-vc-what-s-missing-did-i-hit-the-right-notes-1a1a2e1bd019?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26319799&amp;_hsenc=p2ANqtz-8FwI893X1ZQ2MhcVi48ooZ16W48hhmzhf5xzm2dhcva5CLf1bf6tsnVhJbe7F3gyHTTmKcN2DHfYwPXrAXUCBL-Vsrrw&amp;_hsmi=26319799#.1bcsj0wcp">Someone Asked for Advice About Getting Into VC  What s Missing  Did I Hit the Right Notes    Medium</a><p id="break" data-id="19533"></p>
<a id="19739" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/monicamark/this-is-how-boko-haram-is-trying-to-turn-captives-into-suici?curator=MediaREDEF#.mq45kDk2B">This Is How Boko Haram Is Trying To Turn Captives Into Suicide Bombers   BuzzFeed NewsBuzzfeed</a><p id="break" data-id="19739"></p>
<a id="19537" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://mattermark.com/a-brief-history-of-tech-bullshit/?utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26319799&amp;_hsenc=p2ANqtz--LPi2Dg8ZUKmeSp2RFhbCYBgLhRYZM6ex4p8-ktkIXdfYWiLmTxLVRyJYyeJgvgEC4JuJbqVhXGkW1AON5QMbyWIR72g&amp;_hsmi=26319799">A Brief History Of Tech Bulls 1t   Mattermark</a><p id="break" data-id="19537"></p>
<a id="19580" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.monkfeet.com/course/notfound/index/id/434">Monkfeet   courses  workshops and events on essential skills for entrepreneurship</a><p id="break" data-id="19580"></p>
<a id="19535" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://itunes.apple.com/us/app/mattermark/id947663909?mt=8&amp;utm_campaign=Mattermark+Daily&amp;utm_medium=email&amp;_hsenc=p2ANqtz-8G4Ts0iarA9AkZHMS5t9NCZRTcMJePg1A330M6MjaiEKtMTQJYN85k3IvwZY6rulWCIvUQKa2pk5ZqeKpZXSsKCZzGbQ&amp;_hsmi=26319799&amp;utm_content=26319799&amp;utm_source=hs_email&amp;hsCtaTracking=03549df1-2dec-4733-b571-a09cb8b7bde7%7C82148b7e-f2b9-4d9e-b0be-fe9b6e535f1d">Mattermark on the App Store</a><p id="break" data-id="19535"></p>
<a id="20056" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://vinepair.com/wine-blog/your-port-glass-is-tiny-for-a-reason/?utm_source=The+Drop+by+VinePair&amp;utm_campaign=26a13a1e84-Feb_17_2016&amp;utm_medium=email&amp;utm_term=0_b653fb8c99-26a13a1e84-45343489">Your Port Glass Is Tiny For A Reason   VinePair</a><p id="break" data-id="20056"></p>
<a id="19657" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://redef.com/mix/sports-mix-1455671730733">February 17  2016   Daily Sports Mix   Jason Hirschhorn s REDEF</a><p id="break" data-id="19657"></p>
<a id="19869" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/culture/ted-prize-2016-dr-sarah-parcak?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-17+CH+Daily+for+17+February+2016">2016 TED Prize Winner  Dr Sarah Parcak s Crowdsourcing Space Archaeology    Cool Hunting</a><p id="break" data-id="19869"></p>
<a id="19706" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.billboard.com/articles/business/6875477/spotify-30-million-subscribers-apple-music-11-million-subscribers?curator=MusicREDEF">As Spotify Nears 30 Million Subscribers and Apple Music Exceeds 11 Million  Is Streaming Turning the Corner    Billboard</a><p id="break" data-id="19706"></p>
<a id="19515" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://edition.cnn.com/2016/02/11/politics/bernie-sanders-eric-garner-daughter-ad/?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/16/16&amp;utm_term=Vox%20Newsletter%20All">Eric Garner s daughter stars in powerful Sanders ad   CNNPolitics com</a><p id="break" data-id="19515"></p>
<a id="19531" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mailer.mattermark.com/hs/manage-preferences/unsubscribe?v=1&amp;d=eyJlYSI6ImFteWhyZWZAZ21haWwuY29tIiwiZWMiOjI2MzE5Nzk5LCJzdWJzY3JpcHRpb25JZCI6MzU3Njk1LCJldCI6MTQ1NTY3MDk2ODMzMCwiZXUiOiI0MjJlMTc3Zi1lNTBhLTRmMDUtOGMzMS0yNDkzYTY5Mzk5NTYifQ%3D%3D&amp;utm_campaign=Mattermark+Daily&amp;utm_source=hs_email&amp;utm_medium=email&amp;utm_content=26319799&amp;_hsenc=p2ANqtz-8wKxYwVQVp5M1fuXMJYIIHFzSol1KCQ3ugXjoc02O8agTctDOGtsF2UGY4GejG2Q9aAbSmIpnxjMCQ_mKHjOIAFWfMNg&amp;_hsmi=26319799">Mattermark  Inc  Email ServicesMattermark</a><p id="break" data-id="19531"></p>
<a id="19581" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://tellseries.com/ai1ec_event/brett-akker/?instance_id=">Brett Akker   Lovespace  Streetcar   TELL Series</a><p id="break" data-id="19581"></p>
<a id="20069" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://greatist.com/eat/ways-use-leftover-wine?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=daily_newsletter_2016-02-16_mails_daily_new_header">27 Genius Ways to Use Leftover Wine   Greatist</a><p id="break" data-id="20069"></p>
<a id="20047" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.slashgear.com/lenovo-now-has-ashton-kutcher-promoting-moto-phones-17427339/?utm_medium=email&amp;utm_source=digg">Lenovo now has Ashton Kutcher promoting Moto phones   SlashGear</a><p id="break" data-id="20047"></p>
</div>
</body>
</html>
