<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Monday, Mar 07 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="27873" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://wealthmanagement.com/etfs/eaton-vance-comes-market-new-type-low-fee-fund">Eaton Vance Comes to Market With New Type of Low Fee Fund</a><p id="break" data-id="27873"></p>
<a id="27893" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://aeon.co/videos/from-kill-heels-to-bikini-closets-the-new-words-of-industrialised-south-korea?utm_source=Aeon+Newsletter&amp;utm_campaign=fd33b33a94-Weekly_Newsletter_Friday_04_March_20163_4_2016&amp;utm_medium=email&amp;utm_term=0_411a82e59d-fd33b33a94-68698017">From kill heels to bikini closets  the new words of    </a><p id="break" data-id="27893"></p>
<a id="27848" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mobile.nytimes.com/blogs/opinionator/2016/02/20/on-the-road-to-humankind-with-leon-festinger/?referer=farnamstreetblog.com">A Road Trip to the Origins of Our Species   NYTimes com</a><p id="break" data-id="27848"></p>
<a id="27964" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.hollywoodreporter.com/news/las-mystery-banker-behind-hollywoods-871653?curator=MediaREDEF">L A  s Mystery Banker Behind Hollywood s China Money   Hollywood Reporter</a><p id="break" data-id="27964"></p>
<a id="27750" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.gq.com/story/jourdan-dunn-sexy-photos-instagram?mbid=nl_20160304_daily&amp;CNDID=41144480&amp;spMailingID=8625303&amp;spUserID=MTI3MDk4MzE3NDUwS0&amp;spJobID=880601736&amp;spReportId=ODgwNjAxNzM2S0">Jourdan Dunn Is Officially the Sexiest Chef We ve Ever Known   GQ</a><p id="break" data-id="27750"></p>
<a id="28000" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/3/3/11148422/food-science-nutrition-research-bias-conflict-interest">Food companies distort nutrition science  Here s how to stop them    Vox</a><p id="break" data-id="28000"></p>
<a id="27898" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fivethirtyeight.com/features/after-super-tuesday-can-republicans-still-take-the-nomination-away-from-trump/">Can Republicans Still Take The Nomination Away From Trump    FiveThirtyEight</a><p id="break" data-id="27898"></p>
<a id="27925" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.manrepeller.com/2015/10/mr-round-table-burnout.html">MR Round Table  The Burnout Generation   Man Repeller</a><p id="break" data-id="27925"></p>
<a id="27850" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://hbr.org/2016/02/the-magic-of-30-minute-meetings">The Magic of 30 Minute Meetings</a><p id="break" data-id="27850"></p>
<a id="27771" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcoexist.com/3057263/does-this-make-my-customers-rich-business-tips-for-the-future-steady-state-economy">Does This Make My Customers Rich  Business Tips For The Future Steady State Economy   Co Exist   ideas   impact</a><p id="break" data-id="27771"></p>
<a id="27963" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/estherwang/why-i-love-watching-and-reading-about-white-people-having-30?curator=MediaREDEF#.xmkgjlxqG">Watching And Reading About White People Having Sex Is My EscapeBuzzfeed</a><p id="break" data-id="27963"></p>
<a id="27976" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcompany.com/3006023/how-lay-down-law-if-your-team-keeps-blowing-deadlines">How To Lay Down The Law If Your Team Keeps Blowing Deadlines   Fast Company   Business   Innovation</a><p id="break" data-id="27976"></p>
<a id="27984" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/images/week-science-february-28th-march-6th-2016/?src=home">This Week in Science  February 28th   March 6th  2016</a><p id="break" data-id="27984"></p>
<a id="28007" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://vinepair.com/wine-blog/7-creative-ways-to-repurpose-your-empty-beer-bottles/?utm_source=The+Drop+by+VinePair&amp;utm_campaign=6a439d9451-Mar_6_2016&amp;utm_medium=email&amp;utm_term=0_b653fb8c99-6a439d9451-45343489">7 Creative Ways To Repurpose Your Empty Beer Bottles   VinePair</a><p id="break" data-id="28007"></p>
<a id="27884" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thefinancialbrand.com/57561/time-stop-treating-millennials-single-segment/">It s Time To Stop Treating Millennials as a Single Segment</a><p id="break" data-id="27884"></p>
<a id="27962" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.polygon.com/features/2016/3/4/11158134/the-man-who-made-a-million-empires?curator=MediaREDEF">The man who made a million empires   Polygon</a><p id="break" data-id="27962"></p>
<a id="27921" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theguardian.com/technology/2016/mar/04/microsoft-monopolise-pc-games-development-epic-games-gears-of-war">Microsoft wants to monopolise games development on PC  We must fight it   Technology   The Guardian</a><p id="break" data-id="27921"></p>
<a id="27883" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://finovate.com/finovate-debuts-designed-women-spiff-introduces-social-savings-service/">Finovate Debuts  Designed for Women  Spiff Introduces its Social Savings Service   Finovate</a><p id="break" data-id="27883"></p>
<a id="27978" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/news/wonk/wp/2016/03/04/the-magical-thing-eating-chocolate-does-to-your-brain/">The magical thing eating chocolate does to your brain   The Washington Post</a><p id="break" data-id="27978"></p>
<a id="27872" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.p2p-banking.com/countries/germany-breaking-auxmoney-raises-series-d-from-seven-ventures/">Auxmoney Raises Series D from Seven Ventures   P2P Banking com</a><p id="break" data-id="27872"></p>
<a id="28003" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.npr.org/sections/thesalt/2016/03/02/468933610/sleep-munchies-why-its-harder-to-resist-snacks-when-were-tired">Sleep Munchies  Why It s Harder To Resist Snacks When We re Tired   The Salt   NPR</a><p id="break" data-id="28003"></p>
</div>
  <p class="archive"><a href="/index-2016-03-06">Yesterday</a></p>
<p>
</p>
</body>
</html>
