<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Wednesday, Mar 02 2016 😎</h1>
  <p class="about">
    <a href="http://troisen.com/amyhref.html">About</a>
  </p>
  <div id="links">
  <a id="25892" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://qz.com/628456/the-megacities-globally-that-are-the-most-endangered-by-climate-change-are-doing-the-least-about-it/?utm_source=Mic+Check&amp;utm_campaign=aff19a4b07-Tuesday_March_13_1_2016&amp;utm_medium=email&amp;utm_term=0_51f2320b33-aff19a4b07-286993097">The megacities that are the most endangered by climate change are doing the least about it   Quartz</a><p id="break" data-id="25892"></p>
<a id="25872" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/news/innovations/wp/2016/02/25/why-roboticists-are-raving-about-googles-new-robot/">Why roboticists are raving about Google s new robot   The Washington Post</a><p id="break" data-id="25872"></p>
<a id="25890" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/28/opinion/sunday/whats-the-point-of-moral-outrage.html?utm_source=Mic+Check&amp;utm_campaign=aff19a4b07-Tuesday_March_13_1_2016&amp;utm_medium=email&amp;utm_term=0_51f2320b33-aff19a4b07-286993097&amp;_r=0">What s the Point of Moral Outrage    The New York Times</a><p id="break" data-id="25890"></p>
<a id="25875" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://motto.time.com/4235545/body-language-job/?xid=newsletter-brief">How Body Language Can Help You Get a Job Offer   Motto</a><p id="break" data-id="25875"></p>
<a id="25908" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.manrepeller.com/2016/03/susan-miller-astrology.html">Your Horoscopes Are Not Ready yet  but Here s Some Stuff You Might Not Know About Susan Miller   Man Repeller</a><p id="break" data-id="25908"></p>
<a id="25904" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.polygon.com/2016/2/29/11132958/vive-pre-hands-on-valve-htc-steam">What I ve learned after a weekend with the HTC Vive Pre   Polygon</a><p id="break" data-id="25904"></p>
<a id="25877" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.fastcodesign.com/3057113/facebooks-product-design-director-explains-one-of-its-biggest-ux-changes-in-years">Facebook s Product Design Director Explains One Of Its Biggest UX Changes In Years   Co Design   business   design</a><p id="break" data-id="25877"></p>
<a id="25887" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mic.com/articles/136528/3-d-printed-helmets-prevent-concussions?utm_source=Mic+Check&amp;utm_campaign=aff19a4b07-Tuesday_March_13_1_2016&amp;utm_medium=email&amp;utm_term=0_51f2320b33-aff19a4b07-286993097#.hdyIrNRNR">Scientists Are Developing 3 D Printed Helmets to Prevent Concussions   Mic</a><p id="break" data-id="25887"></p>
<a id="25879" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.npr.org/sections/thetwo-way/2016/02/25/466555217/your-letters-helped-challenger-shuttle-engineer-shed-30-years-of-guilt">Your Letters Helped Challenger Shuttle Engineer Shed 30 Years Of Guilt   The Two Way   NPR</a><p id="break" data-id="25879"></p>
<a id="25891" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theatlantic.com/health/archive/2016/03/how-urban-noise-impacts-residents-health/471465/?utm_source=Mic+Check&amp;utm_campaign=aff19a4b07-Tuesday_March_13_1_2016&amp;utm_medium=email&amp;utm_term=0_51f2320b33-aff19a4b07-286993097">How City Noise Impacts Residents  Health   The Atlantic</a><p id="break" data-id="25891"></p>
<a id="25881" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://thenextweb.com/voice/2016/02/24/startups-are-moving-to-amsterdam-but-should-i/">Startups are moving to Amsterdam  but should you </a><p id="break" data-id="25881"></p>
</div>
  <p class="archive"><a href="/index-2016-03-01">Yesterday</a></p>
<p>
</p>
</body>
</html>
