<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Monday, Feb 08 2016 😎</h1>
  <div id="links">
  <a id="16780" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/07/nyregion/jeremy-wilson-a-compulsive-con-man.html?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/5/16&amp;utm_term=Vox%20Newsletter%20All&amp;_r=0">The Lives and Lies of a Professional Impostor   The New York Times</a><p id="break" data-id="16780"></p>
<a id="16800" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/wharton-fintech/navigating-the-fintech-investment-landscape-6fe2471956bc#.r6yz4acqp">Navigating the FinTech Investment Landscape   Wharton FinTech   Medium</a><p id="break" data-id="16800"></p>
<a id="16811" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.web-crunch.com/another-13-ways-earn-income-freelancing/">Another 13 Ways to Earn More Income While Freelancing   Web Crunch</a><p id="break" data-id="16811"></p>
<a id="16787" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/news/fancy-stats/wp/2016/02/02/super-bowl-records-that-could-be-firsts-in-super-bowl-50/">These things have never happened in a Super Bowl   The Washington Post</a><p id="break" data-id="16787"></p>
<a id="16804" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/ship-of-fools/death-by-entropy-470d723866d#.i3461khgq">Death by Entropy   Ship of Fools   Medium</a><p id="break" data-id="16804"></p>
<a id="16777" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://player.vimeo.com/video/90608624?title=0&amp;byline=0&amp;portrait=0:1">Vox Media 2014 Reel from Vox Studios on Vimeo</a><p id="break" data-id="16777"></p>
<a id="16805" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/ship-of-fools/death-by-entropy-470d723866d#.i3461khgq">Death by Entropy   Ship of Fools   Medium</a><p id="break" data-id="16805"></p>
<a id="16803" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/gov-transparency/vijf-tips-voor-het-onderzoek-naar-een-echt-open-handelsregister-d0921595ebbf#.ipn30p1gn">Vijf tips voor het onderzoek naar een echt open handelsregister   gov Transparency    Medium</a><p id="break" data-id="16803"></p>
<a id="16770" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.theverge.com/2015/12/31/10696012/twitter-sucks-at-fighting-isis?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/5/16&amp;utm_term=Vox%20Newsletter%20All">Twitter sucks at fighting ISIS   The Verge</a><p id="break" data-id="16770"></p>
<a id="16815" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://ben-evans.com/benedictevans/2016/1/31/lists-are-the-new-search">Lists are the new search   Benedict Evans</a><p id="break" data-id="16815"></p>
<a id="16795" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.huffingtonpost.com/entry/panthers-unapologetically-black-nfl-history-cam-newton-dab_us_56a9003ee4b0947efb663272?curator=SportsREDEF">The Panthers Are The Most Unapologetically Black Team In NFL History</a><p id="break" data-id="16795"></p>
<a id="16814" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://ben-evans.com/benedictevans/2016/1/31/lists-are-the-new-search">Lists are the new search   Benedict Evans</a><p id="break" data-id="16814"></p>
<a id="16785" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/07/arts/music/beyonce-formation-super-bowl-video.html?_r=0&amp;mtrref=undefined&amp;gwh=2685B0FD8D47CEF877073907EA461197&amp;gwt=pay">Beyonc  in  Formation   Entertainer  Activist  Both    The New York Times</a><p id="break" data-id="16785"></p>
<a id="16813" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.web-crunch.com/another-13-ways-earn-income-freelancing/">Another 13 Ways to Earn More Income While Freelancing   Web Crunch</a><p id="break" data-id="16813"></p>
<a id="16778" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2015/12/16/us/politics/hillary-clinton-calls-on-tech-companies-to-help-thwart-isis-online.html?_r=1&amp;mtrref=www.nytimes.com&amp;utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/5/16&amp;utm_term=Vox%20Newsletter%20All">Hillary Clinton Asks Tech Companies to Help Thwart ISIS Online   The New York Times</a><p id="break" data-id="16778"></p>
<a id="16779" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/05/us/politics/bernie-sanders-young-democratic-voters.html?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/5/16&amp;utm_term=Vox%20Newsletter%20All&amp;_r=0">Young Democrats Flock to Bernie Sanders  Spurning Hillary Clinton s Polish and Poise   The New York Times</a><p id="break" data-id="16779"></p>
<a id="16792" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/video/politics/marco-rubios-go-to-lines/2016/02/07/a8e448ce-cd60-11e5-b9ab-26591104bb19_video.html">Marco Rubio s go to lines   The Washington Post</a><p id="break" data-id="16792"></p>
<a id="16791" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/video/politics/marco-rubios-go-to-lines/2016/02/07/a8e448ce-cd60-11e5-b9ab-26591104bb19_video.html">Marco Rubio s go to lines   The Washington Post</a><p id="break" data-id="16791"></p>
<a id="16807" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.amazon.com/Broken-Monsters-Lauren-Beukes/dp/0007464614">Broken Monsters  Lauren Beukes  9780007464616  Amazon com  Books</a><p id="break" data-id="16807"></p>
<a id="16797" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/02/upshot/super-bowl-denver-broncos-carolina-panthers-flu.html?_r=1&amp;mtrref=undefined&amp;gwh=75CB226F3781AD6695903FB60347FFDB&amp;gwt=pay">Your Team Made the Super Bowl  Better Get a Flu Shot   The New York Times</a><p id="break" data-id="16797"></p>
<a id="16788" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/wharton-fintech/navigating-the-fintech-investment-landscape-6fe2471956bc#.r6yz4acqp">Navigating the FinTech Investment Landscape   Wharton FinTech   Medium</a><p id="break" data-id="16788"></p>
<a id="16786" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/02/upshot/super-bowl-denver-broncos-carolina-panthers-flu.html?_r=1&amp;mtrref=undefined&amp;gwh=519BDD55A249E2155FD0AC99556D8AD5&amp;gwt=pay">Your Team Made the Super Bowl  Better Get a Flu Shot   The New York Times</a><p id="break" data-id="16786"></p>
</div>
</body>
</html>
