<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Wednesday, Feb 17 2016 😎</h1>
  <div id="links">
  <a id="18909" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.law.gwu.edu/joan-s-meier">Joan S  Meier   GW Law   The George Washington University</a><p id="break" data-id="18909"></p>
<a id="18849" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nexodigital.it/ted-2016-dream/">TED 2016 Dream   Nexo Digital  The Next Cinema Experience</a><p id="break" data-id="18849"></p>
<a id="19207" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://digg.com/video/lady-gaga-david-bowie-tribute-grammys-2016?utm_medium=email&amp;utm_source=digg">Lady Gaga s Tribute To David Bowie At The Grammys Was Phenomenal   Digg</a><p id="break" data-id="19207"></p>
<a id="19463" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.zdnet.com/article/alleged-samsung-galaxy-s7-galaxy-s7-edge-shown-in-leaked-photos/">Samsung Galaxy S7  Galaxy S7 Edge pre orders will ship with free Gear VR headset  Report   ZDNet</a><p id="break" data-id="19463"></p>
<a id="19471" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://mic.com/articles/135241/what-does-justice-scalia-s-death-mean-for-these-major-scotus-cases?utm_source=Mic+Check&amp;utm_campaign=f3a7ff89ab-Tuesday_February_162_16_2016&amp;utm_medium=email&amp;utm_term=0_51f2320b33-f3a7ff89ab-286993097#.RkXLsHToK">What Does Justice Scalia s Death Mean for These Major SCOTUS Cases    Mic</a><p id="break" data-id="19471"></p>
<a id="19284" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.getrichslowly.org/blog/2008/02/26/book-review-dave-ramseys-the-total-money-makeover/">Dave Ramsey s The Total Money Makeover book review</a><p id="break" data-id="19284"></p>
<a id="19169" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.savoteur.com/germany/to-date-a-berliner?utm_medium=email&amp;utm_campaign=Southern%20Turkish%20Tastes%20Come%20to%20Istanbul%20-%202016-16-02&amp;utm_source=Pilot%20-%20Istanbul&amp;utm_term=SVT%20Istanbul%20-%20English">To Date a Berliner</a><p id="break" data-id="19169"></p>
<a id="18940" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.foxsports.com/buzzer/story/how-to-save-nfl-nba-mlb-nhl-all-star-games-021516?curator=SportsREDEF">Here s how to save every All Star game in sports   FOX Sports</a><p id="break" data-id="18940"></p>
<a id="18870" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://priceonomics.com/why-is-the-heart-emoji-so-anatomically-incorrect/">Why Is the Heart Symbol so Anatomically Incorrect </a><p id="break" data-id="18870"></p>
<a id="19226" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://netted.net/category/art/">Art   Netted</a><p id="break" data-id="19226"></p>
<a id="19422" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/chrisgeidner/everything-you-need-to-know-about-what-happens-now-with-the?utm_source=nextdraft&amp;utm_medium=email#.rtqK9DBve">Everything You Need To Know About What Happens Now With The Supreme Court   BuzzFeed NewsBuzzfeed</a><p id="break" data-id="19422"></p>
<a id="19064" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://m.riverfronttimes.com/stlouis/a-killing-in-the-hills/Content?oid=3058230&amp;showFullText=true?Src=longreads&amp;mc_cid=c081831282&amp;mc_eid=0ac31bbfb2">A Killing in the Hills   Feature   St  Louis News and Events   Riverfront Times</a><p id="break" data-id="19064"></p>
<a id="19300" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://getpocket.com/login?e=2">Pocket  Log In</a><p id="break" data-id="19300"></p>
<a id="19296" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.fatherly.com/connected-toys-pose-serious-security-concerns-for-parents-1585910762.html?utm_source=uncubed&amp;utm_medium=newsletter&amp;utm_term=none&amp;utm_device=all&amp;utm_campaign=syndication">Connected Toys Pose Serious Security Concerns For Parents</a><p id="break" data-id="19296"></p>
<a id="19062" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.charlottemagazine.com/Charlotte-Magazine/February-2016/Poverty-in-Charlotte-It-Was-Never-Okay/?src=longreads&amp;mc_cid=c081831282&amp;mc_eid=0ac31bbfb2">Poverty in Charlotte   It Was Never Okay    Charlotte Magazine   February 2016   Charlotte  NC</a><p id="break" data-id="19062"></p>
<a id="18957" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nydailynews.com/news/national/king-peyton-manning-squeaky-clean-image-built-lies-article-1.2530395">KING  Peyton Manning s squeaky clean image was built on lies   NY Daily News</a><p id="break" data-id="18957"></p>
<a id="19053" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://blog.longreads.com/2016/02/12/the-top-5-longreads-of-the-week-104/?mc_cid=c081831282&amp;mc_eid=0ac31bbfb2">The Top 5 Longreads of the Week     Longreads Blog</a><p id="break" data-id="19053"></p>
<a id="18822" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://kickstartch.wpengine.com/vertical-3-fintech/">FinTech Vertical   Kickstart Accelerator</a><p id="break" data-id="18822"></p>
<a id="18863" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://innovationcentre-aab.nl/startup-friday-3/">Startup Friday   Artificial Intelligence   Innovation Centre</a><p id="break" data-id="18863"></p>
<a id="19285" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.inc.com/jeff-haden/how-to-become-a-highly-paid-freelancer-while-keeping-your-full-time-job.html">How to Become a Highly Paid Freelancer While Keeping Your Full Time Job   Inc com</a><p id="break" data-id="19285"></p>
<a id="18987" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.ap.org/Content/AP-In-The-News/2016/Zeina-Karam-appointed-APs-news-director-for-Lebanon-and-Syria">Zeina Karam appointed APs news director for Lebanon and Syria</a><p id="break" data-id="18987"></p>
<a id="18934" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://uk.complex.com/sports/2016/02/drake-raptors-partnership?curator=SportsREDEF">Drake  the Raptors  and the Value of a  Global Ambassador    Complex UK</a><p id="break" data-id="18934"></p>
</div>
</body>
</html>
