<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Wednesday, Feb 03 2016 😎</h1>
  <div id="links">
  <a id="16256" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.sendicate.net/unsubscribe/LS0tCjp0b2tlbjogMmNYVXRBCjplbWFpbDogYW15aHJlZkBnbWFpbC5jb20K">Sendicate</a><p id="break" data-id="16256"></p>
<a id="16274" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/01/the-x-files-meets-the-midlife-crisis-how-darin-morgan-made-mulder-believe-in-monsters-again.html?via=newsletter&amp;source=DDAfternoon"> The X Files  Meets the Were Lizard  Darin Morgan on Scully s Immortality and Making Mulder Believe   The Daily Beast</a><p id="break" data-id="16274"></p>
<a id="16199" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://beltandroad.hktdc.com/en/index.aspx?DCSext.dept=21&amp;WT.mc_id=1818193&amp;utm_source=liveintent&amp;utm_medium=banner&amp;utm_content=msg01_728x90&amp;utm_campaign=launchpromo">HKTDC Belt and Road</a><p id="break" data-id="16199"></p>
<a id="16113" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.natalieturnbull.com.au/">Nat Turnbull</a><p id="break" data-id="16113"></p>
<a id="16250" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/01/ted-cruz-wins-iowa-rubio-surges-to-3rd.html?via=newsletter&amp;source=DDMorning">Ted Cruz Wins Iowa  Rubio Surges to 3rd   The Daily Beast</a><p id="break" data-id="16250"></p>
<a id="16195" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.huffingtonpost.com/entry/marco-rubio-third-iowa-lost_us_56b01b93e4b0b8d7c23063e2?ky69lik9?via=dailybeast&amp;source=politics&amp;via=newsletter">Don t Let The Media And Marco Rubio Tell You He  Won  By Finishing Third In Iowa</a><p id="break" data-id="16195"></p>
<a id="16269" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.dulux.com.au/">Dulux   Welcome to Dulux Australia</a><p id="break" data-id="16269"></p>
<a id="16100" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://futurism.com/nasa-unveils-new-modem-can-transmit-data-100-times-faster-existing-technologies/">NASA Unveils New Modem That Can Transmit Data 100 Times Faster Than Existing Technologies</a><p id="break" data-id="16100"></p>
<a id="16193" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/02/trolls-and-nazis-mourn-trump-loss.html?via=newsletter&amp;source=politics">Trolls and Nazis Mourn Trump Loss   The Daily Beast</a><p id="break" data-id="16193"></p>
<a id="16239" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/01/donald-trump-the-hater-is-now-a-loser.html?via=newsletter&amp;source=DDMorning">Donald Trump  The Hater Is Now a Loser   The Daily Beast</a><p id="break" data-id="16239"></p>
<a id="16243" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/articles/2016/02/02/biker-gang-in-bloody-brawl-is-loaded-with-cops.html?via=newsletter&amp;source=DDMorning">Biker Gang in Bloody Brawl Is Loaded With Cops   The Daily Beast</a><p id="break" data-id="16243"></p>
<a id="16183" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/listen/sky-ferreira-primal-scream-where-the-light-gets-in?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-02+CH+Daily+for+02+February+2016">Primal Scream   Sky Ferreira  Where the Light Gets In   Cool Hunting</a><p id="break" data-id="16183"></p>
<a id="16055" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://fullweb.io/">Fullweb Weekly   The newsletter for fullstack developers</a><p id="break" data-id="16055"></p>
<a id="16266" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.marktuckey.com.au/">MARK TUCKEY   Australian made timber furniture</a><p id="break" data-id="16266"></p>
<a id="16260" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://tracearchitects.com.au/">Trace   project</a><p id="break" data-id="16260"></p>
<a id="16288" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.huffingtonpost.com/entry/bernie-sanders-donald-trump-minimum-wage_us_56afcc13e4b0b8d7c2303e12?via%253Ddailybeast&amp;via=newsletter&amp;source=DDAfternoon">Bernie Sanders Made The Only Attack On Donald Trump That Actually Worked</a><p id="break" data-id="16288"></p>
<a id="16185" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.coolhunting.com/?utm_source=sendicate&amp;utm_medium=email&amp;utm_campaign=2016-02-02+CH+Daily+for+02+February+2016">Cool Hunting</a><p id="break" data-id="16185"></p>
<a id="16231" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.itsnicethat.com/news/havas-helia-beer-0101-joy-and-optimism-020216">It s Nice That   Havas helia launches beer that  tastes of joy and optimism </a><p id="break" data-id="16231"></p>
<a id="16249" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thedailybeast.com/cheats/2016/02/02/trump-breaks-post-iowa-twitter-silence.html">Trump Breaks Post Iowa Twitter Silence   2nd Place  Nice    The Daily Beast</a><p id="break" data-id="16249"></p>
<a id="16157" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://nowiknow.com/quizzes/how-well-do-you-know-your-groundhog-day-movie/">How Well Do You Know Your Groundhog Day Movie    Now I Know Quizzes</a><p id="break" data-id="16157"></p>
<a id="16096" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/2016/2/1/10886644/crispr-news-uk-niakan?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/1/16&amp;utm_term=Vox%20Newsletter%20All">In a world first  UK scientists just got approval to edit human embryos   Vox</a><p id="break" data-id="16096"></p>
</div>
</body>
</html>
