<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Sunday, Feb 14 2016 😎</h1>
  <div id="links">
  <a id="17348" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.washingtonpost.com/news/post-politics/wp/2016/02/12/sanders-wins-on-points-but-doesnt-take-any-of-clintons-turf/">Sanders wins on points  but doesn t take any of Clinton s turf   The Washington Post</a><p id="break" data-id="17348"></p>
<a id="17332" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.nytimes.com/2016/02/11/fashion/new-york-fashion-week-smartphones-killing-off-runway-show.html?_r=1&amp;utm_source=Mic+Check&amp;utm_campaign=328b9520a6-Friday_February_122_12_2016&amp;utm_medium=email&amp;utm_term=0_51f2320b33-328b9520a6-286993097&amp;mtrref=undefined&amp;gwh=FF58818C38ECBD7EDDFE05E3EA22C369&amp;gwt=pay">How Smartphones Are Killing Off the Fashion Show   The New York Times</a><p id="break" data-id="17332"></p>
<a id="17343" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.buzzfeed.com/mbvd/taylor-swift-called-kanye-west-song-misogynistic?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/12/16&amp;utm_term=Vox%20Newsletter%20All#.hykgOK3e1a">Taylor Swift Called Kanye West s Song  Misogynistic    BuzzFeed NewsBuzzfeed</a><p id="break" data-id="17343"></p>
<a id="17334" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.vox.com/world/2016/2/12/10979304/clinton-sanders-kissinger?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/12/16&amp;utm_term=Vox%20Newsletter%20All">Bernie Sanders is right  Hillary Clinton praising Henry Kissinger is outrageous   Vox</a><p id="break" data-id="17334"></p>
<a id="17333" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.usatoday.com/story/news/world/2016/02/11/us-russia-agree-deal-cease-fire-syrias-civil-war/80259530/?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/12/16&amp;utm_term=Vox%20Newsletter%20All#">U S   Russia agree to a deal for a cease fire in Syria s civil war</a><p id="break" data-id="17333"></p>
<a id="17350" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://medium.com/quality-works/an-inquiry-into-this-lego-star-wars-dinosaur-d47d3a64c3b7?utm_source=Sailthru&amp;utm_medium=email&amp;utm_campaign=Vox%20Sentences%202/12/16&amp;utm_term=Vox%20Newsletter%20All#.11bqwc1ps">An Inquiry into a Lego  Star Wars Dinosaur   Quality Works   Medium</a><p id="break" data-id="17350"></p>
</div>
</body>
</html>
