<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<body>
  <h1>Amy Href's links of the day for Tuesday, Feb 16 2016 😎</h1>
  <div id="links">
  <a id="18242" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://americansongwriter.com/2015/11/chris-stapleton-the-natural-2/?curator=MusicREDEF">Chris Stapleton  The Natural   American Songwriter</a><p id="break" data-id="18242"></p>
<a id="18540" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://londonist.yplanapp.com/london/food-and-drink/?utm_medium=affiliate&amp;utm_campaign=fooddrink&amp;utm_source=londonist&amp;utm_content=banner">Food   Drink   London   Londonist</a><p id="break" data-id="18540"></p>
<a id="18309" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://soundcloud.com/violeta-nedkova/keep-your-dream-alive">A Monday Message   The Essentials for Keeping Your Dream Alive by Violeta Nedkova   Free Listening on SoundCloud</a><p id="break" data-id="18309"></p>
<a id="18230" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.wsj.com/articles/the-freakish-advantage-of-nba-all-stars-1455224954?utm_source=Casual+Spectator&amp;utm_campaign=6f89bc6c69-Campaign_001_02_01_2016&amp;utm_medium=email&amp;utm_term=0_2e9018b243-6f89bc6c69-279242985">The Freakish Advantage of NBA All Stars   WSJ</a><p id="break" data-id="18230"></p>
<a id="18584" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://pubads.g.doubleclick.net/gampad/jump?iu=/4160/man.fas.newsletters/coexistdaily&amp;sz=336x280%7C300x250&amp;tile=2&amp;c=1455577242095">Design Award   Fast Company   Business   Innovation</a><p id="break" data-id="18584"></p>
<a id="18248" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.thefader.com/2016/02/10/grammy-urban-contemporary-nominees-kehlani-internet?curator=MusicREDEF">Kehlani  The Internet  and Lianne La Havas On What An  Urban Contemporary  Grammy Means To Them   The FADER</a><p id="break" data-id="18248"></p>
<a id="18310" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.makeithappenpodcast.com/s02-e025">S02 E02 5</a><p id="break" data-id="18310"></p>
<a id="18390" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.atlasobscura.com/articles/the-sonic-booms-the-dod-doesnt-want-you-to-hear?utm_source=Atlas+Obscura&amp;utm_campaign=d8b2111803-Newsletter_2_15_20162_12_2016&amp;utm_medium=email&amp;utm_term=0_62ba9246c0-d8b2111803-61391109&amp;ct=t(Newsletter_2_15_20162_12_2016)&amp;mc_cid=d8b2111803&amp;mc_eid=6ac52795e5">The Sonic Booms The Government Doesn t Want You to Hear   Atlas Obscura</a><p id="break" data-id="18390"></p>
<a id="18311" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.amandasandlin.com/creative-thoughts/">Creative Thoughts   Amanda Sandlin</a><p id="break" data-id="18311"></p>
<a id="18131" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://css-tricks.com/building-a-jekyll-site-part-1-of-3/">Building a Jekyll Site   Part 1 of 3  Converting a Static Website To Jekyll   CSS Tricks</a><p id="break" data-id="18131"></p>
<a id="18518" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://storystudio.oculus.com/en-us/">Oculus Story Studio</a><p id="break" data-id="18518"></p>
<a id="18202" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.macworld.co.uk/feature/apple/apple-virtual-reality-release-date-rumours-features-leaks-patents-2016-tim-cook-flyby-media-3601447/">Apple VR release date and feature rumours  and images   Features   Macworld UK</a><p id="break" data-id="18202"></p>
<a id="18533" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://solveforinteresting.com/stalking-the-mixed-reality-tech-stack/?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+SolveForInteresting+%28Solve+for+Interesting%29">Stalking the Mixed Reality tech stack   Solve for Interesting</a><p id="break" data-id="18533"></p>
<a id="18419" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.geeky-gadgets.com/htc-one-m10-may-also-come-with-windows-10-mobile-15-02-2016/?utm_medium=email&amp;utm_source=digg">HTC One M10 May Also Come With Windows 10 Mobile   Geeky Gadgets</a><p id="break" data-id="18419"></p>
<a id="18158" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://bravenewcoin.com/news/21-inc-offers-free-resource-to-help-optimize-bitcoin-fees/">21 Inc offers free resource to help optimize bitcoin fees   Brave New Coin</a><p id="break" data-id="18158"></p>
<a id="18444" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://workshops.deepsense.io/workshops/new-york-usa-feb-18th-19th-2016/">New York  USA   Feb 18th   19th 2016   Machine Learning workshops</a><p id="break" data-id="18444"></p>
<a id="18315" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.braidcreative.com/blog/know-your-dream-client">Know Your Dream Client   Becoming a Better Creative Expert</a><p id="break" data-id="18315"></p>
<a id="18179" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="https://www.eventbrite.com/e/getir-hackathon-tickets-21105089892">Getir Hackathon Tickets  Fri  Feb 19  2016 at 7 00 PM   Eventbrite</a><p id="break" data-id="18179"></p>
<a id="18319" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://xosarah.com/2016/02/10/7-questions-to-ask-when-your-passion-based-biz-starts-to-feel-like-work/">7 questions to ask when your passion based biz starts to feel like work</a><p id="break" data-id="18319"></p>
<a id="18282" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.npr.org/2016/02/11/466049701/how-establishment-became-the-buzzword-of-the-2016-election?curator=MediaREDEF">People Keep Talking About  The Establishment   What Is It  Anyway    NPR</a><p id="break" data-id="18282"></p>
<a id="18550" class="embedly-card" data-card-via="amyhref.com" data-card-controls="0" href="http://www.discover.org.uk/whatson/event/michael-rosens-bear-hunt-chocolate-cake-bad-things">Michael Rosen s Bear Hunt  Chocolate Cake and Bad Things   What s on   Discover Children s Story Centre</a><p id="break" data-id="18550"></p>
</div>
</body>
</html>
