h1
  = "Amy Href + #{current_user.name}"
  br
  = "(#{current_user.email}) 😎"

.links
  - @hrefs.each do |href|
    a id="#{href.id}" class='embedly-card' data-card-via='amyhref.com' data-card-controls='0' href="#{href.url}"
    p.break.meta data-id="#{href.id}"
      ' &mdash; #{href.newsletter.email}

p.archive
