/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  //background: url("/images/bg2.jpg") repeat center fixed;
  background: url("/images/bg7.jpg") repeat center fixed;
}

.flash {
  font-family: sans-serif;
  background: #00B5CA;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999999;
  left: 0;
  padding: 1em 0;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.gmail_signin {
  position: fixed;
  top: 0;
  right: 0;
}

.signout, .signin {
  position: fixed !important;
  top: .5em;
  right: 1em;
}

h1 {
  color: #000;
  margin-bottom: 1.5em;
  text-align: center;
  font-family: 'Lobster', serif;
}

p.about {
  text-align: center;
  margin-top: -2.5em;
  margin-bottom: 2.5em;
  text-shadow: 0px 1px 1px #bbb;
  font-weight: italic;
}

.archive {
  text-align: center;
  margin-bottom: 2em;
}

.link {
  width: 600px;
  max-width: 100%;
  margin: 5px auto;
  position: relative;
  background-color: #fff;
  text-shadow: 0px 1px 1px #bbb;
  font-family: 'Open Sans', serif;
}

.card {
  text-align: center;
  width: 600px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  margin: 5px auto;
  color: #464646;
  position: relative;
  width: auto;
  z-index: 1;
  font-family: Oxygen,Arial,"Helvetica Neue",Helvetica,sans-serif;
  border-bottom: 2px solid rgba(0,0,0,0.12);
  border-right: 2px solid rgba(0,0,0,0.12);
  padding: 1em;
  font-size: 13px;
  line-height: 20px;
  background: transparent;
}

.embedly-card {
  padding: 0 1em;
}

div.embedly-card {
  border-right: 2px solid rgba(0,0,0,0.12);
  border-bottom: 2px solid rgba(0,0,0,0.12);
}

.break {
  margin: 0;
  padding-top: .25em;
  height: 6em;
  //background: url("/images/bg2.jpg") repeat fixed center;
  background: url("/images/bg7.jpg") repeat center fixed;
}

.meta {
  font-size: small;
  color: #8A8A8A;
  text-shadow: 0px 1px 1px #bbb;
}

.day {
  width: 100%;
  padding: 1em;
  display: block;
  margin-bottom: 5em;
  background-color: #fff;
}

.date {
  color: #464646;
  text-shadow: 0px 1px 1px #bbb;
  font-weight: bold;
  text-transform: uppercase;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.btn {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1.0625em;
  padding-left: 2em;
  font-size: 1.25em;
  background-color: rgba(255,255,255,0.8);
  border-color: rgba(230,230,230,0.8);
  color: #333;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  border: none;
  color: #4c5759;
  font-weight: normal;
  box-shadow: none;
  transition: none;
  margin: 0;
}

.btn:hover {
  transition: .3s;
  background-color: rgba(20, 38, 62, 0.8);
  color: #fff;
}

.btn.btn--primary {
  background-color: #00b5ca;
  color: white;
}

.btn.btn--on-white {
  background-color: #c4cecf;
}
