<!DOCTYPE html>
<html>
  <head>
    <title>Amyhref.com // Yesterday's links today</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/images/amyhref.ico" /> 
    <link href="/css/amyhref.css" media="screen" rel="stylesheet" type="text/css" /> 
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='flash' style='display: none;'>
    </div>
    <div id="overlay">
      <!--<img id="loading" src="http://bit.ly/pMtW1K">-->
    </div>
    <div class='gmail_signin'>
      <a href='/auth/google_oauth2'>
        <img src='/assets/google_signin_buttons/google_signin_button.png' width='191' height='46'>
      </a>
    </div>
    <%= yield %>
    <script>
      (function(w, d){
       var id='embedly-platform', n = 'script';
       if (!d.getElementById(id)){
         w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
         var e = d.createElement(n); e.id = id; e.async=1;
         e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
         var s = d.getElementsByTagName(n)[0];
         s.parentNode.insertBefore(e, s);
       }
      })(window, document);
    </script>
  </body>
  <!--<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>-->
</html>
